<template id="copy-halo">
    <style id="mycss">
    :host {

    }
    </style>
    <script type="lively4script" data-name="initialize">
    () => {
      System.import(lively4url +"/src/client/morphic/copying.js").then( function(copying) {
        $("body /deep/ copy-halo")[0].style.backgroundImage =
          'url(' +lively4url + "/src/client/media/copy.svg)"
        $("body /deep/ copy-halo").off("click").on("click", function() {
          copying.handle(window.that);
        });
      });
    }
    </script>
</template>
<script class="registrationScript">
  lively.registerTemplate()
</script>
