<template id="copy-halo">
    <style>
      @import url("src/external/font-awesome/css/font-awesome.min.css");
    </style>
    <script type="lively4script" data-name="initialize">
    () => {
      System.import(lively4url +"/src/client/morphic/copying.js").then( function(copying) {
        $("body /deep/ copy-halo").off("click").on("click", function() {
          copying.handle(window.that);
        });
      });
    }
    </script>
    <i class="fa fa-clone" aria-hidden="true"></i>
</template>
<script class="registrationScript">
  lively.registerTemplate()
</script>
