<template id="drag-halo">
    <style data-src="/src/external/font-awesome/css/font-awesome.min.css"></style>
    <script type="lively4script" data-name="initialize">
    () => {
      System.import(lively4url +"/src/client/morphic/dragging.js").then( function(dragging) {
        $("body /deep/ drag-halo").off("mousedown").on("mousedown", function(e) {
          dragging.start(e);

          // attach mousemove handler to body only after mousedown occured
          $(document).off("mousemove.drag").on("mousemove.drag", function(e) {
            dragging.move(e);

            // update position of halos on mousemove
            HaloService.showHalos(window.that);
          });
        });

        $(document).off("mouseup.drag").on("mouseup.drag", function(e) {
          // save this as dragging.stop will overwrite the current value
          var wasDragging = dragging.isDragging;

          dragging.stop(e);
          // detach mousemove handler from body
          $(document).off("mousemove.drag");

          if (wasDragging) {
            HaloService.showHalos(window.that);
            e.stopPropagation();
          }
        });
      });
    }
    </script>
    <i class="fa fa-arrows" aria-hidden="true"></i>
</template>
<script class="registrationScript">
  lively.registerTemplate()
</script>
