<template id="export-halo">
    <style>
      @import url("src/external/font-awesome/css/font-awesome.min.css");
    </style>
    <script type="lively4script" data-name="initialize">
    () => {
      System.import(lively4url +"/src/client/morphic/component-creator.js").then( function(exporting) {
        $("body /deep/ export-halo").off("click").on("click", function() {
          exporting.handle(window.that);
          window.HaloService.hideHalos();
        });
      });
    }
    </script>
    <i class="fa fa-share" aria-hidden="true"></i>
</template>
<script class="registrationScript">
  lively.registerTemplate()
</script>
