<template id="grab-halo">
    <style>
      @import url("src/external/font-awesome/css/font-awesome.min.css");
    </style>
    <script type="lively4script" data-name="initialize">
    () => {
      System.import(lively4url +"/src/client/morphic/grabbing.js").then( function(grabbing) {
         $("body /deep/ grab-halo").off("mousedown").on("mousedown", function(e) {
          grabbing.start(e);

          // attach mousemove handler to body only after mousedown occured
          $("body").off("mousemove.grab").on("mousemove.grab", function(e) {
            grabbing.move(e);

            // update position of halos on mousemove
            HaloService.showHalos(window.that);
          });
        });

        $("body").off("mouseup.grab").on("mouseup.grab", function(e) {
          // save this as grabbing.stop will overwrite the current value
          var wasGrabbing = grabbing.isGrabbing;

          grabbing.stop(e);
          // detach mousemove handler from body
          $("body").off("mousemove.grab");

          if (wasGrabbing) {
            HaloService.showHalos(window.that);
            e.stopPropagation();
          }
        });
      });
    }
    </script>
    <i class="fa fa-hand-rock-o" aria-hidden="true"></i>
</template>
<script class="registrationScript">
  lively.registerTemplate()
</script>
