<template id="resize-halo">
    <style>
    :host {
    }
    </style>
    <script type="lively4script" data-name="initialize">
    () => {
      System.import(lively4url +"/src/client/morphic/resizing.js").then( function(resizing) {
        $("body /deep/ resize-halo")[0].style.backgroundImage =
          'url(' +lively4url + "/src/client/media/resize.svg)"
        $("body /deep/ resize-halo").off("mousedown").on("mousedown", function(e) {
          resizing.start(e);

          // attach mousemove handler to body only after mousedown occured
          $(document).off("mousemove.resize").on("mousemove.resize", function(e) {
            resizing.move(e);

            // update position of halos on mousemove
            HaloService.showHalos(window.that);
          });
        });

        $("body").off("mouseup.resize").on("mouseup.resize", function(e) {
          if (resizing.resizing) {
            resizing.stop(e);
            // detach mousemove handler from body
            $(document).off("mousemove.resize");
          }
        });
      });
    }
    </script>
</template>
<script class="registrationScript">
  lively.registerTemplate()
</script>
