<template id="unpack-halo">
    <style>
    :host {

    }
    </style>
    <script type="lively4script" data-name="initialize">
    () => {

      System.import(lively4url +"/src/client/morphic/component-creator.js").then( function(unpacking) {
        $("body /deep/ unpack-halo")[0].style.backgroundImage =
          'url(' +lively4url + "/src/client/media/unpack.png)"

        $("body /deep/ unpack-halo").off("click").on("click", function() {
          unpacking.unpackShadowDOM(window.that);
          window.HaloService.hideHalos();
        });
      });
    }
    </script>
</template>
<script class="registrationScript">
  lively.registerTemplate()
</script>
