<template id="unpack-halo">
    <style data-src="src/external/font-awesome/css/font-awesome.min.css"></style>
    <script type="lively4script" data-name="initialize">
    () => {

      System.import(lively4url +"/src/client/morphic/component-creator.js").then( function(unpacking) {
        $("body /deep/ unpack-halo").off("click").on("click", function() {
          unpacking.unpackShadowDOM(window.that);
          window.HaloService.hideHalos();
        });
      });
    }
    </script>
    <i class="fa fa-archive" aria-hidden="true"></i>
</template>
<script class="registrationScript">
  lively.registerTemplate()
</script>
