
img {
  max-width: 900px;
}

.lively-slide {
  position: absolute;
  top: 0px;
  left: 0px;
  width:   923px; /* 20/13 * 600 */
  height: 600px;
  /* border: solid 0px rgb(240,240,240); */
  padding: 20px;
  background-color: white;
  border: 1px solid rgb(220,220,220)
  page-break-before: always;

}

p {
  font-size: 18pt
}
  

.title, .subtitle, .authors, .credentials, .conference {
  margin-top: 30px;
  text-align: center;
}

.title {
  margin-top: 150px;
  font-size: 26pt;
  color: #1C6BA0;
  font-weight: bold;
}

.subtitle {
  font-size: 20pt;
  color: #f28500;
  font-weight: bold;
}

.authors, .credentials {
  font-size: 18pt;
  margin-top: 60px;
}

.credentials, .conference {
 font-size: 14pt;
}

.logo {
  position: absolute;
  top: 20px;
  right: 20px;
}

.page-number {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

h1 {
 font-size: 30pt;
}

h2 {
 font-size: 24pt;
}

ul li, ol li  {
  font-size: 18pt;
  padding: 3px;
  margin-top: 5px;
  line-height: 115%;
}

ul li ul li, ol li ol li {
  font-size: 16pt;
  padding: 2px;
  margin-top: 5px;
}


@media print {
  body {
    font-family: Helvetica, Arial, Sans-Serif;
  }
  hr {
    page-break-before: always;
    border: 0px solid white;
    background: white;
  }  
  .lively-slide {
    page-break-before: always;
  }  
 
  .lively-presentation {
    transform-origin: top left;
    transform: scale(1)
  }
}


li:first-child {
    margin-top: 0px;
}

li {
  margin-bottom: -5px;
}

li:last-child {
    margin-bottom: 10px;
}

ul {
  list-style: none;
}


ul  li::before{
  content: "■"; /* □ */ 
  color: rgb(255, 142, 0);
  display: inline-block; 
  width: 1.2em;
  position: relative;
  top: -4px;
  font-size: 12pt;
  margin-left: -1.2em;
}
  
ul  li li::before{
  content: "□"; 
  color: rgb(255, 142, 0);
  display: inline-block; 
  width: 1.2em;
  position: relative;
  top: -5px;
  font-size: 12pt;
  margin-left: -1.2em;
}


/* ul, li {
  border: solid red 1px;
}
 */