<template id="literature-paper" >
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style data-src="/src/client/lively.css"></style>

  <style>
    :host {
      overflow: scroll
    }
      
    #pane {
      margin: 20px
    }
    
    .abstract {
      color: gray;
      font-style: italic;
    }
    
    a {
      color: inherit;
      text-decoration: none; 
    }

    a:hover {
      color: rgb(0, 78, 151);
      text-decoration: underline; 
    }

    .title {
      font-style: italic;
    }

    
    .key {
     font-weight:bold
    }
    
     .pdfs {
      color: gray
    }
    
    #citation-count {
      color: gray;
      white-space: nowrap;
    }
    
    .publication {
      color: gray;
      background: lightgray;
      padding: 1px;
      border-radius: 2px;
    }
    .publication a {
      margin: 4px;
    }
    
    .field {
      line-height: 20pt;
      padding: 3px;
    }
    
    .field a {
      color: darkgreen;
      background: lightgreen;
      padding: 1px;
      border-radius: 2px;
    }
    
    
  </style>
  <div id="pane">
  </div>
</template>

