<template id="aexpr-test">
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style>
    :host {
      
    }
    #content {
      background-color: gray;
    }
    .scroller {
      flex-grow : 1;
      overflow: scroll;
      width: 100%;
      height: 100%;
    }
  </style>
  <div style="width: 100%; height: 100%; display: flex; flex-flow: column;">
    <div style="background-color: #FAFAFA;">
      <button id="create">
        Create AE
      </button>
      <button id="change">
        Change AEs
      </button>
    </div>
  </div>
  
</template>
