<template id="jumping-cubes" >
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
:host(.noClickAllowed) #container, :host(.noClickAllowed) .cube {
    cursor:auto; 
}
#content {
  background-color: white;
}
  #container {
    height: 100%;
    overflow: auto;
    
    display: grid;
    place-items: center;
  }
  #field {
    border: 3px gray solid;
    border-color: var(--playerOnTurn);
  }
.cube-container {
  transform: scale(1);
  perspective: 600px;
}

.cube-container:hover {
  z-index: 10;
  transform: scale(1.3);
}

.cube-container,
.shaker,
.bouncer,
.exploder,
.cube,
#field {
  transition: all 250ms ease-out;
}

.cube {
  border: 1px lightgray solid;
  transition: all 250ms ease-out, border 1s ease-in;
}
.cube:hover {
  border: 2px var(--playerOnTurn) solid;
  transition: all 250ms ease-out, border 0s ease-in;
}
  
.bouncer, .exploder, .shaker, .cube {
  margin: 0;
  width: 100%;
  height: 100%;
}
  
  #field {
      display: grid;
  grid-gap: 0.5px;
  grid-auto-flow: rows;

  }
  
  #energy {
    color: gray;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  #greenPlayer {
    color: green;
  }
  #redPlayer {
    color: red;
  }
  #gameEnd-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    z-index: 90;
    
    display: none;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.0);
  }
  #gameEnd-message {
    background-color: rgba(255, 126, 126, 1.0);
    background-image: linear-gradient(transparent 50%, lightgray 50%);
    background-size: 12px 12px;
    border: 1px solid darkgray;
    box-shadow: darkgray 0px 4px 3px;
    color: white;
    width: calc(100% - 50px);
    height: 80px;
    text-align: center;
    border-radius: 12px;
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    font-size: 30pt;
    text-shadow: -1px 0 darkgray, 0 1px darkgray, 1px 0 darkgray, 0 -1px darkgray;
  }
  #gameEnd-newGame {
    position: absolute;
    color: white;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: -1px 0 darkgray, 0 1px darkgray, 1px 0 darkgray, 0 -1px darkgray;
  }

</style>
  <span id='greenPlayer'></span>
  <span id='redPlayer'></span>
  <span id='energy'></span>
  <div id='container'>
    <div id="field"></div>
  </div>

  <div id='gameEnd-container'>
    <div id="gameEnd-message">Player Green Wins!</div>
    <div id="gameEnd-newGame">Click to Start a New Game</div>
  </div>
</template>

