<template id="node-ancestry-list">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>

  :host {
    
  }
  
  #sourceEditor {
    display: none;

    border: grey 1px solid;
    border-radius: 1.5px;
  }

  /* TAG LIST */
  #parentElements {
    z-index: 10;
    display: none;
    width: max-content;
    
    border: grey 1px solid;
    border-radius: 1.5px;
    background-color: white;
  }
  #parentElements > div {
    border: 0.5px solid rgba(0, 0, 0, 0.0);
  }
  #parentElements > div.element-meta-data {
    background-color: rgba(255, 165, 0, 0.2); /* orange */
  }
  #parentElements > div.element-meta-data.jsx {
    background: rgba(100, 176, 80, 0.2); /* green */
  }
  #parentElements > div.element-meta-data.active-expression {
    background-color: rgba(255, 0, 0, 0.2); /* red */
  }
  #parentElements > div.element-meta-data.active-group-item {
    background-color: rgba(0, 0, 255, 0.2); /* blue-ish */
  }
  /* we double the hover to overwrite the priority given by adding multiple classes */
  #parentElements > div:hover:hover {
    background-color: rgba(100, 100, 100, 0.3);
  }
  #parentElements > div.selected-node {
    border: 0.5px solid blue;
  }
  span.element-tag {
    color: green;
  }
  span.attribute-name {
    color: blue;
  }
  span.attribute-value {
    color: brown;
  }
  span.attribute-syntax {
    color: black;
  }
  span.element-shadow-root {
    color: darkblue;
  }
  
</style>
  <div id="parentElements"></div>
  <lively-editor id="sourceEditor"></lively-editor>
</template>