<template id="lively-petrinet-toolbar">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
  


  .simulationButton {
    margin: 3px;
    font-weight: bold;
    border: none;
    width: 60px;
    height: 35px;
    color: #ffffff;
    font-size: 15px;
    margin-top: 5px;
  }
  
  .alignRight {
    text-align: right;
    display: inline-block
  }
  
  
  
  #outerBox {
      border-bottom: 3px solid #f0f0f5;
  }
  
  #logo{
    margin-top: 5px;
    margin-left: 15px;
  }
  
  
  #delete {
    margin-top: 10px;
    padding-right: 10px;
    float: right;
  }
</style>
  
<div id="outerBox">
  <img src="https://lively-kernel.org/lively4/lively4-petrinet/src/components/demo/Logo.png" id="logo">
   <i style="margin-left: 50px">Unser Name</i>
  <button class="simulationButton" id="startButton" style="background-color:#C5E1A5">Start</button>
  <button class="simulationButton" id="runButton" style="background-color:#C5E1A5">Run</button>
  <button class="simulationButton" id="stepButton" style="background-color:#80DEEA">Step</button>
  
  <span id="simulationState">1</span>
  <input 
    id="simulationSlider" 
    class="slider"
    type="range" 
    min="0" 
    max="60" 
    step="1" 
    value="1"
  />
  <img src="https://lively-kernel.org/lively4/lively4-petrinet/src/components/demo/trash_24px.png" id="delete">

  

</div>
</template>