<template id="lively-simulation-cell">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
  .container {   
    margin:0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    min-width: 300px;
    min-height: 300px;
    border: solid lightgrey 1px;
    border-radius: 1.5px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  hr {
    width:100%;
    margin:0px;
    height:1px;
    border-width:0;
    color: rgba(160,160,160,0.2);
    background-color: rgba(160,160,160,0.2);
  }
  
  .content {
    padding: 10px;
  }
  .header {
    padding: 10px;
  }
  .w100 {
    width: 100%;
  }
  #cellNameInput {
    border: none;
    background: none;
  }
  #stateTextArea {
    resize: none;
    height: 50px;
    border: 2px solid lightgrey;
  }
  #snippetCodeMirror {
    height: 180px;
  }
</style>
<div class='container'>
  <div class='header'>
      <input id='cellNameInput' class='w100' placeholder="Enter cell name" />
  </div>
  <hr>
  <div class='content' class='w100'>
    <textarea id='stateTextArea' class='w100'></textarea>
    <lively-code-mirror id='snippetCodeMirror' class='w100'></lively-code-mirror>
  </div>
</div>
<lively-resizer class="top-left"></lively-resizer>
<lively-resizer class="top-right"></lively-resizer>
<lively-resizer class="bottom-right"></lively-resizer>
<lively-resizer class="bottom-left"></lively-resizer>
</template>