<template id="lively-petrinet-place">
<style type="text/css">
  #circle {
    width: 50%;
    height:50px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 1;
    border: 2px solid #333333;
  }
  #container {
    width:100px;
  }
  #inputLabel {
    font-size: 11px;
    color: #333333;
    text-align: center;
    background-color: transparent;
    border-color: transparent;
    width:94%;
    z-index: 1;
  }
  
</style>


<div id="container">
  <div class="lively-content" id="circle">
  </div>
  <input id=inputLabel type="Text" value="Eingabe">

</div>

<slot></slot>
</template>