<template id="lively-whyline">
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
<style>
  :host {
    width: 50px;
    height: 25px;
  }

  :host {
    display: flex;
    flex-direction: column;
  }
    
  #buttonRow, #firstRow, #secondRow {
    border: 1px gray solid;
  }

  #firstRow, #secondRow {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  
  #firstColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  #secondColumn{
    flex: 0.2
    
  }
  
  #firstColumn {
    flex: 0.8;
  }

  #runtimePane, #objectsPane {
     border-left: 2px gray solid;
  }
  
  #runtimePane {
    overflow: auto;
  }
    
  #sourcePane {
    flex: 1;
  }
  
  #runtimePane {
    flex: 0.5;
  }


  #tracePane {
    flex: 0.5;
  }
  
  #objectsPane {
    flex: 0.5;
  }
  
  #sourcePane, #tracePane {
    display: flex;
    flex-direction: column;
  }

  lively-editor {
    flex: 1;
  }

  lively-editor {
    flex: 1;
  }
  
  lively-inspector {
    flex: 1;
    height: 100%;
  }
  
  #traceViewPane {
    flex: 1;
    /*
      background-color: lightgray; 
    */
    overflow: auto;
  }
  
  #questionPane {
    overflow-y: scroll;
  }
  
  .traceLabel {
    font-size: 10px;
    /*
      background-color: rgba(0,0,255,0.1);
    */
    border: 1px solid gray;
    padding: 1px;
  }

  .traceNode {
    patting-top: 10px;
    patting-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;

    /*
      background-color: rgba(0,0,255,0.1);
    */
    white-space: nowrap;

    /*
    */
  }

  #traceView {
  }
  
  .traceNode {
    display: inline-block;
    vertical-align: top; 
    float: left;
    margin: 1px;
    padding: 0px;
  }
  
  .selected > .traceLabel {
    background-color: #f9cb9c;
  }

  .markerLine {
    overflow-x: hidden;
    white-space: nowrap;
  }

  .markerResult {
    font-size: 10px;
    border: solid 0.5px gray;
    margin: 0.5px;
    display: inline-block;
    white-space: normal;
  }
  
  #traceView {
    width: max-content;
  }

  .questionButton {
    width: 100%;
  }

</style>
  <div id="buttonRow" class="fill">
    <button id="generateTrace" title="generate trace from code">
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </button>
    <button id="previousOccurrence" title="previous occurrence">
      <i class="fa fa-angle-double-left" aria-hidden="true"></i>
    </button>
    <button id="predecessor" title="step back">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </button>
    <button id="previousControlFlow" title="last branch in control flow">
      <i class="fa fa-angle-up" aria-hidden="true"></i>
    </button>
    <button id="successor" title="step forward">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </button>
    <button id="nextOccurrence" title="next occurrence">
      <i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </button>
  </div>

  <div id="firstRow">
    <div id="firstColumn">
      <div id="sourcePane">
        <lively-editor id="source"></lively-editor>
        <canvas id="canvas" width="0px" height="0px"></canvas>
      </div>    
    </div>

  <!--   <lively-separator></lively-separator>

    <div id="secondRow">
      <div id="tracePane">
        <lively-inspector id="traceInspector" type="ast"></lively-inspector>
      </div>

      <lively-separator></lively-separator>

      <div id="runtimePane">
        <canvas id="canvas" width="300px" height="300px"></canvas>
        <pre id="log"></pre>
      </div>
    </div>
     -->
    <lively-separator></lively-separator>

    <div id="secondColumn">
      <div id="questionPane">
        <!--<div id="objectInspectorPane">
          <lively-inspectory id="objectInspector"></lively-inspectory>
        </div>-->
      </div>
    </div>
  </div>
  <lively-separator></lively-separator>
  <div id="secondRow">
    <div id="traceViewPane">
      <div id="traceView"></div>
    </div>
  </div>
</template>
