<template id="lively-petrinet-transition">
<style type="text/css">
  

#transition{
    width: 10px;
    height: 50px;
    background: #333333;
}
  
</style>

  <div class="lively-content" id="transition"> 
  </div>
  <p style="font-size: 11px; color: #333333; margin-left: -12px">
  Prob:
  <input style="font-size: 11px; color: #333333; background-color: #ffffff; border-color: transparent" id="inputProbability" type="text" value="0" size="8">
  </p>
  <input style="font-size: 11px; color: #333333; background-color: #ffffff; border-color: transparent; margin-left: -12px" id="inputText" type="text" value="Text" size="8">
<slot></slot>
</template>
