<template id="lively-petrinet-prob-transition" >
<style type="text/css">
  #buttonWrapper { 
    text-align: left;
  }
  
  #container {
    width: 100px;
  }
  
  #inputProbability {
    font-size: 11px;
    color: #333333;
    text-align: center;
    background-color: transparent;
    border-color: transparent;
    width:94%;
    z-index: 1;
  }

</style>
  
<div id="container">
<lively-petrinet-transition></lively-petrinet-transition>
<input id="inputProbability" type="text" value="0.0">
</div>
</template>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
