<template id="lively-petrinet-simulation">
<style type="text/css">
  .simulationButton {
    margin: 5px;    
  }
  
  #outerBox {
      border-bottom: 3px solid #f0f0f5;
  }
</style>

<div id="outerBox">
  <button class="simulationButton" id="startButton">Start</button>
  <button class="simulationButton" id="stepButton">Step</button>
  <button class="simulationButton" id="runButton">Run</button>
     <img style="margin-top: 10px; margin-left: 400px"  src="https://lively-kernel.org/lively4/lively4-petrinet/src/components/demo/Trash_20px.png" id="delete">
</div>
</template>