<template id="jsx-ray" data-class="JsxRay">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
  :host {
    z-index: 1000;
    overflow: "";
    user-select: none;
    border: red solid 5px;
    border-radius: 50%;
    background: none;
  }
  #frame {
    overflow: hidden;
    background: rgba(255,255,255,0.75);
    pointer-events: auto;
    border: 0.5px limegreen dashed;
    border-radius:3px;
  }
  #frame.pickThrough {
    background: rgba(255,255,255,0.4);
    pointer-events: none;
    border: 0.5px black dashed;
  }

  #frameHandlesLeft {
    background-color: rgba(100,100,250,0.5)
  }
  
  #frameHandlesLeftLabel {
    transform-origin: 0 0;
    transform: rotate(270deg);
    width: 100px;
    color: white;
  }

  #handle {
    z-index: 100;
    background-color: gray;
    width: 10px;
    height: 10px;
  }

  .input {
    width: 300px;
  }
  
  #filterContainer {
    position: absolute;
    bottom: 0px;
  }

  #filterContainer label {
    transition: color 0.5s ease;

    font-size: 7pt;
    color: grey;
  }
  #filterContainer .filterForm label:hover {
    color: black;
  }
  #filterContainer .filterForm label:focus-within{
    color: black;
  }

  #filterContainer input {
    transition: background-color 0.5s ease, box-shadow 0.5s ease, color 0.5s ease;

    outline: none; /* outline: black dashed 1px; */
    background-color: rgba(250,250,250,0);
    color: grey;
  }
  #filterContainer input[type=text] {
    width: 300px;
  }
  #filterContainer input[type=checkbox] {
    transition: opacity 0.5s ease;
    
    opacity: 0.5;
  }
  #filterContainer input[type=checkbox]:hover {
    opacity: 1;
  }
  #filterContainer input[type=checkbox]:focus {
    opacity: 1;
  }
  #filterContainer input[type=text]:hover {
    box-shadow: 0 0 0 0.5pt lightgrey;
    background-color: rgba(250,250,250,1);
    color: black;
  }
  #filterContainer input[type=text]:focus {
    box-shadow: 0 0 0 0.5pt black;
    background-color: rgba(250,250,250,1);
    color: black;
  }
  #filterContainer input[type=text].error {
    box-shadow: 0 0 0 0.5pt red;
  }
  #sourceEditor {
    display: none;

    border: grey 1px solid;
    border-radius: 1.5px;
  }
  
  /* TAG LIST */
  #parentElements {
    z-index: 10;
    display: none;
    width: max-content;
    
    border: grey 1px solid;
    border-radius: 1.5px;
    background-color: white;
  }
  #parentElements > div {
    border: 0.5px solid rgba(0, 0, 0, 0.0);
  }
  #parentElements > div.jsx-element {
    background: rgba(100, 176, 80, 0.2); /* green */
  }
  #parentElements > div.jsx-element.active-expression {
    background-color: rgba(255, 165, 0, 0.2); /* orange */
  }
  #parentElements > div.jsx-element.active-group-item {
    background-color: rgba(0, 0, 255, 0.2); /* blue-ish */
  }
  #parentElements > div:hover,
  #parentElements > div.jsx-element:hover,
  #parentElements > div.jsx-element.active-expression:hover,
  #parentElements > div.jsx-element.active-group-item:hover {
    background-color: rgba(100, 100, 100, 0.5);
  }
  #parentElements > div.selected-node {
    border: 0.5px solid blue;
  }
  span.element-tag {
    color: green;
  }
  span.attribute-name {
    color: blue;
  }
  span.attribute-value {
    color: brown;
  }
  span.attribute-syntax {
    color: black;
  }
  span.element-shadow-root {
    color: darkblue;
  }
  
  /* mirror elements: default values */
  .mirror-element {
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: rgba(100, 100, 100, 0.2); /* grey-ish */
  }
  .mirror-element.jsx-element {
    background: rgba(100, 176, 80, 0.2); /* green */
  }
  .mirror-element.jsx-element.renders-active-expression {
    background-color: rgba(255, 165, 0, 0.2); /* orange */
  }
  .mirror-element.jsx-element.renders-active-group-item {
    background-color: rgba(0, 0, 255, 0.2); /* blue-ish */
  }
  .mirror-element .element-label {
    color: white;
    text-align: center;
  }
</style>
  <div id="frame" class="pickThrough">
    <div id="world"></div>
  </div>
  <div id="filterContainer">
    <div class="filterForm"><label for="nodeFilter">nodes<input id="nodeFilter" type="text" value="node => node.jsxMetaData" placeholder="nodes to show, e.g.: node => node.jsxMetaData" title="nodes to show"/></label></div>
    <div class="filterForm"><label for="eventFilter">events<input id="eventFilter" type="text" value="(obj, type, evt) => type === 'mousedown'" placeholder="events to show, e.g.: (obj, type, evt) => type === 'mousedown'" title="events to show"/></label></div>
  </div>
  <div id="handle"></div>
  <div id="frameHandlesLeft">
    <div id="frameHandlesLeftLabel">JSX-Ray</div>
  </div>
  <node-ancestry-list id="nodeAncestryList"></node-ancestry-list>
  <div id="parentElements"></div>
  <lively-editor id="sourceEditor"></lively-editor>
</template>
<script class="registrationScript">lively.registerTemplate()</script>

