<template id="academic-subquery" >
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
<style>
:host {
  
}
#content {
  display: none
}

.hover {
  position: relative;
  display: inline-block;
}

.hover .hovercontent {
  visibility: hidden;
  width: 80px;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  /*border-radius: 6px;*/

  /* Position the hover content */
  position: absolute;
  bottom: 125%;
  left: 50%;
  margin-bottom: -3px;

  /* Fade in hover */
  opacity: 0;
  transition: opacity 0.3s;
}

.hover .hovercontent .button {
  font-size: 10px
}

  .dropTarget {
    border: 3px solid white;
  }
  .dropTarget.over {
    border: 3px dotted #666;
  }
  
  .queryPart:blank {
    background: pink;
  }

.hover:hover .hovercontent {
  visibility: visible;
  opacity: 1;
}
  
</style>
<div id="pane"></div>
<div id="content"><slot></slot></div>
</template>

