<template id="input-combobox" >
<style>
  :host {
    display:inline-block;
    position: relative;
  }
  
  /* dropdown list */
  .dropdown {
    position: relative;
  }

  .dropdown select {
    width: 100%;
  }
  
  /* Support for monospace table-like displays */
  :host(.monospace) .dropdown select {
    font-family: monospace;
    font-size: 12px;
  }
  
  :host(.monospace) .dropdown input {
    font-family: monospace;
    font-size: 12px;
  }

  .dropdown > * {
    box-sizing: border-box;
    height: 1.5em;
  }

  .dropdown input {
    position: absolute;
    width: calc(100% - 20px);
  }
</style>
  <div class="dropdown">
    <input type="text" value="" id="input"/>
    <select id="options" tabindex='-1' onchange='this.previousElementSibling.value=this.value; this.previousElementSibling.focus();this.previousElementSibling.dispatchEvent(new Event("change")) '>
    </select>
  </div>
</template>