<template id="keyevent-display" >
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style>
   
    #pane {
      padding: 10px;
      background-color: rgba(255,255,255,0.3);
      width: fit-content;
    }
    
    .key {
      background-color: rgba(155,155,155,0.6);
      padding: 5px;
      border-radius: 4px;
      border: solid 1px gray;
      color: white;
    }
    
    .and {
      color: gray;
      font-weight: bold;
    }
  </style>
  <div id="pane">

  </div>
</template>

