<template id="lively-pdf" >
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style>
    #log {
      position: absolute;
    }
    #container {
      width: 100%;
      height: 100%;
      overflow: auto;
    }
    .pdfEditButtons {
      position: absolute;
      top: 0;
      right: 25px;
    }
    .-edit--active {
      background-color: #cc7314;
    }
    
    .-delete--active {
      background-color: #891010;
    }
    
    .highlightAnnotation {
      background: rgb(247, 195, 72);
      opacity: 0.25;
    }
    
    #viewerContainer {
      position: absolute;
    }
    
  </style>
  <style  data-src="/src/external/pdf_viewer.css"></style>
  <pre id="log"></pre>

  <div id="container">
    <div id="viewerContainer" class="pdfViewer"><div></div></div>
  </div>
  
  <div class="pdfEditButtons">
    <!-- Seminar prototype seems not to work any more... 
    <button id="pdf-add-button">
      <i class="fa fa-plus"></i>
    </button>
    <button id="pdf-delete-button">
      <i class="fa fa-trash"></i>
    </button>
    <button id="pdf-edit-button">
      <i class="fa fa-edit"></i>
    </button>
    <button id="pdf-save-button" disabled>
      <i class="fa fa-floppy-o"></i>
    </button>
    <button id="pdf-cancel-button" disabled>
      <i class="fa fa-ban"></i>
    </button>
    -->
    <button id="prevButton">
      <i class="fa fa-arrow-left"></i>
    </button>
    <button id="nextButton">
      <i class="fa fa-arrow-right"></i>
    </button>
  </div>
</template>

