<template id="lively-presentation" data-class="LivelyPresentation">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
  :host {
/*     width: 800px;
    height: 600px; */   
  }
  #content {
 
  }

  #prevButton {
    left: 20px;    
  }

  #nextButton {
    left: 40px;
  }

  #prevButton, #nextButton {
    position: absolute;
    top: 10px;
    padding: 1px;
    font-size: 8pt;
    background: none;
    border: none;
    z-index: 10000;
  }
  
</style>

  <div id="content">
  <content></content>  
  </div>
  <button id="prevButton">&lt;</button>
  <button id="nextButton">&gt;</button>

</template>
<script class="registrationScript">lively.registerTemplate()</script>

