 <template id="lively-menu" >
   <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
    <style>
      :host {
        position: absolute;
        top: "200px";
        left: "200px";
        border: 20px;
        z-index: 2000;
      }

      .outer-container {
        max-height: 99vh;
        overflow-y: auto;
      }
      .outer-container::-webkit-scrollbar {
        width: 3px;
      }
      .outer-container::-webkit-scrollbar-track {
        background: #eee;
      }
      .outer-container::-webkit-scrollbar-thumb {
        background: gray;
        border-radius: 10px;
      }

      .container {
          width: 250px;
          padding: 5px;
          // border-radius: 5px;
          // background-color: rgb(238, 238, 238);
          background-color: white;
          border: 0.7px solid gray;
          margin: 0;
          padding: 0px;
      }
      ul {
        margin: 0;
      }
      ul li {
        font-size: 9pt;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 5px;
        padding-right: 5px;
        font: arial, sans-serif;
        cursor: pointer;
        
        margin: 0;
        list-style-type: none;
        color:  #1a1a1a;
      }
      ul li.current {
          background-color: 	#778899;
          color: white;
      }
      span.submenuindicator {
        font-size: 9px;
        color: darkgray;
      }
      ul li label {
        color: lightgray;
        float: right;
      }
      ul li.filtered-out,
      ul li.filtered-out label,
      ul li.filtered-out span.submenuindicator {
          color: lightgray;
      }
      
      div.icon {
        clear: both;
        display: block;
        padding-top: 0px;
        width: 20px;
        height: 15px;
        float: left;
        overflow: hidden;
      }
      
      span#filter-hint {
        position: absolute;
        top: 100%;
        color: gray;
        left: 50%;
        transform: translate(-50%, 0px);
      }
    </style>
   <span id="filter-hint"></span>
   <div class="outer-container">
    <ul class="container">
    </ul>
   </div>
</template>


