<template id="lively-window-docking" >
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
:host {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 101;
}
  
  .helper-fixed {
    position: fixed;
    background: gray;
    opacity:0.8;
  }
  
  .helper-area {
    position:fixed;
    display: none; /* hide center areas for now */
  }
  
  #helper-preview {
    background-color: #778899;
    opacity: 0.8;
    position: fixed;
  }
  
</style>
 

  <div class="helper-fixed" id="helper-top"></div>
  <div class="helper-fixed" id="helper-bottom"></div>
  <div class="helper-fixed" id="helper-left"></div>
  <div class="helper-fixed" id="helper-right"></div>
  <div class="helper-area" id="helper-area-center">
    <div class="helper-fixed" id="helper-center-top"></div>
    <div class="helper-fixed" id="helper-center-botom"></div>
    <div class="helper-fixed" id="helper-center-left"></div>
    <div class="helper-fixed" id="helper-center-right"></div>
    <div class="helper-fixed" id="helper-center-center"></div>
  </div>
  
  <div id="helper-preview"></div>

</template>

