<template id="lively-mle-code-editor">
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.css"></style>
  <style>
    *, *::before, *::after {
          box-sizing: border-box;
        }
        button {
          margin: 0.75em;
        }
  </style>
  <article class="media">
    <div class="field media-content">
      <div class="control">
        <textarea class="textarea" cols="80" rows="20" placeholder="Code here..." id="code"></textarea>
      </div>
    </div>
    <div class="media-right">
      <p class="control">
        <button id="deployButton" class="button is-info">
          Deploy
        </button>
      </p>
      <p class="control">
        <button id="resetButton" class="button is-warning">
          Reset Connection
        </button>
      </p>
    </div>
  </article>
  <div class="notification" id="result">
    Here will be additional information on Success or Error.
  </div>
</template>
