<template id="lively-file" data-class="LivelyFile">
  <style data-src="/src/external/font-awesome/css/font-awesome.min.css"></style>
  
  <style>
    :host {
      user-select: none;
    }
    
    :host(.selected) {
      border: 1px solid blue;
    }
    
    #container {
      text-align: center;
    }

    #item-icon {
      height: 80%;
      font-size: 36px;
      width: 1.28571429em;
    }

    #item-name {
      font-size: 80%;
      text-align: center;
      word-break: break-all;
    }
    
    .fa-folder {
      color: #e99a01;
    }

    .fa-file-o {
      color: #999;
    }
    

  </style>
  <div id="container">
    <div id="icon">
      <i id="item-icon" class="fa" aria-hidden="true"></i>
    </div>
    <div id="item-name"></div>
  </div>
</template>
<script class="registrationScript">lively.registerTemplate()</script>