<template id="lively-tabs-wrapper" >
  <style data-src="/src/external/font-awesome/css/font-awesome.min.css"></style>
  <style>
  
  /*
      Tab Elements
  */
    .tab-bar {
      padding: 0px 0px 3px 0px;
      border-bottom: 1px solid #f1f3f4;
    }
    lively-tabs-wrapper {
      outline-style: none;
    }
    
    ul {
      list-style-type: none;
      margin: 0;
      padding: 2px 0px 0px 0px;
      overflow: hidden;
      background-color: #DEE1E6;
    }
    li {
      float: left;
      border-left: 1px solid #CACDD2;
      border-top: 1px solid #CACDD2;
      border-right: 1px solid #CACDD2;
      border-radius: 5px 5px 0px 0px;
      overflow:hidden
    }
    li a {
      display: block;
      font-size: 0.8em;
      color: #778899;
      text-align: center;
      padding: 5px 5px 3px 5px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #fafafa;
    }
    
    .tab-foreground {
      background-color: white;
    }
    .clickable {
      cursor: pointer;
    }
    
    .content-of-tab {
      position: absolute;
    }
   
    .window-content {
      position: relative;
      height: 100%;
    }
    
    
    
  </style>
  <div class="tabs-wrapper">

    <div class="tab-bar">
      <ul id="tab-bar-identifier">
        <li><span style="padding: 5px" class="clickable" id="plus-btn">+</span></li>
      </ul>
    </div>
    
  </div>  
  <div class="window">
    <div class="window-content" id="window-content">
      <slot></slot>
    </div>
  </div>

  <div class="tabs-wrapper-global" id="tabs-wrapper-global"></div>
</template>