<template id="lively-handwriting">
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style>
    #content {
      position: relative;
    }
    #log {
      position: absolute;
      top: 0px;
      left: 0px;
    }
    
    #mode {
      position: absolute;
      bottom: 0px;
      right: 0px;
      font-size: 30px;
      color: gray;
    }
    
    canvas {
      touch-action: none; /* This disables scrolling, when using pen */   
    }
  </style>
  <div id="content">
    <canvas></canvas>
    <div id="log"></div>
    <div id="mode"></div>
  </div>
</template>
