<template id="lively-tabs-wrapper" >
  <style data-src="/src/external/font-awesome/css/font-awesome.min.css"></style>
  <style>
  
  /*
      Tab Elements
  */
    .tab-bar {
      padding: 0;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #f1f3f4;
    }
    li {
      float: left;
    }
    li a {
      display: block;
      font-size: 0.8em;
      color: #778899;
      text-align: center;
      padding: 5px 5px 3px 5px;
      text-decoration: none;
      border: 1px solid #778899;
    }

    li a:hover {
      background-color: #778899;
      color: white;
    }
    
    .tab-plus-button {
      cursor: pointer;
    }
    
    .tab-detach-button {
      cursor: pointer;
    }
    
    .tab {
      cursor: pointer;
    }
    
  
    .content-of-tab {
      position: absolute;
    }
   
    .window-content {
      background-color: red;
      position: relative;
      height: 100%;
    }
    
    
    
  </style>
  <div class="tabs-wrapper">

    <div class="tab-bar">
      <ul id="tab-bar-identifier">
        <li><span style="padding: 5px" class="tab-plus-button" id="plus-btn">+</span></li>
      </ul>
    </div>
    
  </div>  
  <div class="window">
    <div class="window-content" id="window-content">
      <slot></slot>
    </div>
  </div>

  <div class="tabs-wrapper-global" id="tabs-wrapper-global"></div>
</template>