<template id="lively-mle-test-case" >
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"></style>
  <style>
    :host {
      overflow: auto;
    }
    *, *::before, *::after {
      box-sizing: border-box;
    }
    button {
      margin: 0.75em;
    }
  </style>
  <div id="tests">
    
  </div>
  <button id="addButton" class="button is-link">
    Add Test Case
  </button>
  <button id="executeButton" class="button is-pulled-right is-primary">
    Execute all tests
  </button>
</template>
