<template id="lively-markdown" data-class="LivelyMarkdown">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style data-src="/src/external/highlight.css"></style>
<style>
:host {
 
}
#content {
}
#source {
  display: none;
}

img {
  max-width: 800px;
}

  
#presentationButton {
  display: none
}
  
:host(.presentation) #presentationButton {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  font-size: 8pt;
  color: gray;
  background: rgb(240,240,240);
  border: none;
  padding: 1px;
  transform: rotate(270deg) translate(-30px,-30px);
}


  
</style>
<div id="content">
</div>
<div id="source">
	<content></content>
</div>
  <!--
<button id="presentationButton">presentation</button>
  -->
</template>
<script class="registrationScript">lively.registerTemplate()</script>

