<template id="lively-resizer" >
  <style data-src="/templates/livelystyle.css"></style>
  <style data-src="/src/external/font-awesome/css/font-awesome.min.css"></style>
  <style>
    :host {
      position: absolute;
      width: 10px;
      height: 10px;
      color: rgba(1,1,1,0.0);
      transition: color 150ms ease-in-out; 
    }
    
    i {
      position: absolute;
      font-size: 20px;
      z-index: 100;
    }
    
    :host(.top-left) {
      left: 0px;
      top: 0px;
    }    
    :host(.top-left) i {
      right: 0px;
      bottom: 0px;
      cursor: nw-resize;
      transform: rotate(135deg);
    }

    :host(.top-right) {
      right: 0px;
      top: 0px;
    }    
    :host(.top-right) i {
      left: 0px;
      bottom: 0px;
      cursor: ne-resize;
      transform: rotate(-135deg);
    }
    
    :host(.bottom-left) {
      left: 0px;
      bottom: 0px;
    }
    
    :host(.bottom-left) i {
      right: 0px;
      top: 0px;
      cursor: sw-resize;
      transform: rotate(45deg);
    }

    :host(.bottom-right) {
      right: 0px;
      bottom: 0px;
    }
    :host(.bottom-right) i {
      left: 0px;
      top: 0px;
      cursor: se-resize;
      transform: rotate(-45deg);
    }


  </style>
  <i class="fa fa-chevron-down" aria-hidden="true"></i>
</template>





