<template id="persistent-code-widget" >
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
  :host {
    border: 1px solid gray;
  }
  
  :host(.empty) {
    position: relative;
    width: 220px;
    height: 60px;
    border: 2px dashed gray
  }
  
  
  #empty-indictor {
    display: none;
    position: absolute;
    height: 0px;
  }
  
  :host(.empty) #empty-indictor {
    display: block;
    padding: 15px;
    font-size: 15pt;
    color: gray;
  }
  
  #content {
    border: 1px solid gray;
  }
   
  #changeIndicator {
    position: absolute;
    width: 8px;
    height: 8px;
    right: 17px;
    top: 0px;
    z-index: 10;
    background: rgb(220,30,30)
  }
</style>
<div id="changeIndicator"></div>
<div id="empty-indictor">
  Drop content here
</div>
<div id="container-root">
</div>
</template>

