<template id="ubg-cards-entry">
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style>
    :host {
      width: fill-available;
      background: white;
    }

    #root {
      position: relative;
      background: rgba(150, 150, 150, .2);
      border-bottom: 1px solid green;
    }
    
    :host(:hover) #root  {
      background-color: rgba(150,250,255,0.1);
      outline: 1px solid rgba(150,150,255,0.3);
    }

    :host([selected]) #root  {
      background-color: rgba(150,150,255,0.1);
      outline: 1px solid rgba(150,150,255,0.3);
    }

    #content {
      display: none
    }
    
    #title {
      font-style: italic
    }
    
    #entry {
      text-indent: -20px;
      margin-left: 20px;
      padding: 3px;
    }

    #entry > * {
      text-indent: 0px;
      margin-left: 0px;
      margin: 0px
    }

    #key {
      font-weight: bold
    }

   
    :host([mode="edit"]) #entry {
      display: none;
    }
    
    :host([mode="readonly"]) #edit {
      display: none;
    }
    

    #cancel {
      display: none;
    }
    
    :host([mode="edit"]) #cancel {
      display: block;
    }
    
    #edit {
      color: orange;
      
    }
    
    #key:hover, .academic:hover, #edit:hover, #cancel:hover {
      color: darkblue;
      text-decoration: underline currentcolor; 
    }
        
    .fields {
      color: lightgray;
      font-size: 8pt;
    }
    
    #cancel {
      position: absolute;
      top: 0px;
      left: 0px;
    }
    
    #editor {
      height: 100%;
      width: 100%;
    }
    
    #pane {
      position: relative;
      width: calc(100% - 20px)
      overflow: auto;
    }
    
    :host([mode="edit"]) #pane {
      left: 30px;
      background: lightgray;
    }
    
    #draghandle {
      width: 6px;
      height: 6px;
      background: darkblue;
      display: inline-block;
      border-radius: 4px;
      border: 1px solid darkblue;
    }

    #draghandle:hover {
      border: 1px solid orange;
    }
    #cost {
      color: goldenrod;
    }
    #name {
      font-weight: 600;
    }
    #text {
      font-size: smaller;
      font-style: italic;
    }
    
  </style>
  <div id="root">
    <span id='id'></span>
    <i id='type'></i>
    <span id='element'></span>
    <span id='cost'></span>
    <span id='name'></span>
    <span id='text'></span>
    <button id="cancel" title="cancel editing"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
    <div id="pane"></div>
    <div id="content"><slot></slot></div>
  </div>
</template>
