<template id="ubg-cards-scanner" >
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
  :host {

  }
  ul {
    position: absolute;
    top: 23px;
    left: 0;
    list-style-type: none;
    padding-left: 0px;
  }
  li {
    width: 300px;
    background: color-mix(in srgb, steelblue 50%, transparent 50%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    text-indent: 10px;
  }
  .button-group {
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translate(-50%);
  }
  #log {
    position: absolute;
    bottom: 3px;
    right: 3px;
  }
</style>
  <video id='videoInput' autoplay style='border: blue 1px solid;position: relative; display: inline-block;'></video>
  <canvas id="output" width='320' height='240' style='border: red 1px solid;'></canvas>
  <ul id='list'></ul>
  <div class="button-group">
    <button id="startButton"><i class="fa fa-play icon" aria-hidden="true"></i> START</button>
    <button id="stopButton"><i class="fa fa-stop icon" aria-hidden="true"></i> STOP</button>
    <button id="transferButton"><i class="fa fa-exchange icon" aria-hidden="true"></i> TRANSFER</button>
    <button id="clearButton"><i class="fa fa-trash icon" aria-hidden="true"></i> Clear</button>
  </div>
  <div id='log'>starting</div>
</template>
