<template id="ubg-rules-text" >
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style data-src="https://lively-kernel.org/lively4/ubg-assets/fonts/fontawesome-v6.1.1/css/fontawesome-v6.1.1-all.css"></style>
<style data-src="https://lively-kernel.org/lively4/ubg-assets/fonts/runeterra/css/runeterra.css"></style>
<style>
  :host {
    display: inline-block;
    
    --mandatory-border-radius: 6px;
    
    --mandatory-background: #D2D2D2;
    --mandatory-border: #727272;
  }

  :host(.fire) {
    --mandatory-background: pink;
    --mandatory-border: red;
  }
  :host(.water) {
    --mandatory-background: lightblue;
    --mandatory-border: steelblue;
  }
  :host(.earth) {
    --mandatory-background: lightgoldenrodyellow;
    --mandatory-border: darkgoldenrod;
  }
  :host(.wind) {
    --mandatory-background: lightgreen;
    --mandatory-border: forestgreen;
  }
  :host(.fire.water),
  :host(.fire.earth),
  :host(.fire.wind),
  :host(.water.earth),
  :host(.water.wind),
  :host(.earth.wind) {
    --mandatory-background: plum;
    --mandatory-border: purple;
  }

  .mandatory {
    background: var(--mandatory-background);
    padding: 0px 5px 0px 3px;
    border: 1px var(--mandatory-border) solid;
    border-left: none;
    border-radius: 0px var(--mandatory-border-radius) var(--mandatory-border-radius) 0px;
  }
  .mandatory-icon::before {
    content: '!';
    color: white;
    background: var(--mandatory-border);
    border: 1px var(--mandatory-border) solid;
    border-radius: var(--mandatory-border-radius) 0px 0px var(--mandatory-border-radius);
    padding: 0px 2px 0px 1.5px;
  }
</style>
  <span id="content"></span>
</template>
