<template id="ubg-cards">
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style>
    :host, :host #layout {
      position: absolute;
      margin: 0;
      padding: 0;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    #content {
      background-color: lightgray;
      border: 1px solid gray;  
      
    }

    :host([src]) #content {
      background-color: lightblue;
      border: 1px solid blue;  
    }
    
    :host-context(lively-window) #content {
      background-color: transparent  !important;;
      border: none !important;
    }

    #saveButton {
      display: none;  
    }
    
    :host([src]) #saveButton {
      display: inline;  
    }

    #container {
      display: none;

      position: absolute;
      background: gray;
      border: 1px solid black;
      z-index: 10000;
      width: 80%;
      height: 40%;
      top: 100px;
      right: 10px;
      overflow: auto;
    }
    :host(.show-preview) #container {
      display: inherit;
    }
    
    #viewerContainer {
      position: absolute;
    }

    #layout {
      display: grid;
      grid-template-columns: auto 200px;
      grid-template-rows: auto auto auto;
      grid-template-areas: 
        "header header"
        "main stats"
        "footer footer"
        ;
      column-gap: 2px;
      row-gap: 2px;

      margin: 0;
      padding: 0;
      bottom: 0px;
    }
    #buttons {
      grid-area: header;
      align-self: center;
      justify-self: top;
      white-space: nowrap;
      background: lightgray;
    }
    #footer {
      grid-area: footer;
    }
    #content {
      grid-area: main;
      align-self: left;
      white-space: nowrap;
      overflow-x: hidden;
      overflow-y: auto;
    }
    #stats {
      background-color: lightgray;
      grid-area: stats;
      
    }
    .textLayer {
      display: none;
    }
    #close-preview {
      position: absolute;
      top: 0;
      left: 0;
    }
    
    @keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(3deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}
    :host([text-changed]) #saveJSON {
      animation: tilt-shaking 0.3s infinite;
      background: linear-gradient(orangered, coral);
    }
    
    .shortcut-supported {
      background: linear-gradient(limegreen, lightgreen);
    }
    .shortcut-supported:hover {
      background: linear-gradient(lightgreen, palegreen);
    }
    :host {
      --sort-background: linear-gradient(to bottom right, #ddd 0%, #ddd 50%, limegreen 50%, limegreen 100%);
    }
    :host([sort-descending]) {
      --sort-background: linear-gradient(to bottom left, #ddd 0%, #ddd 50%, limegreen 50%, limegreen 100%);
    }
    :host(:not([sortBy])) #sortById, :host([sortBy="id"]) #sortById, :host([sortBy="name"]) #sortByName {
      background: var(--sort-background);
    }

    input#rangeStart, input#rangeEnd {
      width: 4ex;
    }
  </style>
  <div id='layout'>
    <div id="buttons">
      <input id="filter"  title="Ctrl+/" placeholder="filter, e.g. fire\b"/>
      <button id="sortById" title="sort cards by id"><i class="fa fa-sort" aria-hidden="true"></i>by id</button>
      <button id="sortByName" title="sort cards by name"><i class="fa fa-sort" aria-hidden="true"></i>by name</button>
      <input id="rangeStart" title="min id" placeholder="min"/>
      <input id="rangeEnd" title="max id" placeholder="max"/>
      <button id="copyIDs" title="copy ids for next 100 cards"><i class="fa fa-upload"></i></button>
      <button id="import new cards" class="shortcut-supported" title="import new cards (Ctrl+I)">import <i class="fa fa-download"></i></button>
      <button id="artDesc" class="shortcut-supported" title="copy to clipboard art descriptions of card that do not have art yet">art <i class="fa fa-clipboard"></i></button>
      <button id="printSelected" class="shortcut-supported" title="print filtered cards in range (Ctrl+P)">filtered <i class="fa fa-print"></i></button>
      <button id="printChanges" class="shortcut-supported" title="print changed cards (Ctrl+Alt+P)">changes <i class="fa fa-print"></i></button>
      <button id="saveJSON" class="shortcut-supported" title="save json (Ctrl+S)">json <i class="fa fa-floppy-o"></i></button>
      <button id="savePDF" title="save pdf">pdf <i class="fa fa-floppy-o"></i></button>
      <button id="showPreview" title="show preview"><i class="fa fa-eye"></i></button>
      <button id="addButton" class="shortcut-supported" title="add new card (Ctrl+Plus)"><i class="fa fa-plus"></i></button>
      <button id="deleteButton" class="shortcut-supported" title="delete selected card (Ctrl+Delete)"><i class="fa fa-trash"></i></button>
      <input id="magic-style" type='checkbox' title="use old magic style" />
      <button id="menuButton" title="click to open additional options"><i class="fa fa-bars"></i></button>
    </div>
    <div id="content">
        <slot></slot>
    </div>
    <div id="stats"></div>
    <div id="footer">
      <ubg-cards-editor id="editor"></ubg-cards-editor>
    </div>
  </div>
  <div id="container">
    <div id="viewerContainer" class="pdfViewer">
      <div></div>
    </div>
    <button id='close-preview'><i class='fa fa-times'></i></button>
  </div>
</template>
