<template id="ubg-cards-editor">
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style data-src="/src/client/lively.css"></style>
  <style data-src="/src/components/widgets/ubg.css"></style>
  <style>
    :host {
      background-color: white;
      outline: 2px solid gray;
    }

    :host([src]) :host {
      outline: 1px solid blue;  
    }
    
    :host-context(lively-window) :host  {
      outline: none !important;
    }
          
    #copyHack {
      position: absolute;
      width: 0px;
      height: 0px;
      left: -10px;
    }

    th, td {
      overflow: hidden;
    }

    
    #content th, #content td {
      max-width: 200px;
    }
    
    #details th, #details td {
      max-width: 300px;
    }
   
    
    lively-table table, lively-table tr, lively-table  th, lively-table  td {
      border: 1px solid gray;
      border-collapse: collapse;
    }

    lively-table td {
      white-space: nowrap;
      box-sizing: border-box;
    }

    lively-table td.number {
      text-align: right;
    }

    #content lively-table tr:before {
      content: "☰"
    }
    
    
    .table-selected {
      border-collapse: collapse;
      background-color: rgba(190,190,190,0.3);
      border: 1px solid gray;

    }

    tr.current {
      background-color: rgba(100,100,100,0.2);
    }


    .start-selection:focus {
      outline : 1px solid blue;
      background-color: rgba(100,100,200,0.1);
    }

    lively-table .editing {
      background-color: white;
      border: 1px solid red;
    }

    #content {
      width: calc(100% - 10px);
      border: 1px solid gray;
      flex: 50;
      overflow: auto;
    }
    
    #pane {
      top: 0px;
      left: 0px;
      height: calc(100%);
      width: calc(100%);
      overflow: auto;
    }
    
    #details {
      
    }

    #details-pane {
      position: relative;
      flex: 50;
      background: lightgray;
      overflow: auto;  
    }
     
    #buttons {
      background-color: rgb(200,200,200);
    }

    #buttons {
      text-align: right;
    }

    
    #detailsButtons {
      float: right;
    }
    
    #srcLabel {
      float: left;
      color: gray;
      font-size: 10pt;
      font-style: italic;
      padding: 5px
    }
    
    #comprehension span {
      background-color: color-mix(in hsl, red 30%, transparent);
      border-radius: 5px;
    }
    
    #form-layout {
      display: grid;
      grid-template-columns: min-content 1fr min-content 1fr 2.5in;
      grid-template-rows: repeat(8, auto) repeat(3, auto) auto auto auto auto;
      grid-template-areas:
        "isPrinted-key isPrinted-value identity-key identity-value preview"
        "id-key id-value flavor-key flavor-value preview"
        "name-key name-value flavor-key flavor-value preview"
        "types-key types-value flavor-key flavor-value preview"
        "element-key element-value art-direction-key art-direction-value preview"
        "cost-key cost-value art-direction-key art-direction-value preview"
        "cost-modifier-key cost-modifier-value flavor-text-key flavor-text-value preview"
        "vp-key vp-value flavor-text-key flavor-text-value preview"
        "text-key text-value cComp-key cComp-value preview"
        "text-key text-value cBoard-key cBoard-value preview"
        "text-key text-value cStrat-key cStrat-value preview"
        "text-key text-value powerLevel-key powerLevel-value preview"
        
        "tags-key tags-value tags-value tags-value preview"
        "rating-key rating-value rating-value rating-value preview"
        "notes-key notes-value notes-value notes-value preview"
        ;
      align-items: center;
      column-gap: 2px;
      row-gap: 2px;

      margin: 0;
      padding: 0;
      bottom: 0px;
    }
    #preview-container {
      position: relative;
      grid-area: preview;

      width: 2.5in;
      height: 3.5in;
      overflow: hidden;
      display: grid;
    }
    #preview {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .key {
      align-self: center;
      justify-self: right;
      white-space: nowrap;
    }
    
    input.value {
      align-self: center;
      justify-self: stretch;
    }
    
    input[type="checkbox"].value {
      align-self: left;
      justify-self: left;
    }    
    textarea.value {
      align-self: stretch;
      justify-self: stretch;
    }
    #art-drection {
      wrap: hard;
      
    }
    .textLayer {
      display: none;
    }
    #preview-spinner  {
      color: lightgray;
      align-self: center;
      justify-self: center;
      
      display: none;
    }
    :host([preview-queued]) #preview-spinner {
      display: block;
    }
    #tags-input {
      width: 150px;
    }
    .tag {
      background: #dddddd;
      border-radius: 100px;
      padding-left: .3em;
      padding-right: .3em;
      margin-left: .3em;
      margin-right: .3em;
    }
    .tag:focus {
      background: #32cd3280;
    }
    #rating {
      height: 
    }
    form#rating label {
      text-decoration: underline var(--ubg-rating-color) 2px;
    }

    form.complexity {
      display: block; /* Ensure form takes full width of grid cell */
      overflow: hidden; /* Ensure grid cell does not cause overflow */

      white-space: nowrap; /* Prevents text from wrapping */
      overflow: hidden;    /* Hides any overflow content */
      text-overflow: ellipsis; /* Optionally adds ellipsis (...) for overflow text */
      display: inline-block; /* Ensures the span respects width constraints */
      width: 100%; /* Use full width of the grid cell */
      vertical-align: top; /* Aligns the span vertically to the top */
      line-height: normal; /* Ensures line height doesn't cause vertical overflow */

      label.wrap {
        background: color-mix(in hsl, var(--bg-color, gray) 30%, transparent);
        border-radius: 6px;
        padding-top: 2px;
        padding-left: 2px;

        &:first-of-type {
          padding-left: 4px;
        }
        &:nth-last-of-type(2) {
          padding-right: 2px;
        }
        &:last-of-type {
          padding-right: 2px;
          --bg-color: darkgray;
        }
      }
    }
    
  </style>
    <div id='form-layout'>
      <span class='key' style='grid-area: isPrinted-key;'>is printed</span>
      <input id='isPrinted' class='value' style='grid-area: isPrinted-value;' type="checkbox"/>
      <span class='key' style='grid-area: id-key;'>id</span>
      <input id='id' class='value' style='grid-area: id-value;' />

      <span class='key' style='grid-area: identity-key;'>identity</span>
      <input id='identity' class='value' style='grid-area: identity-value;' />
      <span class='key' style='grid-area: flavor-key;'>flavor</span>
      <textarea id='flavor' class='value' style='grid-area: flavor-value;'></textarea>
      <span class='key' style='grid-area: art-direction-key;'>art direction</span>
      <textarea id='art-direction' class='value' style='grid-area: art-direction-value;' placeholder='may include: setting, element, location, action, viewpoint, focus, mood'></textarea>
      <span class='key' style='grid-area: flavor-text-key;'>flavor text</span>
      <textarea id='flavor-text' class='value' style='grid-area: flavor-text-value;'></textarea>

      <span class='key' style='grid-area: cComp-key;'>comprehen</span>
      <form id="cComp" class='value complexity' style='grid-area: cComp-value;'>
        <label class='wrap' style='--bg-color: green;'>
          low
          <input type="radio" id="cCompVeryLow" name="cComp" value="1" />
        </label>
        <label class='wrap' style='--bg-color: color-mix(in hsl, green 50%, yellow);'>
          <input type="radio" id="cCompLow" name="cComp" value="2" />
        </label>
        <label class='wrap' style='--bg-color: color-mix(in hsl, green 25%, yellow);'>
          <input type="radio" id="cCompSomewhatLow" name="cComp" value="3" />
        </label>
        <label class='wrap' style='--bg-color: yellow;'>
          <input type="radio" id="cCompNeutral" name="cComp" value="4" />
        </label>
        <label class='wrap' style='--bg-color: color-mix(in hsl, red 25%, yellow);'>
          <input type="radio" id="cCompSomewhatHigh" name="cComp" value="5" />
        </label>
        <label class='wrap' style='--bg-color: color-mix(in hsl, red 50%, yellow);'>
          <input type="radio" id="cCompHigh" name="cComp" value="6" />
        </label>
        <label class='wrap' style='--bg-color: red;'>
          <input type="radio" id="cCompVeryHigh" name="cComp" value="7" />
          high
        </label>
        <label class='wrap'>
          <input type="radio" id="cCompUnset" name="cComp" value="unset" />
          unset
        </label>
      </form>

      <span class='key' style='grid-area: cBoard-key;'>board</span>
      <form id="cBoard" class='value complexity' style='grid-area: cBoard-value;'>
        <label class='wrap' style='--bg-color: green;'>
          low
          <input type="radio" id="cBoardVeryLow" name="cBoard" value="1" />
        </label>
        <label class='wrap' style='--bg-color: color-mix(in hsl, green 50%, yellow);'>
          <input type="radio" id="cBoardLow" name="cBoard" value="2" />
        </label>
        <label class='wrap' style='--bg-color: color-mix(in hsl, green 25%, yellow);'>
          <input type="radio" id="cBoardSomewhatLow" name="cBoard" value="3" />
        </label>
        <label class='wrap' style='--bg-color: yellow;'>
          <input type="radio" id="cBoardNeutral" name="cBoard" value="4" />
        </label>
        <label class='wrap' style='--bg-color: color-mix(in hsl, red 25%, yellow);'>
          <input type="radio" id="cBoardSomewhatHigh" name="cBoard" value="5" />
        </label>
        <label class='wrap' style='--bg-color: color-mix(in hsl, red 50%, yellow);'>
          <input type="radio" id="cBoardHigh" name="cBoard" value="6" />
        </label>
        <label class='wrap' style='--bg-color: red;'>
          <input type="radio" id="cBoardVeryHigh" name="cBoard" value="7" />
          high
        </label>
        <label class='wrap'>
          <input type="radio" id="cBoardUnset" name="cBoard" value="unset" />
          unset
        </label>
      </form>

      <span class='key' style='grid-area: cStrat-key;'>strategic</span>
      <form id="cStrat" class='value complexity' style='grid-area: cStrat-value;'>
        <label class='wrap' style='--bg-color: darkgray;'>
          low
          <input type="radio" id="cStratVeryLow" name="cStrat" value="1" />
        </label>
        <label class='wrap' style='--bg-color: darkgray;'>
          <input type="radio" id="cStratLow" name="cStrat" value="2" />
        </label>
        <label class='wrap' style='--bg-color: darkgray;'>
          <input type="radio" id="cStratSomewhatLow" name="cStrat" value="3" />
        </label>
        <label class='wrap' style='--bg-color: darkgray;'>
          <input type="radio" id="cStratNeutral" name="cStrat" value="4" />
        </label>
        <label class='wrap' style='--bg-color: darkgray;'>
          <input type="radio" id="cStratSomewhatHigh" name="cStrat" value="5" />
        </label>
        <label class='wrap' style='--bg-color: darkgray;'>
          <input type="radio" id="cStratHigh" name="cStrat" value="6" />
        </label>
        <label class='wrap' style='--bg-color: darkgray;'>
          <input type="radio" id="cStratVeryHigh" name="cStrat" value="7" />
          high
        </label>
        <label class='wrap'>
          <input type="radio" id="cStratUnset" name="cStrat" value="unset" />
          unset
        </label>
      </form>

      <span class='key' style='grid-area: powerLevel-key;'>power level</span>
      <form id="power" class='value complexity' style='grid-area: powerLevel-value;'>
        <label class='wrap' style='--bg-color: color-mix(in hsl, green 25%, darkgray);'>
          low
          <input type="radio" id="powerVeryLow" name="power" value="1" />
        </label>
        <label class='wrap' style='--bg-color: color-mix(in hsl, green 50%, darkgray);'>
          <input type="radio" id="powerLow" name="power" value="2" />
        </label>
        <label class='wrap' style='--bg-color: green;'>
          <input type="radio" id="powerSomewhatLow" name="power" value="3" />
        </label>
        <label class='wrap' style='--bg-color: color-mix(in hsl, green 50%, yellow);'>
          <input type="radio" id="powerNeutral" name="power" value="4" />
        </label>
        <label class='wrap' style='--bg-color: yellow;'>
          <input type="radio" id="powerSomewhatHigh" name="power" value="5" />
        </label>
        <label class='wrap' style='--bg-color: color-mix(in hsl, red 50%, yellow);'>
          <input type="radio" id="powerHigh" name="power" value="6" />
        </label>
        <label class='wrap' style='--bg-color: red;'>
          <input type="radio" id="powerVeryHigh" name="power" value="7" />
          high
        </label>
        <label class='wrap'>
          <input type="radio" id="powerUnset" name="power" value="unset" />
          unset
        </label>
      </form>

      <span class='key' style='grid-area: name-key;'>name</span>
      <input id='name' class='value' style='grid-area: name-value;' />
      <span class='key' style='grid-area: types-key;'>types</span>
      <input id='types' class='value' style='grid-area: types-value;' placeholder='comma-separated types, e.g.: machina, monument'/>
      <span class='key' style='grid-area: element-key;'>element</span>
      <input id='element' class='value' style='grid-area: element-value;' />
      <span class='key' style='grid-area: cost-key;'>cost</span>
      <input id='cost' class='value' style='grid-area: cost-value;' />
      <span class='key' style='grid-area: cost-modifier-key;'>cost modifier</span>
      <input id='cost-modifier' class='value' style='grid-area: cost-modifier-value;' />
      <span class='key' style='grid-area: vp-key;'>base vp</span>
      <input id='vp' class='value' style='grid-area: vp-value;' />
      <span class='key' style='grid-area: text-key;'>text</span>
      <textarea id='text' class='value' style='grid-area: text-value;'></textarea>
      <span class='key' style='grid-area: tags-key;'>tags</span>
      <span id='tags' class='value' style='grid-area: tags-value;'>
        <input-combobox id="tags-input"></input-combobox><span id="tags-list"></span>
      </span>
      <span class='key' style='grid-area: rating-key;'>rating</span>
      <form id="rating" class='value' style='grid-area: rating-value;'>
        <input type="radio" id="choiceEssential" name="rating" value="essential" />
        <label for="choiceEssential" ubg-rating='essential'>essential</label>
        <input type="radio" id="choiceKeep" name="rating" value="keep" />
        <label for="choiceKeep" ubg-rating='keep'>keep</label>
        <input type="radio" id="choiceBorderline" name="rating" value="borderline" />
        <label for="choiceBorderline" ubg-rating='borderline'>borderline</label>
        <input type="radio" id="choiceUnsure" name="rating" value="unsure" />
        <label for="choiceUnsure" ubg-rating='unsure'>unsure</label>
        <input type="radio" id="choiceRemove" name="rating" value="remove" />
        <label for="choiceRemove" ubg-rating='remove'>remove</label>
        <input type="radio" id="choiceNeedsRevision" name="rating" value="needs revision" />
        <label for="choiceNeedsRevision" ubg-rating='needs revision'>needs revision</label>
        <input type="radio" id="choiceTestNext" name="rating" value="test next" />
        <label for="choiceTestNext" ubg-rating='test next'>test next</label>
        <input type="radio" id="choiceToTest" name="rating" value="temp" />
        <label for="choiceToTest" ubg-rating='temp'>temp</label>
        <input type="radio" id="choiceUnset" name="rating" value="unset" />
        <label for="choiceUnset" ubg-rating='unset'>unset</label>
      </form>
      <span class='key' style='grid-area: notes-key;'>notes</span>
      <textarea id='notes' class='value' style='grid-area: notes-value;'></textarea>

      <div id='preview-container'>
        <div id='preview'>just a stand-in</div>
        <div id='preview-spinner'><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
      </div>
    </div>
</template>
