<template id="ubg-cards">
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style>
    :host, :host #layout {
      position: absolute;
      margin: 0;
      padding: 0;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    #content {
      background-color: lightgray;
      border: 1px solid gray;  
      
    }

    :host([src]) #content {
      background-color: lightblue;
      border: 1px solid blue;  
    }
    
    :host-context(lively-window) #content {
      background-color: transparent  !important;;
      border: none !important;
    }

    #saveButton {
      display: none;  
    }
    
    :host([src]) #saveButton {
      display: inline;  
    }

    #container {
      display: none;

      position: absolute;
      background: gray;
      border: 1px solid black;
      z-index: 10000;
      width: 80%;
      height: 40%;
      top: 100px;
      right: 10px;
      overflow: auto;
    }
    :host(.show-preview) #container {
      display: inherit;
    }
    
    #viewerContainer {
      position: absolute;
    }

    #layout {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
      grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
      column-gap: 2px;
      row-gap: 2px;

      margin: 0;
      padding: 0;
      bottom: 0px;
    }
    #buttons {
      grid-area: header;
      align-self: center;
      justify-self: top;
      white-space: nowrap;
      background: lightgray;
    }
    #footer {
      grid-area: footer;
    }
    #content {
      grid-area: main;
      align-self: left;
      white-space: nowrap;
      overflow-x: hidden;
      overflow-y: auto;
    }
    .textLayer {
      display: none;
    }
    #close-preview {
      position: absolute;
      top: 0;
      left: 0;
    }
    
    @keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(3deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}
    :host([text-changed]) #saveJSON {
      animation: tilt-shaking 0.3s infinite;
    }
    
  </style>
  <div id='layout'>
    <div id="buttons">
      <input id="filter"  title="Ctrl+/" placeholder="filter, e.g. fire"/>
      <button id="sortByKeyButton" title="sort entries by key"><i class="fa fa-sort" aria-hidden="true"></i>by key</button>
      <button id="sortByYearButton" title="sort entries by year"><i class="fa fa-sort" aria-hidden="true"></i>by year</button>
      <button id="import new cards" title="import new cards (Ctrl+I)">import <i class="fa fa-download"></i></button>
      <button id="printAll" title="print all cards (Ctrl+Shift+P)">all <i class="fa fa-print"></i></button>
      <button id="printChanges" title="print changed cards (Ctrl+P)">changes <i class="fa fa-print"></i></button>
      <button id="saveJSON" title="save json (Ctrl+S)">json <i class="fa fa-floppy-o"></i></button>
      <button id="savePDF" title="save pdf">pdf <i class="fa fa-floppy-o"></i></button>
      <button id="showPreview" title="show preview"><i class="fa fa-eye"></i></button>
      <button id="addButton" title="add new card (Ctrl+Plus)"><i class="fa fa-plus"></i></button>
    </div>
    <div id="content">
        <slot></slot>
    </div>
    <div id="footer">
      <ubg-cards-editor id="editor"></ubg-cards-editor>
    </div>
  </div>
  <div id="container">
    <div id="viewerContainer" class="pdfViewer">
      <div></div>
    </div>
    <button id='close-preview'><i class='fa fa-times'></i></button>
  </div>
</template>
