<template id="ast-node-if-statement" >
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style data-src="/src/client/pen-editor/components/ast-nodes.css"></style>
<style>
:host(*) {
  display: flex;
  flex-direction: column;

  margin: 1px;
  padding: 1px;
  border: 1px solid goldenrod;
  background-color: #eeeeee;
}
  #header {
    display: flex;
  }
#if, #test, #alternate {
  align-self: center;
}
  :host(:not(.has-alternate)) #else {
    display: none;
  }
</style>
  <div id="header">
    <span id="if" class="keyword">if</span>
    <slot id="test" name="test"></slot>
  </div>
  <slot id="consequent" name="consequent"></slot>
	<span id="else" class="keyword">else</span>
  <slot id="alternate" name="alternate"></slot>
</template>


