<template id="ast-node-variable-declaration" >
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style data-src="/src/client/pen-editor/components/ast-nodes.css"></style>
<style>
:host(*) {
  display: flex;
  flex-direction: horizontal;
  }
  #kind-container {
    display: grid;
/*     border-right: solid 1px goldenrod; */
  }
  #kind {
    align-self: center;
  }

</style>
  
  <div id="kind-container">
    <span id="kind" class="keyword">kind</span>
  </div>
  <div id="declarations-container">
    <slot name="declarations"></slot>
  </div>

</template>


