<template id="ast-node-for-of-statement" >
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style data-src="/src/client/pen-editor/components/ast-nodes.css"></style>
<style>
:host(*) {
  display: flex;
  flex-direction: column;

  margin: 1px;
  padding: 1px;
  border: 1px solid goldenrod;
  background-color: #eeeeee;
}
  #header {
    display: flex;
  }
#for, #left, #of, #right {
  align-self: center;
}
#for, #left, #of {
  margin-right: 3px;
}
</style>
  <div id="header">
    <span id="for" class="keyword">for</span>
    <slot id="left" name="left"></slot>
    <span id="of" class="keyword">of</span>
    <slot id="right" name="right"></slot>
  </div>
  <slot id="body" name="body"></slot>
</template>


