<template id="ast-node-object-property" >
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style data-src="/src/client/pen-editor/components/ast-nodes.css"></style>
<style>
:host(*) {
  display: flex;

  margin: 1px;
  padding: 1px;
  border: 1px solid goldenrod;
  background-color: #eeeeee;
}
  :host(:not(.computed)) .bracket {
    display: none;
  }
  :host(.shorthand) #key, :host(.shorthand) #colon {
    display: none;
  }
.bracket, #key, #colon, #value {
  align-self: center;
}
</style>
	<span class="bracket" class="notation">[</span>
  <slot id="key" name="key"></slot>
	<span class="bracket" class="notation">]</span>
	<span id="colon" class="notation">:</span>
  <slot id="value" name="value"></slot>
</template>


