<template id="ast-node-function-declaration" >
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style data-src="/src/client/pen-editor/components/ast-nodes.css"></style>
<style>
:host {
  display: flex;
  flex-direction: column;
}

#body-container {
  width: min-content;
/*   border: 1px solid goldenrod; */
/*   background-color: #eeeeee; */
}
  #header {
    display: flex;
  }
  #async, #function, #generator {
    margin-right: 3px;
  }
#async, #function, #generator, #name, #open-bracket, #arguments, #closing-bracket {
  align-self: center;
}
</style>
  <div id="header">
    <span id="async" class="keyword" class="keyword">async</span>
    <span id="function" class="keyword" class="keyword">function</span>
    <span id="generator" class="notation" class="notation">*</span>
    <span id="name">
      <slot name="id"></slot>
    </span>
    <span id="open-bracket" class="notation" class="notation">(</span>
    <span id="params">
      <slot name="params"></slot>
    </span>
    <span id="closing-bracket" class="notation" class="notation">)</span>
  </div>
  
  <div id="body-container">
    <slot name="body"></slot>
  </div>
</template>


