<template id="ast-node-export-all-declaration" >
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style data-src="/src/client/pen-editor/components/ast-nodes.css"></style>
<style>
:host(*) {
  display: flex;

  margin: 1px;
  padding: 1px;
  border: 1px solid goldenrod;
  background-color: #eeeeee;
}
#syntax, #source {
  align-self: center;
}
</style>
  <span id="syntax" class="keyword">export</span>
  <span id="syntax" class="notation"> * </span>
  <span id="syntax" class="keyword">from</span>
  <slot id="source" name="source"></slot>
</template>


