<template id="ast-node-assignment-pattern" >
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style data-src="/src/client/pen-editor/components/ast-nodes.css"></style>
<style>
:host(*) {
  display: flex;

  margin: 1px;
  padding: 1px;
  border: 1px solid goldenrod;
  background-color: #eeeeee;
}
#left, #equals, #right {
  align-self: center;
}
</style>
  <slot name="left"></slot>
	<span id="equals" class="notation">=</span>
  <slot name="right"></slot>
</template>


