<template id="compound-node-submorph-getter" >
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style data-src="/src/client/pen-editor/components/ast-nodes.css"></style>
<style>
:host(*) {
  display: flex;

  margin: 1px;
  padding: 1px;
  border: 1px solid goldenrod;
  background-color: #eeeeee;
}
#get {
  margin-right: 3px;
}
#get, #key, #arrow, #selector {
  align-self: center;
}
</style>
  <span id="get" class="keyword">get</span>
  <slot id="key" name="key"></slot>
  <span id="arrow" class="notation"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
  <slot id="selector" name="selector"></slot>
</template>


