<template id="generic-ast-node">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
:host(*) {
  background-color: rgba(111,0,0,0.1);
  overflow-y: auto
}
  #container {
  border: 5px solid red;
    display: flex;
    flex-direction: row;
  }
  #node-type {
    border: 5px solid yellow;
    color: yellow;
    background-color: rgba(1,1,1,0.1);
  }
  #child-list {
    border: 5px solid green;
    display:flex;
    flex-direction: column;
  }
  #child-list span {
    background-color: rgba(1,1,1,0.1)
  }
  .kv-pair {
    display:flex;
    flex-direction: row;
    border: 2px solid blue;
  }
  .property-key {
    color: violet;
  }
</style>
  <div id="container">
    <span id="node-type">undefined</span>
    <div id="child-list"></div>
  </div>
</template>