<template id="pen-editor">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
  :host(*) {
    display: flex;
    flex-direction: column;
    
  }
  #main {
    overflow-y: auto;
    
  }
  #ast-new {
    border: 1px black dashed;
  }

  #history {
    display: flex;
    flex-direction: horizontal;
  }
  .history-entry {
    width: 20px;
    height: 20px;
    background-color: steelblue;
    margin: 2px 2px;
    text-align: center;
    
    border: 2px rgba(1,1,1,0) dashed;
  }
  .history-entry:hover {
    border: 2px red dashed;
  }
  .history-entry.selected {
    background-color: orange;
  }

  .toggle-button-hide {
    color: gray;
  }
  .toggle-button-show {
    color: #404040;
  }
  .toggle-target-hide {
    display: none;
  }
  .toggle-target-show {}

  .temp-button {
    font-size: x-small;
  }
</style>
  <input id="fileName" />
  <div id="main">
    <div id="history"></div>
    <div >
      <button id="testButton" class="temp-button">Simple Transform</button>
      <button id="resetHistory" class="temp-button">ResetHistory</button>
      <button id="toggleInspector" class="temp-button" title="toggle inspector">
        <i class="fa fa-share-alt fa-rotate-90" aria-hidden="true"></i>
      </button>
      <button id="toggleCodeMirror" class="temp-button" title="toggle lively-code-mirror">
        <i class="fa fa-align-left fa-flip-vertical" aria-hidden="true"></i>
      </button>
    </div>
    <div id="inspector-container">
      <lively-inspector id="inspector"></lively-inspector>
    </div>
    <lively-code-mirror id="lcm"></lively-code-mirror>
    <slot id="ast-new"></slot>
  </div>
  <div>
    <span>Info-line</span>
  </div>
</template>