<template id="primitive-ast-node" data-class="PrimitiveAstNode">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
:host {
  
}

#input {
  font-family: "Courier New";
}
#input:focus {
  outline:none;
  outline: black dashed 1px;
}

</style>
<!-- size="1"   -->
<input id="input" type="text" placeholder= "some primitive value"  />
</template>
<script class="registrationScript">lively.registerTemplate()</script>

