#countDisplay {
  font: 64px sans-serif;
  background-color: #fcfcfc;
  height: 90vh;
}

h1 {
  color: red;
}

#diceDisplay {
  font: 64px sans-serif;
  background-color: #fcfcfc;
  height: 90vh;
}

#logView { 
  height: 80px; 
  flex: 1 100%;  
  overflow: auto 
}

#first {
  display: block;
}

#second {
  display: none;
}