<template id="astro-view" >
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style>
    :host {
      display: flex;
    }
  
    .layout-column {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    .layout-row {
      display: flex;
      flex-direction: row;
      overflow: hidden;
    }

    .pane {
      flex: 1;
      overflow: hidden;
    }
    
    .pane.tool {
      margin: 1px;
      border: 1px solid #d5d5d5;
    }
    
    #content {
      margin: 1px;
    }
    
    #workspace-path {
      border: 1px solid #d5d5d5;
      border-radius: 2px;
    }
    
    input {
      width: 40px;
      flex: 100;
      margin: 2px;
    }
    
    .editor,
    #source, #ast {
      width: 100%;
      height: 100%;
    }
    
    button.toggle {
      color: black;
    }

    button.toggle.on {
      color: white;
      background: steelblue;
    }
    
    #tokens {
      overflow: scroll;
    }
    
    #log {
      white-space: pre;
      overflow: auto;
      max-height: 300px
    }
    
    .token {
      margin: 2px; padding: 2px; display:inline-block 
    }
    
    .token.selected {
      outline: 2px solid green
    }  
  
  </style>
  
  <div id="content" class="pane layout-row">
    <div class="pane layout-column">
      <div id="navigationPane" class="layout-row">
        <input type="text" id="sourcePath" value="">
        <button class="toggle" id="update" title="Update AST (right-click to toggle auto-mode).">
            <i class="fa fa-refresh fa-fw"></i>
        </button>
      </div>

      <div class="pane layout-row">
        <div class="pane tool layout-column">
          <b>Source</b>
          <lively-editor class="pane editor" id="source"></lively-editor>
        </div>

        <lively-separator></lively-separator>

        <div class="pane tool layout-column">
          <b>AST</b>
          <lively-ast-treesitter-inspector class="pane" id="ast"></lively-ast-treesitter-inspector>
        </div>

        <lively-separator></lively-separator>

        <div class="pane tool layout-column">
          <div>
            <b>Tokens</b> <span id="tokensInfo"></span>
          </div>
          <div class="pane" id="tokens">xxx</div>

          <div>
            <b>Pool Embedding</b>
          </div>
          <div class="pane">
            <pre><code id="pool_embedding"></code></pre>
          </div>

          <div>
            <b>Embeddings</b> <span id="tokensInfo2"></span>
          </div>
          <div class="pane" id="embeddings">xxxx</div>
        </div>
      </div>

      <lively-separator></lively-separator>

      <astro-plot id="astro-plot"></astro-plot>
    </div>
    
    <lively-separator></lively-separator>
    
    <div>
      <div class="pane tool layout-column">
        <b>Project Name</b>
        <div class="layout-row">
            <input type="text" id="projectName" value="">
        </div>
        
        <b>Code Transformer</b>
        <div class="layout-row">
          <input type="text" id="transformerSourcePath" value="">
        </div>
        
        <div>
          <button class="toggle" id="runParse" title="Parse files into ASTs">
            Parse<i class="fa fa-refresh fa-fw"></i>
          </button>
          <button class="toggle" id="runQuery" title="Query ASTs">
            Query<i class="fa fa-refresh fa-fw"></i>
          </button>
          <button class="toggle" id="runMap" title="Generate Embeddings">
            Map<i class="fa fa-refresh fa-fw"></i>
          </button>
          <button class="toggle" id="runReduce" title="Apply Weights">
            Reduce<i class="fa fa-refresh fa-fw"></i>
          </button>
          <button class="toggle" id="runUmap" title="Map to 3D">
            UMAP<i class="fa fa-refresh fa-fw"></i>
          </button>
          <div id="status"/>
        </div>
        
        <lively-editor class="pane editor" id="transformerSource"></lively-editor>
        
        <lively-separator></lively-separator>
        
      </div>
    </div>
  </div>
</template>