<template id="d3-stroboscopic-viewer" data-class="D3StroboscopicViewer">
    <style>
        :host {
            width: 200px;
            height: 200px;
        }

        #svg {
            position: relative;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
        }

    </style>
    <style>
        .object {}

        .object rect {
            fill: lightsteelblue;
            stroke: steelblue;
            stroke-width: 2px;
        }

        .object text {
            font: 12px sans-serif;
        }

        .property {}

        .property rect {
            fill: lightgray;
            stroke: gray;
            stroke-width: 1px;
        }

        .property text {
            font: 12px sans-serif;
        }

    </style>
    <svg id="svg"></svg>
</template>
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/DA56994E-E07E-6744-ACB4-B5CEB7E6C0B3/main.js" charset="UTF-8"></script><script class="registrationScript">
    lively.registerTemplate()

</script>