<template id="literature-search" >
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style>
    :host {

    }
    #content {

    }
    span.methods {
      position: relative;
      top: 4px
    }
    
    a.method {
      font-size: 12px; 
      white-space: nowrap; 
      color: gray; 
      background: lightgray; 
      border-radius: 2px; 
      margin: 2px

    }
  </style>
  <div id="content">

  </div>
</template>

