<template id="lively-plugin-explorer">
    <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
    <style data-src="/templates/livelystyle.css"></style>
    <style>
        :host {
      display: flex;
    }
    
    .layout-column {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    .layout-row {
      display: flex;
      flex-direction: row;
      overflow: hidden;
    }

    .pane {
      flex: 1;
      overflow: hidden;
    }
    
    .pane.tool {
      margin: 1px;
      border: 1px solid #d5d5d5;
    }
    
    #content {
      margin: 1px;
    }
    
    #workspace-path {
      border: 1px solid #d5d5d5;
      border-radius: 2px;
    }
    
    input {
      min-width: 40px; /* reduce minimum size */
      flex: auto;
      margin: 2px;
    }
    
    #main {
      flex: 4;
    }
    #bottom {
      flex: 1;
    }
    
    #tracePane {
      flex: 3;
    }
    #consolePane {
      flex: 1;
    }
    
    #sourceAndAst {
      flex: 5;
    }
    #transformedPane {
      flex: 2;
    }

    #pluginPane {
      flex: 4;
    }
    #toolPane {
      flex: 5;
    }

    #source, #sourceAst, #transformedSource, #plugin, #executionConsole {
      width: 100%;
      height: 100%;
    }
    
    .toolbar {
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      overflow: hidden;
      flex: none;
      height: fit-content;
      width: 100%;
    }

    #executionConsole {
      margin-left: 15px;
    }
    
    button {
      height: 25px;
    }
    
    button.toggle {
      color: black;
    }

    button.toggle.on {
      color: white;
      background: steelblue;
    }
      
    .attention{
      background: orange;
    }
      
    .hidden {
       display: none;
    }
      
      .tablist {
          display: flex;
          flex-wrap: wrap;
          background: #eee;
      }
      
      .tab {
          padding: 5px;
          cursor: pointer; 
      }
      
      .active {
          background: #ccc;
      }
      
      .notListed {
          background: orange;
      }
    
  </style>

    <div id="content" class="pane layout-column">
        <div id="workspaceToolbar" class="toolbar">
            <input type="text" id="workspace-path" value="">
            <button id="newWorkspace" title="Opens a filechooser where you can create a new workspace file."><i class="fa fa-plus-square"></i></button>
            <button id="saveDevToMaster" class="attention hidden"><i class="fa fa-refresh fa-fw"></i></button>
            <button class="toggle" id="saveWorkspace" title="Save Workspace to file (right-click to toggle auto-mode).">
                <i class="fa fa-floppy-o"></i>
            </button>
            <button class="toggle" id="updateAST" title="Update AST (right-click to toggle auto-mode).">
                <i class="fa fa-refresh fa-fw"></i>
            </button>
            <button class="toggle" id="updateTransformation" title="Update transformation (right-click to toggle auto-mode).">
                <i class="fa fa-refresh fa-fw"></i>
            </button>
            <button class="toggle" id="execute" title="Execute transformed code (right-click to toggle auto-mode).">
                <i class="fa fa-cog fa-fw"></i>
            </button>
            <button class="toggle" id="runTests" title="Run tests in all opened test runners (right-click to toggle auto-mode).">
                <i class="fa fa-shield"></i>
            </button>
            <button class="toggle" id="toggleSystemJS" title="Toggle: SystemJS.">
                <i class="fa fa-cloud"></i>
            </button>
            <button id="debug" title="Opens a trace visualization">
                <i class="fa fa-search"></i>
            </button>
        </div>

        <div id="main" class="pane layout-row">
            <div id="pluginPane" class="pane tool layout-column">
                
                <div style="display: flex; align-items: center; justify-content: space-between">
                    <b>Plugin</b>
                    <button id="selectPlugins" style="float: right;" title="Opens settings for plugins that should get applied while transformation">
                        <i class="fa fa-cog"></i>
                    </button>

                </div>



                <div id="plugin-tabs" class="tablist"></div>
                <lively-editor class="pane" id="plugin"></lively-editor>
            </div>

            <lively-separator reverse=true></lively-separator>

            <div id="toolPane" class="pane layout-column">
                <div id="sourceAndAst" class="pane layout-row">
                    <div class="pane tool layout-column">
                        <b>Source</b>
                        <div id="source-tabs" class="tablist"></div>
                        <lively-editor class="pane" id="source"></lively-editor>
                    </div>
                    <lively-separator reverse=true></lively-separator>

                    <div class="pane layout-column">
                        <div class="pane tool layout-column">
                            <b>Source AST</b>
                            <lively-ast-inspector class="pane" id="sourceAst"></lively-ast-inspector>
                        </div>
                        <lively-separator reverse=true></lively-separator>
                        <div class="pane tool layout-column">
                            <b>Transformed AST</b>
                            <lively-ast-inspector class="pane" id="transformedAst"></lively-ast-inspector>
                        </div>
                    </div>
                </div>
                <lively-separator></lively-separator>
                <div id="transformedPane" class="pane tool layout-column">
                    <b>Transformed Source</b>
                    <lively-code-mirror class="pane" id="transformedSource"></lively-code-mirror>
                </div>

                <lively-separator reverse=true></lively-separator>

                <div id="bottom" class="pane layout-row">
                    <div id="console" class="pane tool layout-column">
                        <b>Execution Console</b>
                        <div class="pane" style="overflow: scroll">
                            <pre id="executionConsole"></pre>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

</template>
