<template id="lively-analysis-table" data-class="LivelyAnalysisTable">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
  :host {}
  #content {
    color: #444444;
    font-family: inherit;
  }
  
  #lively-analysis-table {
    border-collapse: collapse;
    font-size: 85%;
    width: 100%;
    height: auto;
  }
  #lively-analysis-table tr,
  #lively-analysis-table td,
  #lively-analysis-table th {
    border: 1px solid gray;
  }
  
  #lively-analysis-table th {
    padding: 4px 2px;
    text-align: left;
    width: auto;
    max-width: 20%;
    word-wrap:break-word;
  }
  
  #lively-analysis-table td {
    line-height: 1.8;
    text-align: left;
    width: auto;
    max-width: 20%;
    word-wrap:break-word;
  }
  
  #lively-analysis-table td:first-child,
  #lively-analysis-table th:first-child {
    display: none;
  }
  #lively-analysis-table th {
    text-transform: capitalize;
  }
  .deadLink, .brokenLink {
    background-color:rgba(245, 198, 203, 0.8);
  }
  .aliveLink {
    background-color:rgba(195, 230, 203, 0.8);
  }
</style>
<div id="content">
	<content>
    <select id="lively-analysis-table-selection">
      <option value="view-all-links" selected>All links</option>
      <option value="view-broken-links">Broken links</option>
    </select>
    <table id="lively-analysis-table"></table>
  </content>
</div>
</template>
<script class="registrationScript">lively.registerTemplate()</script>

