<template id="lively-ast-explorer" >
<style data-src="/templates/livelystyle.css"></style>
  <style>
  :host {
    width: 50px;
    height: 25px;
    
    display: flex;
    flex-direction: column;
  }
 
  .layout-column {
    display: flex;
    flex-direction: column;
  }
  .layout-row {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
  }

  #outputPane, #astPane, #resultPane {
     border-left: 2px gray solid;
  }
  
  #firstRow, #secondRow {
    border: 1px gray solid;
    flex: 0.5;
  }
  
  #sourcePane {
    flex: 0.33;
/*     overflow-y: auto; */
  }
  
  #outputPane {
    flex: 0.33;
/* 		overflow-y: auto */
  }
  
  #astPane {
    flex: 0.33;
  }
  
  #pluginPane {
    flex: 0.66;
/*     overflow-y: auto; */
  }
  
  #resultPane {
    flex: 0.33;
  }

  lively-code-mirror {
    flex: 1;
/*     height: fill-available; */
  }
    
  lively-editor {
    flex: 1;
  }
  
  lively-inspector {
    flex: 1;
    height: 100%;
  }
  
  #resultPane pre {
    flex: 1;
    margin-left: 15px
  }
  #resultPane {
    overflow: auto;
  }
    
  #plugin, #source, #output {
    width: 100%;
    height: calc(100% - 30px);
  }
  #plugin-url, #source-url {
    width: -webkit-fill-available;
  }
  </style>
<div id="firstRow" class="layout-row">
  <div id="sourcePane">
    <lively-editor id="source"></lively-editor>
  </div>
  <lively-separator></lively-separator>
  <div id="astPane" class="layout-column">
    <lively-ast-inspector id="astInspector"></lively-ast-inspector>
  </div>
  
  <lively-separator></lively-separator>
  <div id="outputPane" class="layout-column">
    <span  id="eval">
      Output
      <input type="checkbox" id="live" title="continous eval" checked/>
      <label for="live">run program</label>
      <input type="checkbox" id="run-tests" title="run tests after successful transpilation" checked/>
      <label for="run-tests">run tests</label>
    </span>
    <lively-code-mirror id="output"></lively-code-mirror>
  </div>   
</div>
<lively-separator></lively-separator>
<div id="secondRow" class="layout-row">
  <div id="pluginPane">
    <div>Plugin</div>
    <lively-editor id="plugin"></lively-editor>
  </div>
  <lively-separator ></lively-separator>
  <div id="resultPane" class="layout-column">
    <div>Result</div>
    <pre id="result"></pre>
  </div>
</div>
</template>
