<template id="lively-shadama-editor" >
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
  
<link rel="stylesheet" type="text/css" href="https://lively-kernel.org/lively4/shadama/shadama.css">

<style>
:host {
  
}
</style>

  
<lively-editor style="float: left" id="code"></lively-editor>

<div style="float: left">
              <canvas id="shadamaCanvas"></canvas>
</div>
<div style="float: left" id="controlBox">
  <hr>
  <div id="watcherList"></div>
  <hr>
  <div id="envList"></div>
</div>
<div id="readout"></div>
 
  
  <slot></slot>
</template>

