<template id="lively-smaug" >
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
:host {
  
}
#content {
  background-color: gray;
}
  #previousResult {
    color: gray;
  }
  #finalResult {
    color: green;
  }
#interimResult {
  color: beige;
}
  #results {}
  #eventList {
    position: absolute;
    right: 100px;
    bottom: 0;
  }
  #eventList div {
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
  }
</style>
  <div>
    <button id="startButton"><i class="fa fa-microphone"></i>start</button>
    <button id="stopButton"><i class="fa fa-microphone-slash"></i>stop</button>
    <span id="runIndicator">
      <span style="color: gray;"><i class="fa fa-question"></i> not initialized</span>
    </span>
  </div>
  <button id="plusButton">plus</button>
  <button id="minusButton">minus</button>
  <input id="textField" value=0 />
  <div id="resultPreview">
    <span id="previousResult"></span>
    <span id="finalResult"></span>
    <span id="interimResult"></span>
  </div>
<div id="results">
</div>
<div id="content">
	<slot></slot>
</div>
<div id="eventList"></div>
</template>

