<template id="lively-component-bin">
  <style data-src="/templates/livelystyle.css"></style>
  <style>

  #top {
    height: 100%;
    width: 100%;
     overflow: auto;
  }
  
  .container {
    margin: 0px;
    background-color: white;
   
  }
 
  .tile-pane {
    list-style-type: none;
    background-color: white;
    padding: 2px;
    margin: 0px;
  }
  .tile {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #search-field {
    width: 70%;
    max-width: 500px;
    margin: 5px;
  }

  #options {
    margin: 5px;
    display: none;
  }
  
  #layout-pane {
    display: flex;
    overflow: auto;
    flex: 1;
  }
  
  #categories li {
      list-style-type: none;
      margin-left: -20px;
      white-space: nowrap;
  }
  
  #categories li.selected {
     background-color: lightgray
  }
  
  
  
</style>
  <div id="top">

    <div class="container">
      <div id="options">
        <label for="open-in-checkbox">
          open in window
          <input type="checkbox" id="open-in-checkbox" checked="true">
        </label>
      </div>
      <input type="text" id="search-field" placeholder="search ..." autofocus />
      <div id="layout-pane">
        <ul id="categories" title="Categories"></ul>
        <ul id="tiles" class="tile-pane" title="Components"></ul>
      </div>
    </div>
  </div>
</template>
