<template id="lively-container-navbar">
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style  data-src="/src/components/tools/lively-container-navbar.css"></style>
  <div id="dragHint">
    <span id="dragHintText">
      Drop files to this folder?
    </span>
  </div>
  <div id="filter-container">
    <div id="filter-hint"></div>
  </div>
  <div id="row">
    <ul id="navbar"></ul>
    <lively-separator></lively-separator>
    <div id="details"></div>
  </div>
  <slot></slot>
</template>
