<template id="lively-container-navbar" data-class="LivelyContainerNavbar">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
:host {
 background-color: #F5F5F5;
 border-top: 1px solid #d5d5d5;
 border-right: 1px solid #d5d5d5;
}
:host(.drag) {
  background-color: lightgoldenrodyellow;
}
#dragHint {
  display: none;
  position: absolute;
  transform: translateY(3px)translateX(3px);
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  z-index: 99999;
  border-radius: 30px;
  padding-left: 5px;
  padding-right: 5px;
}
:host(.drag) #dragHint {
  display: flex;
}
#dragHintText {
  text-align: center;
  line-height: 2em;
/*   font-size: 1.5em; */
  color: white;
}

ul li a:hover {
  background-color: gray;
  color: white;
  cursor: pointer
}

ul li a:hover {
  background-color: gray;
  color: white;
  cursor: pointer
}

ul li ul li {
  width: 400px;
  padding-left: 10px;
}

ul li ul li.subitem:hover{
  background-color: gray;
  color: white;
  cursor: pointer
}

ul {
  margin:0;
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 0px;
  padding: 2px;
  font-size: 11pt;
}

ul li.subitem {
  margin: 0px;
  padding: 0px 0px 0px 25px;
  font-size: 9pt;
  color: gray;
}

ul li.subitem.level1 {
  padding-left: 25px;
}

ul li.subitem.level2 {
  padding-left: 35px;
}

ul li.subitem.level3 {
  padding-left: 45px;
}


ul li .fa-folder {
  color: #e99a01;
}


ul li a {
  width: 200px;
  display: box;
  white-space: nowrap;
  text-decoration: none;
  color: #444444;
}

.selected {
  background-color: rgba(215,215,215);
  cursor: pointer
}
  

</style>
<div id="dragHint">
  <span id="dragHintText">
    Drop files to this folder?
  </span>
</div>
<ul id="navbar">
</ul>
<content></content>

</template>
<script class="registrationScript">lively.registerTemplate()</script>

