<template id="lively-analysis" data-class="LivelyAnalysis">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
:host {
  
}
#content {
  background-color: red;
}
</style>
  
  <h3>Semantic Code Analysis</h3>
  <button id="updateDirectory">update directory</button>
  <lively-separator></lively-separator>
  
  <div id="content">
    <h4>Dashboard</h4>
    <content>
      <div id="tab-1" class="tab-1">
      </div>
      
      <div id="tab-2" class="tab-2">
      </div>
      
      <div id="tab-3" class="tab-3">
      </div>
    </content>
  </div>
  
</template>
<script class="registrationScript">lively.registerTemplate()</script>

