<template id="lively-image-editor">
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style>
    :host {
      background-color: gray;
      touch-action: none; /* prevents the pen scrolling behavior */
      
    }

    #canvas {
      background-color: white;
      margin: 10px;
    }

    #paintArea {
      overflow: hidden;
      border: 1px solid red;
    }
    
    #pen {
      position: relative;
      pointer-events: none;
    }
    
    #penColor, #backgroundColor {
      margin: 3px;
    }
  
    button {
      vertical-align: top
    }

    #penSize {
      display: inline-block;
      width: 40px;
      height: 20px;
      margin: 3px;
      padding: 0px;
      font-size: 0;
      vertical-align: top
    }
  
    #controls {
      background-color: lightgray;
        
    border: 1px gray solid;
    width: 100%;
    }
    
    #changeIndicator {
      position: absolute;
      width: 8px;
      height: 8px;
      right: 17px;
      top: 0px;
      z-index: 10;
      background: rgb(220,30,30)
    }
    
    #pane {
      overflow: auto;
      height: calc(100% - 35px);
    }
    
  </style>
   <div id="controls">
    <lively-crayoncolors id="penColor" title="pen"></lively-crayoncolors>
    <lively-penchooser id="penSize"></lively-penchooser>
    <button id="crop">crop</button>
    <button id="save" title="save file CTRL+S"> 
        <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
  </div>
  <div id="changeIndicator"></div>
  <div id="pane">
    <canvas id="canvas"></canvas>
    <div id="pen"></div>  
  </div>
</template>
