<template id="lively-analysis" data-class="LivelyAnalysis">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
  :host {}
  #content {}
  .tab-container section { 
     display: block; 
     margin-left: 0; 
     clear: both;
	}
  	
  .tab-container > input,
	.tab-container section > .tab-content {
    display: none;
  }
		
	.tab-container section > .tab-content {
    padding: 20px;
    border: 1px solid silver;
    background: white;
    line-height: 1.5em;
    letter-spacing: 0.3px;
    color: black;
	}
  
  #tab1:checked ~ section .tab1,
  #tab2:checked ~ section .tab2,
  #tab3:checked ~ section .tab3 {
    display: block;
  }

	nav label {
   float: left;
   padding: 15px 15px;
   border-top: 1px solid silver;
   border-right: 1px solid silver;
	}

	nav label:nth-child(1) {
    border-left: 1px solid silver;
  }
	nav label:hover {
    background: darkgray;
    cursor: pointer;
  }
	nav label:active {
    background: white;
  }
	
	#tab1:checked ~ nav label[for="tab1"],
	#tab2:checked ~ nav label[for="tab2"],
	#tab3:checked ~ nav label[for="tab3"] {
	  background: white;
	  color: black;
	  position: relative;
	  border-bottom: none;
	}
	#tab1:checked ~ nav label[for="tab1"]:after,
	#tab2:checked ~ nav label[for="tab2"]:after,
	#tab3:checked ~ nav label[for="tab3"]:after {
	  content: "";
	  display: block;
	  position: absolute;
	  height: 2px;
	  width: 100%;
	  background: white;
	  left: 0;
	  bottom: -1px;
	}
  /* table*/
   #lively-analysis-table {
    border-collapse: collapse;
    font-size: 80%;
  }
  #lively-analysis-table tr,
  #lively-analysis-table td,
  #lively-analysis-table th {
    border: 1px solid gray;
  }
  #lively-analysis-table td,
  #lively-analysis-table th {
    padding: 4px 2px;
    text-align: left;
    max-width: 500px;
    word-wrap:break-word;
  }
  #lively-analysis-table td:first-child,
  #lively-analysis-table th:first-child {
    display: none;
  }
  #lively-analysis-table th {
    text-transform: capitalize;
  }
  .deadLink {
    background-color:rgba(255, 0, 0, 0.25);
  }
  .aliveLink {
    background-color:rgba(0, 255, 0, 0.15);
  }
  
  #tab-versions div {
  }
  

</style>
  
  <h3>Semantic Code Analysis</h3>
  <button id="updateDirectory">update directory</button>
  <content>
    <div id="content" class="tab-container">
       <input checked="checked" id="tab1" type="radio" name="tabs" />
       <input id="tab2" type="radio" name="tabs" />
       <input id="tab3" type="radio" name="tabs" />

       <nav>
          <label for="tab1">Polymetric View</label>
          <label for="tab2">Versions</label>
          <label for="tab3">Broken Links</label>
       </nav>

       <section>
          <article id="tab-polymetric" class="tab1 tab-content">
            <button id="updatePolymetric">update</button>
            <div id="lively-analysis-polymetric-container"></div>
          </article>
          <article id="tab-versions" class="tab2 tab-content">
            <button id="updateVersions">update</button>
            <div id="lively-analysis-heatmap-container"></div>
          </article>
          <article id="tab-broken-links" class="tab3 tab-content">
            <button id="updateBrokenLinks">update</button>
            <div id="lively-analysis-table-container"></div>
          </article>
       </section>
    </div>
  </content>
</template>
<script class="registrationScript">lively.registerTemplate()</script>

