<template id="lively-search" data-class="LivelySearch">
    <style data-src="/templates/livelystyle.css"></style>
    <style>
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    p {
      padding-left: 5px;
      padding-right: 5px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    
    p.fill {
      display: flex;
      flex-direction: row;
    }
    
    input {
      width: 40px;
      flex: 1;
      margin: 2px;
    }
    
    
    input:disabled {
      color: #aaaaaa
    }
   
    
    label {
      padding: 3px;
      padding-top: 6px;
      font-size: 13px;
      color: #555555;
    }

    
    label.medium {
      width: 70px;
    }

    label.small {
      width: 40px;
    }
    
    
    input.checkbox {
      width: 14px;
      height: 14px;
      margin: 0px;
      padding: 0px;
    }
    
    #searchContainer {
      flex: 1;
      overflow: auto; 
    }
    
    #searchResults  {
      width: 800px;
      margin-left: 10px;
      /* width: 90%; */
    }
    
    
    #searchResults a {
      /*
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      */
    }
    
    #searchResults span {
      font-family: monospace
    }
    
    .filename {
      white-space: nowrap;
    }
    
    #replaceBar {
      display: none;
    }
      
    :host([replace=true]) #replaceBar {
      display: inherit;
    }
    
    td.logentry {
   
    }
  
    #preview {

    }
    </style>
    <div class="container">
        <p class="fill">
          <label class="small">Roots:</label> 
          <input class="" id="rootsInput" value="" />
          <label class="medium">Excludes:</label> 
          <input class="" id="excludesInput" value="node_modules,src/external,vendor/" />
          <button id="enableReplaceButton">R</button> 
      </p>
        <p class="fill">
          <input class="" id="searchInput" value="" />
          <button id="searchButton">search</button> 
        </p>
        <p class="fill" id="replaceBar">
          <input class="" id="replaceInput" value="" />
          <button id="replaceButton">replace all!</button> 
        </p>

        <div id="searchContainer">
          <table id="searchResults"></table>  
        </div>
    </div>
</template>

<script class="registrationScript">lively.registerTemplate()</script>



