<template id="lively-cloudscripting-configurator" >
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
  
<style>
:host {
  width:100px;
}
  #content{
    padding:0 10px;
  }
  .keyEntry{
    width:50%;
  }
  .valueEntry{
    width:50%;
    padding:20px 0;
  }
  .valueInput{
    width:100%;
  }
  .row{
    border-bottom:1px solid lightgrey;
  }
  #configTable{
    width:100%;
    border-collapse: collapse; 
  }
  .tableHeading{
    text-align:center;
    font-size:120%;
  }
  #button{
    float:right;
    width:80px;
    margin-top:20px;
  }

</style>
<div id="content">
	<content>
    <h2 id="heading">
      Config for 
    </h2>
    <table id="configTable">
     <th class="tableHeading">Key</th>
    <th  class="tableHeading">Value</th>
    </table>
    <button id="button">
      Save
    </button>
  </content>
</div>
</template>


