<template id="lively-index-manager" data-class="LivelyIndexManager">
    <style data-src="/templates/livelystyle.css"></style>
    <style>
    .container {
        width: 100%;
        height: 100%;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
    td {
      padding: 0px 15px 0px 15px;
    }
    </style>
    <div class="container">
      <h3>Server</h3>
      <table id="server-table" data-type="server"></table>
      <h3>Dropbox</h3>
      <table id="dropbox-table" data-type="dropbox"></table>
    </div>
</template>
<script class="registrationScript">lively.registerTemplate()</script>
