<template id="lively-ast-explorer" >
  <style data-src="/templates/livelystyle.css"></style>
  <style>
    :host {
      width: 50px;
      height: 25px;
      
      display: flex;
      flex-direction: column;
    }
  
    .layout-column {
      display: flex;
      flex-direction: column;
    }

    .layout-row {
      display: flex;
      flex-direction: row;
      overflow: hidden;
    }

    #firstRow, #secondRow {
      border: 1px gray solid;
      flex: 0.5;
    }

    #result {
      margin-left: 15px
    }

    #source, #sourceAst, #transformedSource, #plugin, #result {
      flex: 1;
    }

    #sourcePane, #sourceAstPane, #transformedSourcePane {
      flex: 1;
      overflow: hidden;
    }

    #resultPane {
      flex: 1;
      overflow: scroll;
    }

    #pluginPane {
      flex: 2;
      overflow: hidden;
    }

    #transformedSourcePane, #sourceAstPane, #resultPane {
      border-left: 2px gray solid;
    }

    
    #transformedSourcePane {
      overflow: scroll;
    }
    
  </style>

  <div id="firstRow" class="layout-row">
    <div id="sourcePane">
      <lively-editor id="source"></lively-editor>
    </div>

    <lively-separator></lively-separator>

    <div id="sourceAstPane">
      <lively-ast-inspector id="sourceAst"></lively-ast-inspector>
    </div>
    
    <lively-separator></lively-separator>

    <div id="transformedSourcePane" class="layout-column">
      <span id="eval">
        <b>Transformed Source</b>
        <input type="checkbox" id="live" title="continous eval" checked/>
        <label for="live">Run On Save</label>
        <input type="checkbox" id="run-tests" title="run tests after successful transpilation" checked/>
        <label for="run-tests">Run Tests</label>
      </span>
      <lively-code-mirror id="transformedSource"></lively-code-mirror>
    </div> 
  </div>

  <lively-separator></lively-separator>

  <div id="secondRow" class="layout-row">
    <div id="pluginPane">
      <div>
        <b>Plugin</b>
        <input type="checkbox" id="systemjs">
        <label for="systemjs">SystemJS</label>
      </div>
      <lively-editor id="plugin"></lively-editor>
    </div>

    <lively-separator ></lively-separator>

    <div id="resultPane" class="layout-column">
      <b>Result</b>
      <pre id="result"></pre>
    </div>
  </div>
</template>