<template id="plugin-selector">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
    
    :host {
        overflow: scroll;
        width: 400px;
    }
    
    button.toggle {
      color: black;
    }

    button.toggle.on {
      color: white;
      background: steelblue;
    }
    
    .entry {
        position: relative;
        width: 100%;
        background: #ddd;
    }
    
    .entry.contrast {
        background: #ccc;
    }
    
    .options {
        position: absolute;
        left: 300px;
    }
    
    #pluginList {
        display: flex;
        border-right: 1px solid black;
    }
    
    #selectedPlugins {
        display: flex;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        /*align-items: flex-start;*/
    }
    
    #outerContainer {
        display: flex;
        height: 100%;
    }
    
    #outerContainer > div {
        padding: 10px
    }
    
    .unmodified:focus {
        outline: none !important;
        border-color: green;
        box-shadow: 0 0 3px green;
    }
    
    .modified {
        outline: none !important;
        border: 1px solid red;
        box-shadow: 0 0 3px red;
    }
    
</style>
    
    
    <div id="outerContainer">
        <div id="pluginList"></div>
        <div id="selectedPlugins"></div>
    </div>
    
    
</template>

