<template id="d3-plaintree">
  <style>
    :host {
      width: 200px;
      height: 200px;
    } 
    #svg {
      position: relative;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
    }
        
    .node circle {
      fill: #999;
    }

    .node text {
      font: 10px sans-serif;
    }

    .node--internal circle {
      fill: #555;
    }

    .node--internal text {
      text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
    }

    .link {
      fill: none;
      stroke: #555;
      stroke-opacity: 0.4;
      stroke-width: 1.5px;
    }

    form {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      position: absolute;
      left: 10px;
      top: 10px;
    }

    label {
      display: block;
    }
    
    </style > 
  <svg id="svg"></svg>
</template>