  li.component {
    width: 250px;
    height: 150px;
    list-style-type: none;
    float: left;
    border: 1px solid lightgray;
    margin: 10px;
    overflow: hidden;
  }

  h1,
  h2,
  h3,
  h4 {
    clear: left;
  }

  li.leftright {
    list-style-type: none;
    float: left;
    width: 400px;
  }

  img {
    max-width: 300px
  }
