.widget {
  position: relative;
  display: inline-block;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  margin-left: 4px;
  padding: 0 4px;
}

.widget.probe, .widget.slider {
  background-color: hsla(198, 69%, 67%, 0.5);
}

.example-name {
  border-radius: 3px;
  padding-left: 4px;
}

.widget.replacement {
  background-color: hsla(344, 54%, 63%, 0.5);
}

.widget.example, .widget.instance {
  background-color: hsla(41, 69%, 38%, 0.5);
  border-radius: 0px;
}

.CodeMirror-linewidget:last-of-type > .widget.example {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.CodeMirror-linewidget:last-of-type > .widget.instance {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.widget input {
  background: transparent;
  border: none;
  font: inherit;
}

.widget-line:after {
  content: "\a";
  white-space: pre;
}

.marker {
  display: inline-block;
}

.marker.start {
  border-top-left-radius: 3px;
}

.marker.end {
  border-top-right-radius: 3px;
}

.marker.probe, .marker.slider {
  background-color: hsla(198, 69%, 67%, 0.3);
}

.marker.replacement {
  background-color: hsla(344, 54%, 63%, 0.3);
  text-decoration: line-through;
}

.marker.example, .marker.instance {
  background-color: hsla(41, 69%, 38%, 0.3);
}

.marker.dead {
  opacity: 0.5;
}

.probe-value {
  white-space: pre;
}

.delete-button {
  cursor: pointer;
  opacity: 0.8;
  color: maroon;
  font-family: "FontAwesome";
  display: inline-block;
}

.delete-button::before {
  content: "\f00d"
}

.widget.probe .delete-button, .widget.probe .delete-button {
  width: 1ch;
}

.space-before {
  padding-left: 1ch;
}

.switch-button {
  cursor: pointer;
  font-family: "FontAwesome";
  opacity: 0.8;
}

.switch-button.on::before {
  content: "\f205";
}

.switch-button.off::before {
  content: "\f204";
}

