<template id="event-drops" >
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style data-src="/src/components/draft/event-drops.css"></style>

<style>
:host {
  
}
#content {
  background-color: gray;
}
</style>
  <div id="eventdrops-demo" style="width: 90%;"></div>
  <p class="infos">
    <span id="numberCommits"></span> commits <span class="light">found between</span> <br />
    <span id="zoomStart"></span> <span class="light">and</span> <span id="zoomEnd"></span>
  </p>
  <content></content>
</template>

