<template id="gmail-messages" >
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
  :host {
    height: 100%;
    width: 100%;
  }

  #paneX {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  #pane {
    display: flex;
    flex: 1;
  }
  
  
  
  #content {
    overflow: auto;
    flex: 0.5;
  }
  #message-pane {
    flex: 0.5;
    width: 500px;
  }

  li.selected {
    background-color: lightgray;
  }
  
  li {
    padding: 3px;
  }
  ul {
   list-style-type: none;
  }
  
</style>
  <div id="paneX">
    <div id="pane">
      <div id="content">
       
      </div>
      <lively-separator></lively-separator>
      <div id="message-pane">
        <gmail-message id="message"></gmail-message>     
      </div>
    </div>
  </div>
</template>

