<template id="gmail-message" >
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
  :host {
    
  }
  
  
  #scroll {
    overflow: auto;
    height: 100%;
  }
  
  #from {
    margin-left: 10px; 
    font-size: 10pt;
    color: gray;
  }
  
  
  #body {
    white-space: pre;
    margin-top: 5px; 
    margin-left: 10px; 
  }
  
  #subject {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14pt;
    font-weight: bold;
  }
  
  
  
  

</style>
  <div id="scroll">
      
    <div id="subject">
    </div>     
    <div id="from">
        
    </div>     

    <div id="body">
      
    </div>
    <div id="content">
      
    </div>     
  </div>
</template>

