<template id="lively-handwriting">
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style>
    :host {
      
    }
    #canvasSimple {
       width="490px";
       height="220px";
    }
  </style>

  <h1 id="caption">WritePad Handwriting Recognition</h1>

  <select id="language">
    <option value="en">English</option>
    <option value="de">Deutsch</option>
  </select>

  <lively-paper id="drawingCanvas"></lively-paper>

  <div id="dynbuttons"></div>
  <div id="control">
    <button id="clearText">Clear Text</button>
  </div>
  <div id="result"></div>

  <div id="hiddenContent">
    <slot></slot>
  </div>
</template>
