<template id="lively-movie" data-class="LivelyMovie">
  <!-- #TODO lively-movies is actually not a tool, but an application of lively4, so it should go in its own repository -->
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style>
    #log {
      position: absolute;
    }
    #container {
      width: 100%;
      height: 100%;
      overflow: auto;
    }
    #poster {
      position: absolute;
      left: 430px;
    }
    
    #left-pane {
      width: 400px;
    }
    
    #title, #year {
      font-size: 16pt;
    }
    
    #year::before { 
      content: "(";
    }
    
    #year::after { 
      content: ")";
    }
    
    .prop {
      color: gray;
    }
    
    #playButton {
      background: none;
      border: none;
    }
    
    #format {
      font-size: 9pt;
    }
    
    #youtube, #wikipedia {
      font-size: 9pt;
      color: gray;
    }
    
    
    #imdb:hover, #youtube:hover, #wikipedia:hover {
      color: white;
      background: gray;
    }
    
    #plot {
      font-size: 10pt;
    }
    
  </style>
  
  <img id="poster"></img>
  <div id="left-pane">
    <div>
      <span id="title"></span>
      <span id="year"></span>
    </div>
    <div>
      <button id="playButton">
        <i class="fa fa-play" title="Play" aria-hidden="true"></i> play</button>
      <span id="format"></span>
    </div>  
    <div>
      <span id="youtube">youtube</span> <span id="wikipedia">wikipedia</span>
    </div>  
    
    <div>
      <span class="prop">imdb: </span><span id="imdb"></span>
    </div>
    <div>
      <span class="prop">IMDB Rating: </span><span id="imdbRating"></span> (<span id="imdbVotes"></span> votes)
    </div>
    <div>
      <span class="prop">Metascore: </span><span id="metascore"></span>
    </div>
    <div>
      <span class="prop">Genre: </span><span id="genre"></span>
    </div>
    <div>
      <span class="prop">Director: </span><span id="director"></span>
    </div>
    <div>
      <span class="prop">Writers: </span><span id="writer"></span>
    </div>
    <div>
      <span class="prop">Actors: </span><span id="actors"></span>
    </div>
    <div>
      <span class="prop">Plot: </span><span id="plot"></span>
    </div>
    
    <div id="info">
      No info
    </div>
  </div>
  
</template>
<script class="registrationScript">lively.registerTemplate()</script>
