<template id="vivide-step-editor" data-class="VivideStepEditor">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
:host {
  border: solid 1px lightgrey;
  background-color: lightgreen;
  margin: 100%
  padding: 100%
  
  display: flex;
  flex-direction: column;
}
:host(:focus), :host(:focus-within) {
  border: solid 1px blue;
}

lively-code-mirror {
  flex: 1;
  min-height: unset;
  height: auto;
}

.remove-button {
  position: absolute;
  bottom: 0;
  right: 4px;
  z-index: 1001;
}

.insert-button {
  position: absolute;
  bottom: 30px;
  right: 4px;
  z-index: 1001;
}
  
.container {
  position: relative
}
  span#typeHint {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1002;
    
    background-color: lightgray;
    border-bottom-left-radius: 5px;
    font-size: small;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    color: white;
  }
  div#menu-holder {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1003;
    width: 0px;
    height: 0px;
  }
</style>
<div class="container">
  <lively-code-mirror id="editor"></lively-code-mirror>
  <span id="typeHint"><span id="stepType">stepType</span></span>
  <div id="menu-holder"></div>
</div>
</template>
<script class="registrationScript">lively.registerTemplate()</script>

