<template id="vivide-text-widget">
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style>
    :host {
      margin: 0px;
      padding: 0px;
      
      width: 100%;
      height: 100%;

      overflow-y: hidden;
    }
    
    #content {
      overflow-x: hidden;
      overflow-y: hidden;

      display: flex;
      flex-direction: column;
    }

    lively-code-mirror {
       border-top: solid 1px lightgrey;
       border: solid 1px lightgrey;

      flex: 1;
      min-height: unset;
      height: auto;
    }
  </style>
  <div id="content"></div>
</template>
