<template id="vivide-step-editor" data-class="VivideStepEditor">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
:host {
  background-color: lightgreen;
  margin: 100%
  padding: 100%
  
  display: flex;
  flex-direction: column;
}
lively-code-mirror {
  flex: 1;
  min-height: unset;
  height: auto;
}

.remove-button {
  position: absolute;
  bottom: 0;
  right: 4px;
  z-index: 1001;
}

.insert-button {
  position: absolute;
  bottom: 30px;
  right: 4px;
  z-index: 1001;
}
  
.container {
  position: relative
}
</style>
<div class="container">
  <lively-code-mirror id="editor"></lively-code-mirror>
  <button id="insertScript" class="insert-button">+ Insert Script</button>
  <button id="removeScript" class="remove-button">- Remove Script</button>
</div>
</template>
<script class="registrationScript">lively.registerTemplate()</script>

