<template id="vivide-script-editor" data-class="VivideScriptEditor">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
  :host {
    background-color: lightgray;
    margin: 100%
    padding: 100%

    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  lively-code-mirror {
    flex: 1;
    min-height: unset;
    height: auto;
  }

  :host(:focus-within), :host(:hover) {
    background-color: lightyellow;
  }

  .loop-marker {
    display: hidden;
    width: 4px;
    z-index: 1002;
    background-color: #0f0;
    position: absolute;
    right: 0px;
  }
  
  .container {
    position: relative;
  }
  
  vivide-step-editor {
    display: block;
  }
  
  lively-inspector {
    display: none;
  }
</style>
  <div id="container" class="container">
    <lively-inspector id="inspector"></lively-inspector>
    <div id="editor-list"></div>
    <div id="loop-marker" class="loop-marker"></div>
  </div>
</template>
<script class="registrationScript">lively.registerTemplate()</script>

