<template id="add-triple" data-class="AddTriple">
  <style>
  :host {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
  }
  
  div {
    display: flex;
    flex-direction: row;
  }
      
  input {
    flex: 1;
  }
      
  label {
    padding-right: 5px;
  }

  </style>
  <knot-input id="subject2"></knot-input>
  <knot-input id="predicate2"></knot-input>
  <knot-input id="object2"></knot-input>
</template>
<script class="registrationScript">lively.registerTemplate()</script>
