<template id="add-triple" data-class="AddTriple">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
	<style>
	:host {
	  
	}
	#content {
	  background-color: blue;
	}
	</style>
  <select id="subject"></select>
  <select id="predicate"></select>
  <select id="object"></select>
  <select id="directory" >
    <option>https://lively4/dropbox/</option>
    <option>https://lively4/references/</option>
  </select>
  <input type="text" id="title" value="00 test 31" placeholder="title" title="title">
  <select id="file-ending" >
    <option value="md">Markdown</option>
    <option value="json">JSON</option>
  </select>
  <button id="save" title="create knot">
    <i class="fa fa-check-circle" aria-hidden="true"></i>
  </button>
<div id="content">
	<content></content>
</div>
</template>
<script class="registrationScript">lively.registerTemplate()</script>

