<template id="add-triple" data-class="AddTriple">
  <style>
  :host {
    margin: 0px;
    padding: 0px;
  }
  </style>
  <label for="inputSubject">Subject</label>
  <input type="text" id="inputSubject" placeholder="subject" list="subject">
  <datalist id="subject">
  </datalist>
  <label for="inputPredicate">Predicate</label>
  <input type="text" id="inputPredicate" placeholder="predicate" list="predicate">
  <datalist id="predicate">
  </datalist>
  <label for="inputObject">Object</label>
  <input type="text" id="inputObject" placeholder="object" list="object">
  <datalist id="object">
  </datalist>
</template>
<script class="registrationScript">lively.registerTemplate()</script>
