<template id="blockchain-wallet" >
<style data-src="/node_modules/bootstrap-css-only/css/bootstrap.min.css"></style>
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
  p span {
    text-overflow: ellipsis;
    max-width: 200px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
  }
  .card i {
    padding-right: 30px;
    position: relative;
    top: -3px;
  }
  .color-green {
    color: #4F5D2F;
    padding-left: 2em;
  }
  .color-red {
    color: #9C7178;
    padding-left: 2em;
  }
</style>
<div id="content">
	<content>
    <div class="card bg-light mb-3">
      <div class="card-header" id="hash"></div>
      <div class="card-body">
      <div class="card-text">
        <div class="container">
          <div class="row">
            <div class="col">
              <h5>Wallet details</h5>
              <p id="publicKey"><i style="padding-right:0" class="fa fa-key" aria-hidden="true"></i><i class="fa fa-globe" aria-hidden="true"></i>
<span></span></p>
              <p id="privateKey"><i style="padding-right:0" class="fa fa-key" aria-hidden="true"></i><i class="fa fa-user-secret" aria-hidden="true"></i>
<span></span></p>
              <p id="value"><i style="padding-right:55px" class="fa fa-money" aria-hidden="true"></i><span></span></p>
            </div>
            <div class="col">
              <h5>Value improving transactions</h5>
              <div id="transaction-list">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </content>
</div>
</template>


