<template id="blockchain-node-view" data-class="BlockchainNodeView">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>

  .link {
    stroke: #ccc;
  }

  .node text {
    pointer-events: none;
    font: 10px sans-serif;
  }
  
</style>
  
<div id="content">
  <svg width="900" height="500" id="svgContainer" style="border-style: solid"/>
</div>
</template>
<script class="registrationScript">lively.registerTemplate()</script>

