<template id="d3-example" data-class="D3Example">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
  .node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 4px;
  }

  .link {
    stroke: #777;
    stroke-width: 2px;
  }
</style>

<div id="content">
  <svg width="900" height="500" id="svgContainer" style="border-style: solid">
  </svg>
</div>
</template>
<script class="registrationScript">lively.registerTemplate()</script>

