<template id="gh-explorer" data-class="GhExplorer">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
:host {
  overflow-y: scroll;
}
#content {
  background-color: blue;
}
</style>
<h1> GitHub Explorer
  <button id="visit-api"><i class="fa fa-external-link" aria-hidden="true"></i> Visit API URL</button>
  <button id="set-token"><i class="fa fa-cog" aria-hidden="true"></i> Set Token</button>
</h1>

<div contenteditable="true" id="query">
SELECT * FROM projects LIMIT 50;
</div>
<ol id="queryResult">
</ol></template>
<script class="registrationScript">lively.registerTemplate()</script>

