<template id="github-explorer" data-class="GithubExplorer">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style>
  :host {

  }
  
  #content {
    background-color: gray;
  }
  
  nav {
    width: 200px;
  }
  
  nav>ul {
    overflow:hidden;
    overflow-y:scroll;
    padding:0px;
    margin:0px;
  }

  nav>ul>li {
    margin: 4px 0px 4px 8px;
    list-style:none;
    cursor: pointer;
  }
  
  nav>ul>li:hover {
    font-weight: bold;
  }
  
  nav>ul>li:nth-child(odd) {
    background-color: #ececec;
  }
  
  #datapreview {
    display: block;
    max-width: 100%;
    overflow: scroll;
    height: 400px;
    border-collapse: collapse;
    font-family: 'Courier New', 'Monaco';
  }
  
  #datapreview td {
    max-width: 30%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #dataprview, th, td {
    border: 1px solid black;
  }
nav
</style>

<nav>
  <h2>
    Select a Model:
  </h2>
  <ul id="models" />
</nav>
  <h1>
    Datapreview:
  </h1>
<table border="1" id="datapreview">
</table>
</template>
<script class="registrationScript">lively.registerTemplate()</script>