<template id="graph-control" >
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
:host {
  padding: 0px;
  width: 0px;
}
.todo {
  color: #b33630;
}

.todo:hover {
  background:  linear-gradient(#dc5f59, #b33630);
  color: white;
}

  .knowledge-base {
    margin: 5px;
  }

  .knowledge-base a.open-knowledge-base {
    cursor: pointer;
  }

  .knowledge-base i.remove-knowledge-base {
    cursor: pointer;
  }

  .knowledge-base i.remove-knowledge-base:hover {
    color: red;
  }
</style>
<div><knot-input id="open-knot-view"></knot-input></div>
<div><label for="full-text-search">Google: </label><input type="text" id="full-text-search" placeholder="terms for full text search" title="search triple notes" value=""></div>
<hr>
<button id="launchTripleList" title="launch triple list">
  <i class="fa fa-list-ul" aria-hidden="true"></i> Launch Triple List
</button>
<button id="launchGraph" title="launch graph">
  <i class="fa fa-line-chart" aria-hidden="true"></i> Launch Graph
</button>
<button id="launch-knot-copy-viewer" title="launch knot-copy-viewer">
  <i class="fa fa-list" aria-hidden="true"></i> Launch List Copy Viewer
</button>
<hr>
<button id="add-knot" title="add knot">
  <i class="fa fa-circle" aria-hidden="true"></i> Add Knot
</button>
<button id="add-triple" title="add triple">
  <i class="fa fa-link" aria-hidden="true"></i> Add Triple
</button>
<hr>
<div>Planning</div>
<button id="kickoff" title="kickoff">
  <i class="fa fa-calendar" aria-hidden="true"></i> Kickoff
</button>
<button id="open-diary" title="open diary">
  <i class="fa fa-book" aria-hidden="true"></i> Open Diary
</button>
<button id="retrospective" title="retrospective">
  <i class="fa fa-eye" aria-hidden="true"></i> Retrospective
</button>
<hr>
<span>Root Knowledge Bases</span>
<div>
<label for="inputAddDirectory">URL:</label>
<input type="text" id="inputAddDirectory" placeholder="https://lively4/notes/">
<button id="add-root-knowledge-base" title="load directory">
  <i class="fa fa-plus" aria-hidden="true"></i>
  Add as Knowledge Base
</button>
</div>
<div>
<div id ="root-knowledge-bases-container"></div>
</div>
<hr>
Experiencing Errors with local server? Try: chrome://flags/#allow-insecure-localhost
</template>

