<template id="graph-control" data-class="GraphControl">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
:host {
  padding: 0px;
  width: 0px;
}
</style>
<label for="inputAddDirectory">Directory to load</label>
<input type="text" id="inputAddDirectory" placeholder="directory url">

<button id="addDirectory" title="load directory">
  <i class="fa fa-check-circle" aria-hidden="true"></i> Load Directory
</button>
<button id="launchTripleList" title="launch triple list">
  <i class="fa fa-bars" aria-hidden="true"></i> Launch Triple List
</button>

</template>
<script class="registrationScript">lively.registerTemplate()</script>

