<template id="graph-control" data-class="GraphControl">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
:host {
  padding: 0px;
  width: 0px;
}
.todo {
  color: #b33630;
}

.todo:hover {
  background:  linear-gradient(#dc5f59, #b33630);
  color: white;
}

</style>
<div><knot-input id="open-knot-view"></knot-input></div>
<div><label for="full-text-search">Google: </label><input type="text" id="full-text-search" placeholder="terms for full text search" title="search triple notes" value=""></div>
<hr>
<button id="setupConfigure" class="todo" title="setup/configure">
  <i class="fa fa-cog" aria-hidden="true"></i> Setup/Configure
</button>
<button id="launchTripleList" title="launch triple list">
  <i class="fa fa-list-ul" aria-hidden="true"></i> Launch Triple List
</button>
<button id="launchGraph" title="launch graph">
  <i class="fa fa-line-chart" aria-hidden="true"></i> Launch Graph
</button>
<hr>
<button id="add-knot" title="add knot">
  <i class="fa fa-circle" aria-hidden="true"></i> Add Knot
</button>
<button id="add-anonymous-knot" class="todo" title="add anonymous knot">
  <i class="fa fa-question" aria-hidden="true"></i> Add Knot
</button>
<button id="add-triple" title="add triple">
  <i class="fa fa-link" aria-hidden="true"></i> Add Triple
</button>
<hr>
<label for="inputAddDirectory" class="todo">Directory to load</label>
<input type="text" class="todo" id="inputAddDirectory" placeholder="directory url">
<button id="addDirectory" class="todo" title="load directory">
  <i class="fa fa-check-circle" aria-hidden="true"></i> Load Directory
</button>
Experiencing Errors with local server? Try: chrome://flags/#allow-insecure-localhost
</template>
<script class="registrationScript">lively.registerTemplate()</script>
