<template id="knot-input" data-class="KnotInput">
	<style>
  :host {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  
  input {
    flex: 1;
  }
      
  label {
    padding-right: 5px;
  }

	</style>
  <label id="label" for="input">Subject</label>
  <input type="text" id="input" placeholder="subject" list="list">
  <datalist id="list"></datalist>
</template>
<script class="registrationScript">lively.registerTemplate()</script>

