<template id="knot-view" data-class="KnotView">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style type="text/css">

#path-to-load {
  width: 100%;
}

th {
  background-color: grey;
}

th.triple-header {
  min-width: 10%;
  width:20%;
  max-width: 200px;
}

table {
  width: 100%;
}

table, thead, tbody, tr, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

tr:hover {
  background-color: lightgrey;
}

td i {
  color: grey;
}

#content-editor {
  height: 100%;
}


</style>
<input type="text" id="path-to-load" placeholder="path to load" title="path to load">

<h1 id="label"></h1>

<h2>URLs</h2>
<ul id ="url-list"></ul>

<h2>Relations</h2>

<h3 id="As Subject">As Subject</h3>
<table id ="po-table">
  <thead>
    <tr>
      <th>Predicate</th>
      <th>Object</th>
      <th class="triple-header">Triple</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<h3 id="As Predicate">As Predicate</h3>
<table id ="so-table">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Object</th>
      <th class="triple-header">Triple</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<h3 id="As Object">As Object</h3>
<table id ="sp-table">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Predicate</th>
      <th class="triple-header">Triple</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<h2>Content</h2>
<ul id ="spo-list"></ul>
<juicy-ace-editor id="content-editor"></juicy-ace-editor>

</template>
<script class="registrationScript">lively.registerTemplate()</script>

