<template id="lively-testrunner" data-class="TestRunner">
    <style>
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 5px;
    }
    p {
      margin-top: 2px;
      margin-bottom: 2px;      
    }
    #content {
      overflow: auto;
      margin: 0;
      padding: 0;
    }
    
    </style>
    <div class="container">
        <p>
          <button id="runButton">run</button>
          <input id="testDir" value="/test/,/test/templates/">
        </p>
        <div id="content">
        <content></content>
        </div>
    </div>
</template>
<script class="registrationScript">lively.registerTemplate()</script>

