<template id="lively-dom-inspector" data-class="LivelyDomInspector">
  <div id="top">
    <div id="container">
      <button style="margin-bottom: 10px; margin-right: 20px" id="showContainerButton">Show Container</button>
      <button style="margin-bottom: 10px; margin-right: 20px" id="nextHierarchyLevelButton" disabled="disabled">Show next hierarchy level</button>
      <button style="margin-bottom: 10px" id="hideContainerButton" disabled="disabled">Hide Container</button>
    </div>
    <input id="slider" type="range" min="0" max="2" value="0" step="1" />
  </div>
</template>


