<template id="lively-gastank">
<style type="text/css">

#gastank { 
  background:white; 
  border:1px solid #cbcbcb; 
  
}
</style>
<p id="hits">nothing</p>
<div id="container">
  <canvas id="gastank" width="300" height="300"></canvas>
</div>

<script type="lively4script" data-name="initialize">
  () => {

    var context;
    var hits = 0
    var start = Date.now()
    var molecules = _.range(0,100).map( i => { return {
      dx: Math.random() * 2, dy: Math.random() *4, y: 150, x: 10,
      color: lively.color.random()
    }})
    
    var draw = () => {
      context = $(this.shadowRoot).find("#gastank")[0].getContext('2d');
      context.clearRect(0, 0, 300, 300);
      
      molecules.forEach(molecule => {
          context.beginPath();
          // context.fillStyle = molecule.color;
          context.fillStyle = 'gray';
          context.arc(molecule.x, molecule.y, 10, 0, Math.PI*2, true);
          context.closePath();
          context.fill();
          if( molecule.x<0 || molecule.x>300) {
            molecule.dx =- molecule.dx;
            hits++
          } 
          if( molecule.y<0 || molecule.y>300) {
            molecule.dy =- molecule.dy;
            hits++
          }
          molecule.x += molecule.dx;
          molecule.y += molecule.dy;
      })
      this.shadowRoot.querySelector("#hits").innerHTML = "" + hits
    }
    setInterval(draw, 10);
  }
</script>

</template>
<script class="registrationScript">
lively.registerTemplate()
</script>

