<template id="lively-filesystems">
    <style data-src="/templates/livelystyle.css"></style>
    <style>
    .container {
        width: 100%;
        height: 100%;
        /*
        box-sizing: border-box;
        padding-top: 25px; */
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }
    .toolbar {
        /* position: absolute;
        left: 0px;
        top: 0px;
        width: 100%; */
        height: 25px;
        /*flex: 0;*/
    }
    #editor {
        /* box-sizing: border-box; */
        width: 100%;
        height: 100%;
        flex: 1;   /* ACE does not display right with "flex" */

    }
    #listOfMountPoints li {
      width: 100%; 
    }
    
    .browse, .umount {
       float: right;
       font-size: 10px;
       background-color: none;
       background-image: none;
       border: 0px;
    } 
    
    .browse:hover, .umount:hover {
       background-color: #AAAAAA;
       background-image: none;
       border: 0px;
    }
    p {
      margin: 2px;
    }
    #listOfMountPoints {
      padding: 5px;
      background-color: #E0E0E0;
      width: 90%;      
      overflow: auto;
    }

    #githubBranch {
      width: 80px;  
    }
    
    </style>
    <div class="container">
      <h3>Github  <button id="githubLoginButton">login</button>
        <button id="githubLogoutButton">logout</button></h3>
      <p>
       
        repo: <input id="githubRepo" value="LivelyKernel/lively4-core" />
        branch: <input id="githubBranch" value="gh-pages" />
        to: <input id="githubMount" value="/github" />
      </p>
      <h3>Dropbox <button id="dropboxLoginButton">login</button> <button id="dropboxLogoutButton">logout</button></h3>
      <p>
        
       
        from: <input id="dropboxSubfolder" value="/Lively" />
        to: <input id="dropboxMountPath" value="/dropbox" />
      </p>
      <h3>Mounts <button id="updateMountList"><i class="fa fa-refresh" aria-hidden="true"></i></button>
        </h3>
        <ol id="listOfMountPoints"></ol>
    </div>

    <script type="lively4script" data-name="initialize">
    () => {
      var container = $(this.shadowRoot).find(".container")[0];

      this.windowTitle = "Lively Mounts"
      // #TODO refactor to "connections"

      $(this.getSubmorph('#githubLoginButton')).click(() => {
        this.loginGitHub()})
      $(this.getSubmorph('#githubLogoutButton')).click(() => {
        this.logoutGitHub()})

      $(this.getSubmorph('#dropboxLoginButton')).click(() => {
        this.loginDropbox()})
      $(this.getSubmorph('#dropboxLogoutButton')).click(() => {
        this.logoutDropbox()})
      $(this.getSubmorph('#updateMountList')).click(() => {
        this.updateMountList()})

      this.updateMountList()

      container.dispatchEvent(new Event("initialized"))
    }
    </script>
    <script type="lively4script" data-name="getMountURL">
    function() {
      return "https://lively4/sys/fs/mount"
    }
    </script>

    <script type="lively4script" data-name="loginGitHub">
     function() {
        console.log("login")
        var mountPath = this.shadowRoot.querySelector('#githubMount').value
        var repo = this.shadowRoot.querySelector('#githubRepo').value
        var branch = this.shadowRoot.querySelector('#githubBranch').value

        lively.authGithub.challengeForAuth(Date.now(), (token) => {
            console.log('We are authenticated with the Token: ' + token)
            var mountGithub = {
              "path": mountPath,
              "name": "github",
              "options": {
                "repo":  repo,
                "branch": branch,
                "token": token
              }
            }
            console.log("mount: " + this.getMountURL())
            $.ajax({
              url: this.getMountURL(),
              type: 'PUT',
              data: JSON.stringify(mountGithub),
              success: function(text) {
                console.log("mounted github")
              },
              error: function(xhr, status, error) {
                console.log("could not mount gitub " + error)
              }
            });
        })
      }
    </script>
    <script type="lively4script" data-name="logoutGitHub">
      function(){
        lively.authGithub.logout();
        console.log('logged out of github')
        var unmountGithub = {
              "path": "/",
              "name": "github",
              "options": {
                "repo": "LivelyKernel/lively4-core",
                "branch": "gh-pages"
                 // No token, so we mount it read-only
              }
            }
            $.ajax({
              url: this.getMountURL(),
              type: 'PUT',
              data: JSON.stringify(unmountGithub),
              success: (text) => {
                console.log("unmounted github")
                this.updateMountList()
              },
              error: function(xhr, status, error) {
                console.log("could not unmount github " + error)
              }
            });
      }
    </script>

    <script type="lively4script" data-name="loginDropbox">
     function() {
        console.log("login dropbox")

        // #FutureWork -> make object lookup look nicer
        var mountPath = this.shadowRoot.querySelector('#dropboxMountPath').value
        var subfolder = this.shadowRoot.querySelector('#dropboxSubfolder').value

        lively.authDropbox.challengeForAuth(Date.now(), (token) => {
            console.log('We are authenticated with the Token: ' + token)
            var mount = {
              "path": mountPath,
              "name": "dropbox",
              "options": {
                "token": token,
                "subfolder": subfolder
              }
            }
            console.log("mount: " + this.getMountURL())
            $.ajax({
              url: this.getMountURL(),
              type: 'PUT',
              data: JSON.stringify(mount),
              success: (text) => {
                console.log("mounted dropbox")
                this.updateMountList()
              },
              error: function(xhr, status, error) {
                console.log("could not mount dropbox " + error)
              }
            });
        })

}    </script>
    <script type="lively4script" data-name="logoutDropbox">
      function(){
        lively.authDropbox.logout();
        console.log('logged out of dropbox')
        alert("not supprt")
        var unmountGithub = {
              "path": "/dropbox",
              "name": "????",
              "options": {
                 // No token, so we mount it read-only
              }
            }
            $.ajax({
              url: this.getMountURL(),
              type: 'PUT',
              data: JSON.stringify(unmountGithub),
              success: function(text) {
                console.log("unmounted github")
              },
              error: function(xhr, status, error) {
                console.log("could not unmount gitub " + error)
              }
            });
      }
    </script>
    <script type="lively4script" data-name="umountPath">
    function(path) {
      console.log("umountPath: " + path)
       $.ajax({
              url: "https://lively4/sys/fs/umount",
              type: 'PUT',
              data: JSON.stringify({path: path}),
              success: (text) => {
                console.log("unmounted path: " + path)
                this.updateMountList()
              },
              error: function(xhr, status, error) {
                alert("could not unmount path: "  + path, error)
              }
            });
    }
    </script>
    <script type="lively4script" data-name="updateMountList">
    function() {
      $.ajax({
        url: "https://lively4/sys/mounts",
        type: 'GET',
        success: (text) => {
          console.log("show mounts...")
          var list = this.shadowRoot.querySelector('#listOfMountPoints')
          var mounts = JSON.parse(text)
          console.log(mounts)

          list.innerHTML = ""
          mounts.forEach(ea => {
            let listItem = document.createElement("li")
            listItem.innerHTML = ea.path + " (" + ea.name +") "

            let button = document.createElement("button")
            button.innerHTML="umount"
            button.onclick = () => { this.umountPath(ea.path)}
            button.setAttribute("class","umount")
            listItem.appendChild(button)

            let browseButton = document.createElement("button")
            browseButton.innerHTML="browse"
            browseButton.onclick = () => {
              var browser = lively.components.createComponent("lively-file-browser");
              lively.components.openInWindow(browser).then(() => {
                browser.path = ea.path
              });
            }
            browseButton.setAttribute("class","browse")
            listItem.appendChild(browseButton)
            list.appendChild(listItem)
          })
        },
        error: function(xhr, status, error) {
          console.log("could not get list of mounts: " + error)
        }
      });
    }
    </script>
</template>
<script class="registrationScript">lively.registerTemplate()</script>