<link rel="import" href="../templates/juicy-ace-editor.html"/>
<template id="lively-editor">
    <style>
    .container {
        width: 100%;
        height: 100%;
    }
    #editor {
        width: 100%;
        height: 90%; // actucally I want calc(100% - 10px)
    }
    </style>
    <div class="container">
        <button id="loadButton">load</button>
        <button id="saveButton">save</button>
        <input type="text" id="filename" value="README.md">

        <!-- <button onclick="">reload service worker </button> -->

        <button id="loginButton">login</button>

        <button id="logoutButton">logout</button>

        <juicy-ace-editor id="editor"></juicy-ace-editor>
    </div>
    
    <script type="lively4script" data-name="initialize"> 
      var container = $(this.shadowRoot).find(".container")[0];
 
      // var messaging = require('../src/client/messaging.js');
      // var focalStorage = require('../src/external/focalStorage.js');
      // var githubAuth = require('../src/client/auth-github.js');

      var messaging, focalStorage, githubAuth;
      System.import('../src/client/messaging.js').then(function(mod) {
        messaging = mod;
      })

      System.import('../src/external/focalStorage.js').then(function(mod) {
        focalStorage = mod
      })
        
      System.import('../src/client/auth-github.js').then(function(mod) {
        githubAuth = mod
        window.githubAuth = githubAuth // make it global, so the callback can reach it...        
      })

    function currentEditor() {
         return ace.edit($('#editor')[0]);
      }

      function getURL(){
        var baseurl = $('#baseurl').val() // How to abstract from UI? #TODO #JensLincke
        var filename = $('#filename').val()
        return new URL(baseurl + filename)
      }

      function loadFile(){
        var url = getURL()
        console.log("load " + url)

        $.get(url, null, function(text) {
          currentEditor().setValue(text)
          console.log("file " + url + " read.")
        }).fail(function(e) {
            console.log('could not load ' + url + ": " + e); // or whatever
        });
      }

      function saveFile(){
        var url = getURL()
        console.log("save " + url)
        $.ajax({
            url: url,
            type: 'PUT',
            data: currentEditor().getValue(),
            success: function(text) {
            console.log("file " + url + " written.")
          },
          error: function(xhr, status, error) {
            console.log("could not write " + url + ": " + error)
          }
        });

      }

        $('#saveButton').click(saveFile)
        $('#loadButton').click(loadFile)

        $('#loadButton').click(function() {
          githubAuth.challengeForAuth(Date.now(), function(token){
              console.log('We are authenticated with the Token: ' + token)
          })
        })

        $('#logoutButton').click(function(){
          githubAuth.logout(); console.log('logged out of github')
        })

      container.dispatchEvent(new Event("initialized"))
    </script>
</template>

<script class="registrationScript">
// This ugly piece of code will be auto generated, when exporting a template. Puh.
(function() {
  var template = document.currentScript.ownerDocument.querySelector('#lively-editor');
  var clone = document.importNode(template.content, true);

  System.import('../src/client/morphic/component-loader.js').then(loader => { loader.register('lively-editor', clone); });
})();
</script>
