<template id="lively-cloudscripting-credentials">
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style>
    .credentials {
    }
    
    #name {
      float: right;
    }
  </style>

<div class="credentials">
  <h1>
    Credentials for user [TODO]
  </h1>
  <div id="name">
    
  </div>
  <table>
    <tr>
      <td>Github</td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>Dropbox</td>
      <td><input type="text"></td>
    </tr>
  </table>
  <div>
    
  </div>
 Here to come: Credentials
</div>

</template>
<script class="registrationScript">lively.registerTemplate()</script>