<template id="lively-cloudscripting-action-item">
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style>  
    button {
      font-size: 75%;
      margin-left: 1.5em;
      margin-bottom: 5px;
    }
    
    h5 {
      margin: 0;
      margin-left: 5px;
    }
    
  </style>

<div class="action-item">
  <h5>
    Action name 
  </h5>
  <i class="fa fa-times delete-action"></i>
  <button id="modify-config">
    Modify config
  </button>
</div>

</template>
<script class="registrationScript">lively.registerTemplate()</script>