<template id="lively-cache-mounts" data-class="LivelyCacheMounts">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
:host {
  
}
#content {
  
}
  
nav {
  border-bottom: 1px solid #ddd;
  padding: 2px 4px;
  display: flex;
  justify-content: space-between;
}

#mountList {
  flex: 1;
  overflow-x: scroll;
}

#mountList ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#mountList li {
  padding: 2px;
  font-family: monospace;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#mountList li:hover {
  background-color: #eee;
}
</style>
  <nav>
    <div>
      <button id="cacheMountButton" title="Cache whole mount" disabled>
        <i class="fa fa-cloud" aria-hidden="true"></i>
      </button>
      <button id="cacheFileButton" title="Cache file/directory from mount" disabled>
        <i class="fa fa-download" aria-hidden="true"></i>
      </button>
    </div>
  </nav>
  <div id="mountList"></div>
  <div id="dicTree"></div>
</template>
<script class="registrationScript">lively.registerTemplate()</script>

