<template id="lively-window" data-class="LivelyWindow">
  <style data-src="/src/external/font-awesome/css/font-awesome.min.css"></style>
  <style>
  :host {
    position: absolute;
    z-index: 100;
    width: 650px;
    height: 400px;
  }
  :host(.window-fixed) {
    position: fixed;
  }
  :host * {
    box-sizing: border-box;
  }
  ::content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  ::content > * {
    position: absolute;
    height: 100%;
    width: 100%;
  }



  .window {
    /* border-radius: 4px 4px 0px 0px; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f1f3f4;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    border: 1px rgb(217, 218, 234) solid;
  }


  .window.focused {
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: #778899;
    border-color: rgb(120, 118, 116);
  }
  
  :host(.global) .window {
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 200, 0.3);
    border: 2px rgba(0, 0, 200, 0.3) solid;

  }

  
  .window.dragging  *, .window.resizing  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .window-titlebar {
    position: relative;
    display: flex;
    flex-grow: 0;
    height: 1.2em;
    width: 100%;
    border: 0;
    border-bottom: 1px #e9e9e9 solid;
  }
  .focused .window-titlebar {
    border-bottom-color: rgba(0,0,0,0);
  }
  .window-title {
    flex-grow: 1;
    font-weight: 600;
    padding-top: 0em;
    vertical-align: middle;
    cursor: move;
    overflow: hidden;
  }
  .window-title span {
    font-size: 0.8em;
    margin-left: 6px;
    color: #47515b;
  }
  .window-title span small {
    font-style: italic;
    color: #333;
  }

  .focused .window-title span {
    color: #f1f3f4;
  }
  .focused .window-title span small {
    color: #f1f3f4;
  }

  .window-controls {
    flex-grow: 0;
  }
  .window-button {
    display: inline-block;
    color: #777777;
    background-color: rgba(0,0,0,0);

    width: 1.3rem;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    line-height: 1.0rem;
    font-size: 0.8em;
  }
  .window-close {
      font-size: 0.9em;
  }
  
  .window-menu {
    padding-top: 2px;  
  }

  .window-button .fa {
    padding: 2px;
  }
  .focused .window-button {
    color: white;
    background-color: rgba(0,0,0,0);
  }
  .window-button:hover, .window-button.active {
    background-color: #cde6f7;
    color: #2a8dd4;
  }
  .window-close:hover {
    background-color: rgb(216, 11, 11);
    color: #ffffff;
  }
  .window-pin i {
    transform: rotate(90deg);
    transition: transform 300ms;
  }
  .window-pin.active i {
    transform: rotate(0);
  }
  .window-content {
    position: relative;
    width: auto;
    height: auto;
    margin: 0px; /* otherwise there is a scrollbar */
    padding-top: 0px;
    flex: 1;
    overflow: hidden; /* when the users wants scrollable content, they should do it themselves */
    background-color: white;
  }
  </style>

  <div class="window">
    <div class="window-titlebar">
      <span class="window-button window-menu" title="open menu"><i class="fa fa-bars" aria-hidden="true"></i></span>

      <div class="window-title"><span></span></div>
      <div class="window-controls">
      	<!--
        <span class="window-button window-pin"><i class="fa fa-thumb-tack" aria-hidden="true"></i></span>
        -->
        <span class="window-button window-min" title="collapse"><i class="fa fa-window-minimize " aria-hidden="true"></i></span>
        <span class="window-button window-max" title="maximize"><i class="fa fa-window-maximize " aria-hidden="true"></i></span>
        <span class="window-button window-close" title="close"><i class="fa fa-close" aria-hidden="true"></i></span>
      </div>
    </div>

    <div class="window-content" id="window-content">
      <content></content>
    </div>
  </div>
  <lively-resizer></lively-resizer>
</template>
<script class="registrationScript">lively.registerTemplate()</script>
