<template id="lively-sync">
    <style>
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }
    p {
      margin-top: 5px;
      margin-bottom: 5px;      
    }
    
    #gitrepositoryurl {
      width: 300px; 
    }
    
    #log {
      flex: 1;
      width: 95%;
      margin-bottom: 10px;
    }
    
    
    }
    </style>
    <div class="container">
      <h2>Sync Github</h2>
        <p><button id="loginButton">not initialize</button> username: <input id="gitusername" value="" /></p>
        <p><button id="syncButton">sync</button> repository: <input id="gitrepository" value="lively4-core" /></p>
        <p><button id="cloneButton">clone</button> url <input id="gitrepositoryurl" value="https://github.com/LivelyKernel/lively4-core.git" /> into: <input id="gitrepositorytarget" value="lively4-test" /></p>
        <p><button id="statusButton">status</button> <button id="diffButton">diff</button></p>
        <juicy-ace-editor id="log"></juicy-ace-editor>  
    </div>

    <script type="lively4script" data-name="initialize">
    () => {
      var container = $(this.shadowRoot).find(".container")[0];
      lively.html.registerButtons(this)
      this.updateLoginStatus()
    }
    </script>
    <script type="lively4script" data-name="onSyncButton">
    async () => {
      var username = await lively.focalStorage.getItem("githubUsername")
      var token = await lively.focalStorage.getItem("githubToken")
      var serverURL = lively4url.match(/(.*)\/([^\/]+$)/)[1]
      var repo =  this.shadowRoot.querySelector("#gitrepository").value
      lively.files.syncRepository(serverURL, repo, username, token).then(this.log)
    }
    </script>
    
    <script type="lively4script" data-name="log">
    (s) => {
      // this.shadowRoot.querySelector("#log").innerHTML = "" + s
      this.shadowRoot.querySelector("#log").editor.setValue(s)
    }
    </script>
    
    <script type="lively4script" data-name="updateLoginStatus">
    async () => {
      var token = await lively.focalStorage.getItem("githubToken")
      this.shadowRoot.querySelector("#loginButton").innerHTML = 
          token ? "logout" : "login"
      this.shadowRoot.querySelector("#syncButton").disabled = 
        token ? false : true;
      this.shadowRoot.querySelector("#gitusername").value = 
       await lively.focalStorage.getItem("githubUsername")
    }
    </script>
    <script type="lively4script" data-name="onLoginButton">
    async () => {
      if (await lively.focalStorage.getItem("githubToken")) { 
        this.logout() 
      } else { 
        this.login()
      }
    }
    </script>
    <script type="lively4script" data-name="login">
    () => {
      lively.focalStorage.getItem("githubToken").then((result) => {
        if (result) return result
        return new Promise((resolve, reject) => {
          lively.authGithub.challengeForAuth(Date.now(), (token) => {  
        	  lively.focalStorage.setItem("githubUsername", 
        	    this.shadowRoot.querySelector("#gitusername").value)
        	  lively.focalStorage.setItem("githubToken", token)
        	  this.updateLoginStatus()
        	  resolve(token)
          })
        })
      }).then((token) => {
        this.log("TOKEN: " + token)
      })
    }
    </script>
    <script type="lively4script" data-name="onStatusButton">
    () => {
      fetch("https://lively-kernel.org/lively4/_git/status", {
        headers: new Headers({ 
        	"gitrepository": this.shadowRoot.querySelector("#gitrepository").value,
        })
      }).then(r => r.text()).then((token) => {
        this.log("STATUS:\n" + token)
      })
    }
    </script>
    <script type="lively4script" data-name="onDiffButton">
    () => {
      fetch("https://lively-kernel.org/lively4/_git/diff", {
        headers: new Headers({ 
        	"gitrepository": this.shadowRoot.querySelector("#gitrepository").value,
        })
      }).then(r => r.text()).then((token) => {
        this.log("DIFF:\n" + token)
      })
    }
    </script>
    <script type="lively4script" data-name="onCloneButton">
    () => {
      fetch("https://lively-kernel.org/lively4/_git/clone", {
        headers: new Headers({ 
           "gitrepositoryurl": this.shadowRoot.querySelector("#gitrepositoryurl").value,
        	"gitrepository": this.shadowRoot.querySelector("#gitrepositorytarget").value,
        })
      }).then(r => r.text()).then((token) => {
        this.log("CLONE:\n" + token)
      })
    }
    </script>
    <script type="lively4script" data-name="logout">
    () => {
    	lively.focalStorage.setItem("githubToken", null)    
      this.updateLoginStatus()
      this.log("")
    }
    </script>
    
</template>

<script class="registrationScript">lively.registerTemplate()</script>
