<template id="lively-halo" data-class="Halo">
    <style>
    :host {
      position: absolute;
      pointer-events: none;
      min-width: 90px;
    }
    .container {
      width: 100%;
      height: 100%;
      min-width: 90px;
      min-height: 90px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
    .row {
      display: flex;
      justify-content: space-between;
    }
    .halo {
      pointer-events: all;
      z-index: 9999;
      border-radius: 50%;
      background-color: #ccc;
    }
    .halo::shadow i {
      display:inline-block;
      font-size: 16px;
      line-height: 30px;
      width: 30px;
      height: 30px;
      text-align: center;
      vertical-align: bottom;
    }
    </style>
    <div class="container">
      <div class="row" id="row1">
        <lively-halo-grab-item class="halo"></lively-halo-grab-item>
        <lively-halo-drag-item class="halo"></lively-halo-drag-item>
        <lively-halo-remove-item class="halo"></lively-halo-remove-item>
      </div>
      <div class="row" id="row2">
        <lively-halo-copy-item class="halo"></lively-halo-copy-item>
        <lively-halo-inspect-item class="halo"></lively-halo-inspect-item>
      </div> 
      <div class="row" id="row3">
        <lively-halo-export-item class="halo"></lively-halo-export-item>
        <lively-halo-unpack-item class="halo"></lively-halo-unpack-item>
        <lively-halo-resize-item class="halo"></lively-halo-resize-item>
      </div>
    </div>
</template>
<script class="registrationScript">lively.registerTemplate()</script>



