<template id="lively-ast-explorer" data-class="LivelyAstExplorer">
  <style>
  :host {
    width: 50px;
    height: 25px;
  }
  table {
    width: 100%;
    height: 100%;
  }
  
  td {
    width: 50%;
    height: 50%;
  }
  
  
  :host {
    display: flex;
    flex-direction: column;
  }

  #contentPane {
    display: flex;
    flex-direction: rows;
    flex: 0.5;
  }
  
  #pluginPane {
    flex: 0.5;
  }
  
  #sourcePane {
    flex: 0.5;
  }
  
  #outputPane {
    flex: 0.5;
  }

  #outputPane, #sourcePane, #pluginPane {
    display: flex;
    flex-direction: column;
  }

  juicy-ace-editor {
    flex: 1;
  }

  lively-editor {
    flex: 1;
  }
  </style>
<div id="contentPane">
  <div id="sourcePane">
    <div>Source <button id="acceptSource">accept</button></div>
    <juicy-ace-editor id="source">var a = 3;
  console.log(a + 4)
    </juicy-ace-editor>      
  </div>
  <lively-separator leftselector="#sourcePane" rightselector="#outputPane"></lively-separator>
  <div id="outputPane">
    <div>Output <button id="astInspect">inspect AST</button></div>
    <juicy-ace-editor  id="output"></juicy-ace-editor>
  </div>   
</div>

<div id="pluginPane">
  <div>Plugin</div>
  <lively-editor  id="plugin"></lively-editor>
</div>
  
</template>
<script class="registrationScript">lively.registerTemplate()</script>
