<template id="lively-key-value-map">
  <style>
  :host {
    display: block;
  }
  </style>
  <content></content>
</template>

<script>
  'use strict';

  class LivelyKeyValueMap extends HTMLDivElement {
    attachedCallback() {
      this.map = {};
      
    }

    set map(map) {
      while (this.firstChild) {
        this.removeChild(this.firstChild);
      }

      for(let key in map) {
        let value = map[key];

        let input = document.createElement('lively-key-value-input');
        this.appendChild(input);

        input.key = key;
        if (typeof value == 'object' && typeof value.value != 'undefined') {
          input.value = value.value;
          input.type = value.type;
        } else {
          input.value = value;
          input.type = 'string';
        }
      }

      this._map = map;
    }

    get map() {
      return this._map;
    }
  }

  (function() {
    LivelyKeyValueMap.template = document.currentScript.ownerDocument.querySelector('#lively-key-value-map');
    var clone = document.importNode(LivelyKeyValueMap.template.content, true);
    var prototype = Object.create(LivelyKeyValueMap.prototype);

    System.import('../src/client/morphic/component-loader.js').then(loader => { loader.register('lively-key-value-map', clone, prototype); });
  })();
</script>
