<template id="lively-cloudscripting-credentials" data-class="LivelyCloudscriptingCredentials">
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style>
    
  </style>

<div class="credentials">
  <h1>
    Credentials for user <span id=name></span>
  </h1>
  <table>
    <tr>
      <td>Github</td>
      <td><input id="githubCredentials" type="text"></td>
    </tr>
    <tr>
      <td>Dropbox</td>
      <td><input id="dropboxCredentials" type="text"></td>
    </tr>
    <tr>
      <td>Slack</td>
      <td><input id="slackCredentials" type="text"></td>
    </tr>
  </table>
  <div>
    <button id="saveCredentials">
      Save credentials
    </button>
  </div>
</div>

</template>
<script class="registrationScript">lively.registerTemplate()</script>