<template xmlns="http://www.w3.org/1999/xhtml" id="lively-component-bin">
<style>
.container {
  background-color: rgb(238, 238, 238);
  width: 300px;
}
.button-list {
    list-style-type: none;
    padding: 2px;
    margin: 0px;
}
.list-button {
  margin-top: 3px;
  margin-bottom: 3px;
  width: 100%;
}

</style>
<lively-rectangle class="container">
  <ul class="button-list">
  </ul>
</lively-rectangle>
</template>
<script xmlns="http://www.w3.org/1999/xhtml" class="registrationScript">
(function() { 
  var template = document.currentScript.ownerDocument.querySelector('#lively-component-bin'); 
  var clone = document.importNode(template.content, true); 

  Promise.all([ 
    System.import('../templates/classes/ComponentBin.js'),
    System.import('../src/client/morphic/component-loader.js'),
  ]).then(modules => { 
    var ComponentBin = modules[0];
    var Loader = modules[1]; 
    Loader.register('lively-component-bin', clone, Object.create(ComponentBin.prototype || ComponentBin.default.prototype));
  }); 
})();
</script>