<template id="lively-component-bin-tile" data-class="LivelyComponentBinTile">
<style>
:host {
  display: inline-block;
  width: 170px;
  height: 20px;
  margin: 6px;
  cursor: pointer;
}

:host(:hover) > .container {
  background-color: #1ba1e2;
}

:host(:hover) > .container > .name-container > p {
  color: white;
}

.container {
  background-color: #566D7E;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  padding: 2px;
  overflow: hidden;
}



#thumbnail {
  display: none;
  
}

img {
  width: auto;
  max-width: 100px;
  height: auto;
  max-height: 100px;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}

.name-container {
  height: 2em;
  overflow: hidden;
}

p {
  text-align: center;
  margin: 0px;
  font-size: 14px;
  color: white;
  // color: #FAEBD7;
  // font-weight: bold;
}

</style>

<div class="container">
  <div class="name-container">
    <p>name</p>
  </div>
  <img id="thumbnail" >
</div>
<script>
 // ok, now it gets ugly...
  // var template = document.currentScript.ownerDocument.querySelector('template');
  // template.querySelector("#thumbnail").setAttribute("src", lively4url +"/templates/thumbnails/default-placeholder.png")
</script>

</template>
<script class="registrationScript">lively.registerTemplate()</script>

