<template id="lively-cloudscripting" data-class="LivelyCloudscripting">
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style>
    :host {

    }
    
    .column {
      width: 50%;
      margin: 0;  
      overflow-y: scroll;
    }
    
    .column h2 {
      padding-left: 1em;
    }
    
    .left {
      float: left;
    }
    
    .right {
      float: right;
    }
    
    li {
      width: 80%;
      max-width: 20em;
    }
    
    .other-scripts h4 {
      display: inline;
    }
    
    .credentials-list {
      display: none;
    }
    
  </style>
  
  <div id="content">
    <div class="login">
      Name: <input id="login-name"> 
      <button class="login-button">
        Login
      </button>
    </div>
    <div class="credentials">
     <h2>
        Credentials
      </h2>
      <button class="toggle-list">
        Show
      </button>
      <div class="credentials-list">
        <h4>
          Dropbox
        </h4>
        Access Token: <input placeholder="ABC0123DEFG4H56J">
        <button class="connect connected">
          Disconnect
        </button>
        <hr>
        <h4>
          Github
        </h4>
        App ID: <input>
        <button class="connect disconnected">
          Connect
        </button>
      </div>
    </div>
    <div class="column left your-scripts">
      <h2>
        Your Scripts
      </h2>
      <h4>
        Trigger
      </h4>
      <div class="scripts trigger">
      Dropbox Paper
      </div>
      <div class="scripts trigger">
      Dropbox Camera Uploads
      </div>
      <div class="scripts trigger">
      Github Commit
      </div>
       <h4>
        Actions
      </h4>
      <div class="scripts trigger">
        Dropbox Update .bibtex
      </div>
      <div class="scripts trigger">
      Dropbox E-Mail
      </div>
      <div class="scripts trigger">
      Hue Lights Blink
      </div>
    </div>
    <div class="column right other-scripts">
     <h2>
       Other Scripts
      </h2>
      <h4>
        Trigger
      </h4>
      <input>
      <button>
        Suche
      </button>
      <hr />
      <h4>
        Actions
      </h4>
      <input>
      <button>
        Suche
      </button>
    </div>
    <div>
      <h2>
        Editor
      </h2>
      <div>
        Here is a code editor loaded with the content of the selected script. If you save the file, it should automatically be saved on the server. Here we need a good update strategy in order to contribute to a repository of scripts while at the same time maintaining a structure and not modifiying scripts that are running elsewhere.
      </div>
    </div>
    <content></content>
  </div>
</template>
<script class="registrationScript">lively.registerTemplate()</script>

