<template xmlns="http://www.w3.org/1999/xhtml" id="lively-test"><style>.red-border { border: 1px solid red; box-sizing: border-box; }
.red-border { border: 1px solid red; box-sizing: border-box; }
.red-border { border: 1px solid red; box-sizing: border-box; }
.red-border { border: 1px solid red; box-sizing: border-box; }
</style><lively-rectangle class="red-border"><input type="text" id="filename" value="README.md" /></lively-rectangle></template><script xmlns="http://www.w3.org/1999/xhtml" class="registrationScript">(function() { 
     var template = document.currentScript.ownerDocument.querySelector('#lively-test'); 
     var clone = document.importNode(template.content, true); 
     
     Promise.all([ 
       System.import('../src/client/morphic/component-loader.js') 
     ]).then(modules => { 
       var Loader = modules[0]; 
       Loader.register('lively-test', clone); 
     }); 
   })();</script>