<template id="template">
	<style>
	:host {
		position: fixed;
		z-index: 100;
		width: 400px;
    	height: 300px;
	}
	:host * {
		box-sizing: border-box;
	}

	::content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	::content > * {
		position: absolute;
		height: 100%;
		width: 100%;
	}

	.window {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		background-color: #ffffff;
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
	}
	.window.dragging  *, .window.resizing  * {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.window-titlebar {
		position: relative;
		display: flex;
		flex-grow: 0;
    	height: 2em;
		width: 100%;
		padding: 0.3em 0.4em;
		border: none;
		border-bottom: 1px #e9e9e9 solid;
	}
	.window-title {
		flex-grow: 1;
		font-weight: 600;
		vertical-align: middle;
		cursor: move;
	}
	.window-title span {
		vertical-align: middle;
		font-size: 1.1em;
		line-height: 1.5rem;
	}
    .window-title span small {
        font-style: italic;
        color: #333;
    }
	.window-controls {
		flex-grow: 0;
	}
	.window-min, .window-max, .window-close {
		display: inline-block;
		color: #777777;
		background-color: #ffffff;
		width: 1.5rem;
		text-align: center;
		margin-left: 1px;
		font-weight: 700;
		cursor: pointer;
		line-height: 1.5rem;
	}
	.window-min:hover, .window-max:hover, .window-close:hover {
		background-color: #cde6f7;
		color: #2a8dd4;
	}
	.window-resize {
		position: absolute;
		right: -2px;
		bottom: -2px;
		font-size: 0.8em;
		cursor: se-resize;
		font-weight: 800;
	}
	.window-content {
		position: relative;
		width: auto;
		height: auto;
		margin: 0.4em;
		flex: 1;
	}
	</style>

	<div class="window">
		<div class="window-titlebar">
			<div class="window-title"><span></span></div>
			<div class="window-controls">
				<span class="window-min">&lowbar;</span>
				<span class="window-max">&#9634;</span>
				<span class="window-close">&#10005;</span>
			</div>
		</div>
		<div class="window-content" id="window-content">
			<content></content>
		</div>
		<span class="window-resize">&there4;</span>
	</div>
</template>

<script>
	'use strict';

	class LivelyWindow extends HTMLDivElement {

		// window title
		get title() {
			return this._title;
		}
		set title(val) {
			this._title =  val;
			this.render();
		}

		attachedCallback() {
			console.log('window attachedCallback!');

			// define shortcut variables
			this.titleSpan = this.shadowRoot.querySelector('.window-title span');
			this.minButton = this.shadowRoot.querySelector('.window-min');
			this.maxButton = this.shadowRoot.querySelector('.window-max');
			this.resizeButton = this.shadowRoot.querySelector('.window-resize');
			this.closeButton = this.shadowRoot.querySelector('.window-close');
			this.contentBlock = this.shadowRoot.querySelector('#window-content');

			// bind events for window behavior
			this.dragging = false;
			this.closeButton.addEventListener('click', (e) => { this.closeButtonClicked(e) });
			this.minButton.addEventListener('click', (e) => { this.minButtonClicked(e) });
			this.maxButton.addEventListener('click', (e) => { this.maxButtonClicked(e) });
			this.resizeButton.addEventListener('mousedown', (e) => { this.resizeMouseDown(e) });
			this.shadowRoot.querySelector('.window-title').addEventListener('mousedown', (e) => { this.titleMouseDown(e) });

			document.body.addEventListener('mousemove', (e) => { this.windowMouseMove(e) });
			document.body.addEventListener('mouseup', (e) => { this.windowMouseUp(e) });

			this.created = true;
			this.render();
		}

		attributeChangedCallback(attrName, oldValue, newValue) {
			switch(attrName) {
				case 'title':
					this.render();
					break;
				default:
					//
			}
		}

		// (re)render the element
		render() {
			console.log('window render!');
			if (this.created) {
				if(this.attributes['title']) {
					this.titleSpan.innerHTML = this.attributes['title'].value;
				}
			}
		}

		minButtonClicked(e) {
			// TODO
		}

		maxButtonClicked(e) {
			// TODO
		}

		closeButtonClicked(e) {
			this.parentNode.removeChild(this);
		}

		titleMouseDown(e) {
			e.preventDefault();
			
			let offsetWindow = $(this).offset();

			this.dragging = {
				left: e.pageX - offsetWindow.left,
				top: e.pageY - offsetWindow.top
			};
			$('.window', this.shadowRoot).addClass('dragging');
		}

		resizeMouseDown(e) {
			e.preventDefault();

			let offsetWindow = $(this).offset();

			this.resizing = {
				left: offsetWindow.left,
				top: offsetWindow.top
			};
			$('.window', this.shadowRoot).addClass('resizing');
		}

		windowMouseUp(e) {
			e.preventDefault();

			this.dragging = false;
			this.resizing = false;
			$('.window', this.shadowRoot).removeClass('dragging').removeClass('resizing');
		}

		windowMouseMove(e) {
			e.preventDefault();

			if (this.dragging) {
				$(this).css({
					left: e.pageX - this.dragging.left,
					top: e.pageY - this.dragging.top
				});
			} else if (this.resizing) {
				$(this).css({
					width: e.pageX - this.resizing.left,
					height: e.pageY - this.resizing.top
				});
			}
		}

		// Public interface
		centerInWindow() {
			let rect = this.getBoundingClientRect();
			this.style.top = 'calc(50% - ' + (rect.height / 2) + 'px)';
			this.style.left = 'calc(50% - ' + (rect.width / 2) + 'px)';
		}
	}

	(function() {
		LivelyWindow.template = document.currentScript.ownerDocument.querySelector('#template');
		var clone = document.importNode(LivelyWindow.template.content, true);
		var prototype = Object.create(LivelyWindow.prototype);

		System.import('../src/client/morphic/component-loader.js').then(loader => { loader.register('lively-window', clone, prototype); });
	})();
</script>
