<template id="lively-cache-viewer" data-class="LivelyCacheViewer">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
  :host {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  #content {
    flex: 1;
    padding: 0;
    margin: 0;
    overflow: auto;
    font-size: 85%;
  }
  
  #list {
    flex: 1;
    overflow-x: scroll;
  }
  
  #list ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  #list li {
    padding: 2px;
    font-family: monospace;
    border-bottom: 1px solid #eee;
    cursor: pointer;
  }
  
  #list li:hover {
    background-color: #eee;
  }
  
  #status {
    height: 20px;
    width: calc(100% - 2px);
    padding: 0;
    margin: 0;
    font-size: 85%;
    border-top: 1px solid #ddd;
  }
  
  nav {
    border-bottom: 1px solid #ddd;
    padding: 1px;
  }
  
  nav .group {
    display: table-cell;
    padding: 0;
    white-space: nowrap;
    vertical-align: middle;
  }
  
  nav .group .fluid {
    width: 100%;
  }
</style>
  <nav>
    Filter goes here...
  </nav>
  <div id="list"></div>
  <juicy-ace-editor id="content">a</juicy-ace-editor>
  <div id="status"><div id="date"></div></div>
  <lively-resizer></lively-resizer>
</template>
<script class="registrationScript">lively.registerTemplate()</script>

