<template id="lively-halo" data-class="LivelyHalo">
    <style>
    :host {
      position: absolute;
      min-width: 90px;
      /* pointer-events: none; */
      /* background-color: rgba(0,0,0,0.05); */
      
    }
    .container {
      width: 100%;
      height: 100%;
      min-width: 90px;
      min-height: 90px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
    .row {
      display: flex;
      justify-content: space-between;
    }
    .halo {
      pointer-events: all;
      z-index: 9999;
      border-radius: 50%;
      background-color: #ccc;
    }
    
    lively-halo-name-item {
      border-radius: 10% !important;
      background-color: #ccc;
      margin-top: 5px;
      min-width: 60px;
      height: 20px;
    }
    
    #handles {
      position: absolute;
      top: 0px;
      left: 0px;
    }
    
    #topLeft {
      top: 0px;
      left: 0px;
    }
    
    .handle {
      position: absolute;
    }
    
    lively-halo-export-item, lively-halo-unpack-item {
      visibility: hidden;
    }
    
    #control-point {
      visibility: hidden; 
    }
    
    </style>
    <div class="container">
      <div class="row" id="row1">
        <lively-halo-grab-item class="halo"></lively-halo-grab-item>
        <lively-halo-drag-item class="halo"></lively-halo-drag-item>
        <lively-halo-remove-item class="halo"></lively-halo-remove-item>
      </div>
      <div class="row" id="row2">
        <lively-halo-copy-item class="halo"></lively-halo-copy-item>
        <lively-halo-inspect-item class="halo"></lively-halo-inspect-item>
      </div> 
      <div class="row" id="row3">
        <lively-halo-edit-item class="halo"></lively-halo-edit-item>
        <lively-halo-name-item class="halo"></lively-halo-name-item>
        
        <!--<lively-halo-export-item class="halo"></lively-halo-export-item>-->
        <!--<lively-halo-unpack-item class="halo"></lively-halo-unpack-item>-->
        <lively-halo-resize-item class="halo"></lively-halo-resize-item>
      </div>
    </div>
    <div id="handles">
      <lively-halo-handle-item id="topLeft" class="halo handle"></lively-halo-handle-item>
      <lively-halo-handle-item id="bottomLeft" class="halo handle"></lively-halo-handle-item>
      <lively-halo-handle-item id="bottomRight" class="halo handle"></lively-halo-handle-item>
      <lively-halo-handle-item id="topRight" class="halo handle"></lively-halo-handle-item>
    </div>
    <!-- load the control point... already #TODO use a link to make it explicit?-->
    <lively-halo-control-point-item id="controlPoint0" class="control-point"></lively-halo-control-point-item>
    <lively-halo-control-point-item id="controlPoint1" class="control-point"></lively-halo-control-point-item>
</template>
<script class="registrationScript">lively.registerTemplate()</script>



