<template id="lively-turtle-canvas">
  <canvas width="600" height="450">
    <content>
    </content>
  </canvas>
  
  <script type="lively4script" data-name="initialize">
    () =>
    {
      this.canvas = $(this.shadowRoot).find("canvas")[0];
      this.context = this.canvas.getContext("2d");
      
      this.turtle = {
        pos: {x:0.0, y:0.0},
        heading: 0,
        pen: false,
        
        test: (what) =>
        {
          lively.notify(eval(what));
        },
        
        // drawing functions
        left: (deg) => {turtle.heading = (turtle.heading - deg) % 360},
        right: (deg) => {turtle.heading = (turtle.heading + deg) % 360},
        
        forward: (dist) =>
        {
          var pos = turtle.pos;
          
          var oldPos = {x:pos.x, y:pos.y};
          
          pos.x += dist * Math.cos(turtle.heading/180 * Math.PI);
          pos.y += dist * Math.sin(turtle.heading/180 * Math.PI);
          
          if (this.turtle.pen)
          {
            context.beginPath();
            context.moveTo(oldPos.x, oldPos.y);
            context.lineTo(pos.x, pos.y);
            context.stroke();
          }
        },
        backward: (dist) => {turtle.forward(-dist)},
        
        penUp: () => {turtle.pen = false},
        penDown: () => {turtle.pen = true},
        
        // direct state access
        getState: () =>
        {
          return {pos: {x: turtle.pos.x, y: turtle.pos.y},
                  heading: turtle.heading,
                  pen: turtle.pen};
        },
        setState: (state) =>
        {
          if (state.pos != null && state.pos.x != null && state.pos.y != null)
          {
            turtle.pos = {x: state.pos.x, y: state.pos.y};
          }
          
          if (state.heading != null)
          {
            turtle.heading = state.heading;
          }
          
          if (state.pen != null)
          {
            turtle.pen = state.pen;
          }
        },
        getPos: () =>
        {
          return {x: turtle.pos.x, y: turtle.pos.y};
        },
        setPos: (px, py) =>
        {
          lively.notify("Over here!");
          turtle.pos = {x: px, y: py};
        },
        getHeading: () =>
        {
          return turtle.heading
        },
        setHeading: (head) =>
        {
          turtle.heading = head;
        }
      };
    }
  </script>
  <script type="lively4script" data-name="execute">
    (code) =>
    {
      var canvas = this.canvas;
      var context = this.context;
      var turtle = this.turtle;
      
      eval(code);
    }
  </script>
</template>
<script>
  lively.registerTemplate()
</script>
