<template id="lively-rectangle">
<style>
  :host {
    display: inline-block;
  }
  .lively-rect {
    background-color: blue;
    width: 100px;
    height: 100px;
  }
</style>
<div class="lively-rect">
  <content></content>
</div>
</template>
<script class="registrationScript">
  (function() { 
     var template = document.currentScript.ownerDocument.querySelector('#lively-rectangle'); 
     var clone = document.importNode(template.content, true); 
     
     Promise.all([ 
       System.import('../src/client/morphic/component-loader.js') 
     ]).then(modules => { 
       var Loader = modules[0]; 
       Loader.register('lively-rectangle', clone); 
     }); 
   })();
</script>