/* this is a global style */

lively-container  h1, lively-container h2, lively-container  h3,lively-container h4 {
  color: rgb(0, 78, 151);
}

a {
  color: rgb(0, 78, 151);
}

.lively4-grabbed {

  z-index: 1000;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  box-sizing: border-box;
  border: 1px solid #bbb;
  border-radius: 2px;
}

::part(danger) {
  color: #b33630;
}
::part(danger):hover {
  background:  linear-gradient(#dc5f59, #b33630);
  color: white;
}
