<template id="lively-key-value-input">
  <style>
  #key {
    font-weight: bold;
    width: 120px;
  }
  #key.changed {
    font-style: italic;
  }
  #value {
    flex: 1;
    margin-left: 0.5em;
  }
  #value:focus {
    outline: none;
  }
  </style>
  <content></content>
</template>

<script>
  'use strict';

  class LivelyKeyValueInput extends HTMLDivElement {
    attachedCallback() {
      console.log("attached", this.querySelector('#key'));

      this.innerHTML = '<span id="key"></span><input id="value" value="">';
      this.keyElement = this.querySelector('#key');
      this.valueElement = this.querySelector('#value');

      this.valueElement.addEventListener('keyup', (e) => { this.keyUpHandler(e); });
      this.valueElement.addEventListener('paste', (e) => { this.changeEventHandler(e); });
      this.valueElement.addEventListener('input', (e) => { this.changeEventHandler(e); });
      this.valueElement.addEventListener('change', (e) => { this.changeEventHandler(e); });
      this.valueElement.addEventListener('blur', (e) => { this.changeEventHandler(); });
      this.valueElement.addEventListener('focus', (e) => { this.gotFocus(e); });
    }

    keyUpHandler(e) {
      if (e.keyCode == 30) {
        // Enter pressed
        let ev = new CustomEvent('commit', {
          bubbles: true,
          detail: {
            key: this.key,
            value: this.value
          },
          targetElement: this
        });

        this.dispatchEvent(ev);
      }
    }

    changeEventHandler(e) {
      console.log(e);
      let changeEvent = new CustomEvent('change', {
        bubbles: true,
        detail: {
          key: this.key,
          value: this.value
        }
      });

      // this.dispatchEvent(changeEvent);
    }

    gotFocus(e) {
      // select the whole content
      this.valueElement.setSelectionRange(0, this.value.length);
    }

    get key() {
      return this.keyElement.innerHTML;
    }

    set key(key) {
      this.keyElement.innerHTML = key;
    }

    get value() {
      return this.valueElement.value;
    }

    set value(value) {
      this.valueElement.value = value;
    }
  }

  (function() {
    LivelyKeyValueInput.template = document.currentScript.ownerDocument.querySelector('#lively-key-value-input');
    var clone = document.importNode(LivelyKeyValueInput.template.content, true);
    var prototype = Object.create(LivelyKeyValueInput.prototype);

    System.import('../src/client/morphic/component-loader.js').then(loader => { loader.register('lively-key-value-input', clone, prototype); });
  })();
</script>
