<template id="lively-component-bin-tile" data-class="ComponentBinTile">
<style>
:host {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin: 6px;
  cursor: pointer;
}

:host(:hover) > .container {
  background-color: #1ba1e2;
}

:host(:hover) > .container > .name-container > p {
  color: white;
}

.container {
  background-color: lightgray;
  border-radius: 5px;
  width: 120px;
  height: 120px;
  padding: 2px;
  overflow: hidden;
}

img {
  width: auto;
  max-width: 100px;
  height: auto;
  max-height: 100px;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}

.name-container {
  height: 2em;
  overflow: hidden;
}

p {
  text-align: center;
  margin: 0px;
  font-size: 14px;
  font-weight: bold;
}

</style>

<div class="container">
  <div class="name-container">
    <p>name</p>
  </div>
  <img src="../templates/thumbnails/default-placeholder.png">
</div>

</template>
<script class="registrationScript">lively.registerTemplate()</script>

