<template id="lively-key-value-input">
  <style type="text/css">
    :host {
      display: flex;
      position: relative;
    }

    ::content .lively-key-value-input-key {
      font-weight: bold;
      width: 120px;
    }
    ::content .lively-key-value-input-key.changed {
      font-style: italic;
    }
    ::content .lively-key-value-input-value {
      position: relative;
      flex: 1;
      margin-left: 0.5em;
    }
    ::content .lively-key-value-input-value:focus {
      outline: none;
    }
    ::content .lively-key-value-input-status {
      height: 5px;
      width: 5px;
      position: absolute;
      top: 1px;
      right: 1px;
      background: transparent;
      border-bottom-left-radius: 50%;
    }
    ::content .lively-key-value-input-status.ok {
      background: green;
    }
    ::content .lively-key-value-input-status.changed {
      background: orange;
    }
  </style>
  <content></content>
</template>

<script>
  'use strict';

  class LivelyKeyValueInput extends HTMLDivElement {
    attachedCallback() {
      let body = '<span class="lively-key-value-input-key"></span><input class="lively-key-value-input-value" value=""><span class="lively-key-value-input-status ok"></span>';
      this.innerHTML = body;
      this.keyElement = this.querySelector('.lively-key-value-input-key');
      this.valueElement = this.querySelector('.lively-key-value-input-value');
      this.statusElement = this.querySelector('.lively-key-value-input-status');

      this.valueElement.addEventListener('keyup', (e) => { this.keyUpHandler(e); });
      this.valueElement.addEventListener('input', (e) => { this.inputEventHandler(e); });
      this.valueElement.addEventListener('change', (e) => { this.changeEventHandler(e); });
      this.valueElement.addEventListener('focus', (e) => { this.gotFocus(e); });
    }

    keyUpHandler(e) {
      switch(e.keyCode) {
        case(13): //enter
          this.commit();
          break;
        case(27): //esc
          this.valueElement.value = this.oldValue;
          this.updateStatus();
          break;

        default:
          break;
      }
    }

    inputEventHandler(e) {
      // change status LED
      console.log('input');
      this.updateStatus();
    }

    changeEventHandler(e) {
      console.log('change');
      // save event
      this.commit();
    }

    gotFocus(e) {
      // select the whole content
      this.valueElement.setSelectionRange(0, this.value.length);
    }

    commit() {
      let ev = new CustomEvent('commit', {
        bubbles: true,
        detail: {
          key: this._key,
          value: this.valueElement.value,
          oldValue: this.oldValue
        },
        targetElement: this
      });

      this.oldValue = this.valueElement.value;
      this.updateStatus();

      this.dispatchEvent(ev);
    }

    updateStatus() {
      var classList = this.statusElement.classList;
      classList.remove("ok");
      classList.remove("changed");

      if(this.valueElement.value == this.oldValue) {
        classList.add("ok");
      } else {
        classList.add("changed");
      }
    }

    updateType() {
      console.log(this.key + ':', this.type);
      switch (this.type) {
        case 'number':
          this.valueElement.setAttribute('type', 'number');
          break;
        case 'boolean':
          this.valueElement.setAttribute('type', 'checkbox');
          break;
        case 'string':
        default:
          break;
      }
    }

    get key() {
      return this._key;
    }

    set key(key) {
      this._key = key;
      this.keyElement.innerHTML = key;
    }

    get value() {
      return this.valueElement.value;
    }

    set value(value) {
      this.oldValue = value;
      this.valueElement.value = value;
    }

    get type() {
      return this._type;
    }

    set type(value) {
      this._type = value;
      this.updateType();
    }
  }

  (function() {
    LivelyKeyValueInput.template = document.currentScript.ownerDocument.querySelector('#lively-key-value-input');
    // LivelyKeyValueInput.baseURI = document.currentScript.baseURI;
    var clone = document.importNode(LivelyKeyValueInput.template.content, true);
    var prototype = Object.create(LivelyKeyValueInput.prototype);

    // clone.querySelector('style').innerHTML = '@import url("' + document.currentScript.baseURI.replace('lively-key-value-input.html', 'style/lively-key-value-input.css') + '");' + clone.querySelector('style').innerHTML;

    System.import('../src/client/morphic/component-loader.js').then(loader => { loader.register('lively-key-value-input', clone, prototype); });
  })();
</script>
