<template id="lively-continuous-editor" data-class="LivelyContinuousEditor">
  <style>
  :host {
    width: 50px;
    height: 25px;
  }
  
  
  :host {
    display: flex;
    flex-direction: column;
  }

  #firstRow, #secondRow {
    display: flex;
    flex-direction: rows;
    flex: 0.5;
  }
  
  #sourcePane {
    flex: 0.5;
  }
  
  #tracePane {
    flex: 0.5;
  }
  
  #sourcePane, #tracePane {
    display: flex;
    flex-direction: column;
  }

  lively-editor {
    flex: 1;
  }
  
  lively-inspector {
    flex: 1;
    height: 100%;
  }
  
  #traceView {
    flex: 0.5;
    background-color: lightgray; 
    overflow: scroll;
  }
  
  .traceLabel {
    background-color: rgba(0,0,255,0.1);
    border: 1px solid gray;
    padding: 1px;
  }
  .traceNode {
    patting-top: 10px;
    patting-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
  }
  
  .selected > .traceLabel {
    background-color: rgba(0,0,255,0.5);
  }

  #markerLayer .selected {
    background-color: rgba(0,0,255,0.5);
  }

  
  #resultPane {

  }
  
  #markerLayer {
    background-color: rgba(0,0,255,0.1);

    overflow: visible;
  }

  </style>
  <div id="firstRow">
    <div id="sourcePane">
      <lively-editor  id="source"></lively-editor>
    </div>
    <div id="resultPane">
      <div id="markerLayer">....</div>
    </div>
</div>

<div id="secondRow">
  <div id="tracePane">
    <lively-inspector id="traceInspector" type="ast"></lively-inspector>
  </div>
  <div id="traceView"></div>
  </div>
</div>

</template>
<script class="registrationScript">lively.registerTemplate()</script>
