<template id="lively-inspector" data-class="LivelyInspector">
  <style>
    #top {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
    }

    #container {
      flex: 0.66;
      margin: 10px;
      overflow: auto;
    }
    #editor {
      flex: 0.33;
    }
    
    a {
      background: lightgray;
    }
    
    a:hover {
      background: gray;
    }

    
  </style>
  <div id="top">
    <div id="container">
    </div>
    <juicy-ace-editor id="editor"></juicy-ace-editor>
  </div>
</template>

<script class="registrationScript">lively.registerTemplate()</script>
