<template id="lively-sync" data-class="Sync" data-title="Sync Github">
    <style data-src="/templates/livelystyle.css"></style>
    <style>
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    p {
      padding-left: 5px;
      padding-right: 5px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    
    p.fill {
      display: flex;
      flex-direction: row;
    }
    
    input {
      width: 40px;
      flex: 1;
      margin: 2px;
    }
    
    input:disabled {
      color: #aaaaaa
    }
    
    #gitrepositoryurl {
      width: 300px; 
    }
    
    #log {
      flex: 1;
      width: 100%;
    }
    
    #travisLink {
      float: right;
      margin-right: 5px;
    }
    label {
      padding: 3px;
      padding-top: 6px;
      font-size: 13px;
      color: #555555;
    }

    #loginButton, #cloneButton, #branchButton, #mergeButton, #commitButton {
      width: 60px;
    }
    
    label.medium {
      width: 70px;
    }

    label.small {
      width: 40px;
    }
    
    #deleteButton {
      color: #b33630;
    }

    #deleteButton:hover {
      background:  linear-gradient(#dc5f59, #b33630);
      color: white;
      border: 0px;
    }

    #deleteButton:disabled {
      background: linear-gradient(#fefefe, #fcfcfc);
      color: #cccccc;
    }


    </style>
    <div class="container">
        <p class="fill">
          <label class="medium">username</label> 
          <input class="persistent login" id="gitusername" value="" />
          <label class="small">email</label>
          <input class="persistent login" id="gitemail" value="" />
          <button id="loginButton">not initialize</button> 
        </p>

        <p class="fill">
          <label class="medium">upstream</label>
          <input class="persistent clone" id="gitrepositoryurl" value="https://github.com/LivelyKernel/lively4-core.git" /> 
          <button class="clone" id="cloneButton">clone</button> 
        </p>
        <p class="fill">
          <label class="medium">local name</label>
          <input class="branch" id="gitrepository" value="lively4-core" list="gitrepositories" />
          <datalist id="gitrepositories" ></datalist> 
          <label class="small">branch</label>
          <input class="persistent branch" id="gitrepositorybranch" value=""  list="gitbranches"/>
          <datalist id="gitbranches" ></datalist> 
          <button class="repo" id="branchButton">switch</button> 
          <button class="repo" id="mergeButton">merge</button> 
        </p>
        <p class="fill">
          <label class="medium">message</label>
          <input class="repo" id="gitcommitmessage" value="" />
          <button class="repo" id="commitButton">commit</button> 
        </p>
        
        <p>
          <button class="repo" id="syncButton">sync</button> 
          <button class="repo" id="statusButton">status</button> 
          <button class="repo" id="diffButton">diff</button>
          <button class="repo" id="resolveButton">resolve</button>
          <button class="repo" id="changelogButton">changelog</button>
          <button class="repo" id="npmInstallButton">npm install</button>
          <button class="repo" id="deleteButton">delete</button>

           <a id="travisLink" href="https://travis-ci.org/LivelyKernel/lively4-core">
            <img src='https://travis-ci.org/LivelyKernel/lively4-core.svg'>
          </a>  
        </p>
       
        <juicy-ace-editor id="log"></juicy-ace-editor>  
    </div>
</template>

<script class="registrationScript">lively.registerTemplate()</script>



