<template id="lively-separator" data-class="LivelySeparator">
    <style data-src="/templates/livelystyle.css"></style>
    <style>
    :host {
      display: block;
      padding-left: 5px;
      padding-right: 5px;
      margin-left: -5px; 
      margin-right: -5px;
      z-index: 2;
      transition: background-color 150ms ease-in-out;
    }
    :host(.horizontal) {
      min-width: 50px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: -5px; 
      margin-bottom: -5px; 
      z-index: 2;
      background-color: rgba(1,255,1,0.2);
    }
    
    :host(:hover) {
      cursor: ew-resize;
      background-color: rgba(1,1,1,0.2);
    }

    :host(.horizontal:hover) {
      cursor: ns-resize;
      background-color: rgba(1,1,1,0.2);
    }

    </style>
</template>

<script class="registrationScript">lively.registerTemplate()</script>



