<template id="lively-rdfa-viewer" data-class="RdfaViewer">
  <style data-src="/templates/livelystyle.css"></style>
  <style data-src="/src/external/font-awesome/css/font-awesome.min.css"></style>
  <style>

  :host {
    position: fixed;
    background: #ddd;
    right: 0;
    bottom: 0;
    width: 600px;
    height: 400px;
    overflow: auto;
    z-index: 1000;
  }
  
  table#rdfaTable {
    font-size: small;
    border-collapse: collapse;
  }
  
  table, tr, td, th {
    padding: 2px 4px;
    border: 1px solid #bbb;
  }
  
  th {
    padding: 8px;
  }
  
  tr {
    border: 1px solid #bbb;
  }
  </style>

  <table id="rdfaTable">
    <tr>
      <th>Subject</th>
      <th>Property</th>
      <th>Value</th>
    </tr>
  </table>

  <script type="lively4script" data-name="initialize">
    () => {

    }
  </script>
</template>
<script class="registrationScript">lively.registerTemplate()</script>
