.fa {
  /* merge with fa-fw for fix width icons */
  width: 1.28571429em;
  text-align: center;
}

.disabled {
  color: grey;
}

.hidden {
  display: none;
}

ubg-cards-entry.out-of-range {
  display: none;
}

button {
  padding: 4px;
  margin: 2px;
  border: 1px solid #d5d5d5;
  background: linear-gradient(#fcfcfc, #eee);
  border-radius: 2px;
  font-size: 10pt;
  color: #404040;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(#eee, #ddd);
}

button:disabled {
  background: linear-gradient(#fefefe, #fcfcfc);
  color: #cccccc;
}

a {
  color: rgb(0, 78, 151);
}

input {
  background: #EEEEEE;  
  border: 0;
  padding: 2px;
  border-radius: 2px;
}

.todo {
  color: #b33630;
}

.todo:hover {
  background:  linear-gradient(#dc5f59, #b33630);
  color: white;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 2px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
}
/* ::-webkit-scrollbar-track-piece {} */
::-webkit-scrollbar-thumb {
  background: #ccc;
  box-sizing: border-box;
  border: 1px solid #bbb;
  border-radius: 2px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}
/* ::-webkit-scrollbar-corner {} */
/* ::-webkit-resizer {} */
/*
:horizontal {}
:vertical {}
:decrement {}
:increment {}
:start {}
:end  {}
:double-button {}
:single-button {}
:no-button {}
:corner-present {}
:window-inactive {}
::selection {}
*/

.drag * {
  pointer-events: none;
}
