<template id="lively-rdfa-movie-db" data-class="RdfaMovieDb">
  <style data-src="/templates/livelystyle.css"></style>
  <style data-src="/src/external/font-awesome/css/font-awesome.min.css"></style>
  <style>
  
  .db-container {
    overflow: auto;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    height: 100%;
  }
  
  table#dbTable {
    font-size: small;
    border-collapse: collapse;
  }
  
  table, tr, td, th {
    padding: 2px 4px;
    border: 1px solid #ddd;
    border-left: 0;
  }
  
  th {
    padding: 8px;
  }
  
  .fa-star {
    color: rgb(255, 229, 93);
  }
  
    
  .green-button {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    background-color: #60b044;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    background-image: linear-gradient(#8add6d, #60b044);
    border-color: #5ca941;
    margin: 5px;
  }
  
  .green-button:hover {
    color: #fff;
    background-color: #569e3d;
    background-image: -webkit-linear-gradient(#79d858, #569e3d);
    background-image: linear-gradient(#79d858, #569e3d);
    border-color: #4a993e;
  }
  
  </style>

  <div class="db-container">
    <div>
      <button class="green-button" id="merge-duplicates-button">
        <i class="fa fa-compress" aria-hidden=true></i>
        Merge duplicates
      </button>
      <button class="green-button" id="merge-imdb-rotten-button">
        <i class="fa fa-compress" aria-hidden=true></i>
        Merge IMDB with Rottentomates
      </button>
    </div>
    <table id="dbTable">
    </table>
  </div>
  <script type="lively4script" data-name="initialize">
    () => {

    }
  </script>
</template>
<script class="registrationScript">lively.registerTemplate()</script>
