<template id="lively-file-browser-item" data-class="LivelyFileBrowserItem">
  <style data-src="/src/external/font-awesome/css/font-awesome.min.css"></style>
  
  <style>
    #container {
      text-align: center;
    }

    #item-icon {
      color: #999;
      height: 80%;
      font-size: 36px;
      width: 1.28571429em;
    }

    #item-name {
      font-size: 80%;
      text-align: center;
      word-break: break-all;
    }
    
    .class-type {
      backround-color: "yellow"
    }
  </style>
  <div id="container">
    <i id="item-icon" class="fa" aria-hidden="true"></i>
    <div id="item-name"></div>
  </div>
</template>
<script class="registrationScript">lively.registerTemplate()</script>