<template id="lively-list">
  <style data-src="/templates/livelystyle.css"></style>
  <style>
    :host {
      flex-grow: 1;
      overflow: auto;
    }
    .list-container {
      width: 99%;
    }
  </style>
  <div class="list-container">
    <ul id="list-list" class="fa-ul"></ul>
  </div>
  <script type="lively4script" data-name="browseSearchResult">
    async (url, pattern) => {
      return lively.openBrowser(url, true, pattern)
    }
  </script>
  <script type="lively4script" data-name="show">
    (items, pattern) => {
      let ul = this.getSubmorph("#list-list");

      let sortByScore = (a, b) => {
        if (a.score && b.score) {
          return b.score - a.score;
        } else {
          return 0;
        }
      }

      items.sort(sortByScore);

      ul.innerHTML = "";
      for (let item of items) {
        let li = document.createElement("li");
        // Add icon
        let i = document.createElement("i");
        i.classList.add(`fa-li`);
        i.classList.add(`fa`);
        i.classList.add(`fa-${item.type}`);
        // Add link with onClick handler
        let link = document.createElement("a");
        link.innerHTML = item.label;
        link.title = item.path;
        link.href = "#";
        link.onclick = () => {
          this.browseSearchResult(item.path, pattern)
          return false;
        }
        li.appendChild(i);
        li.appendChild(link);
        ul.appendChild(li);
      }
    }
  </script>
</template>
<script class="registrationScript">lively.registerTemplate()</script>
