<template id="lively-resizer" data-class="LivelyResizer">
  <style data-src="/templates/livelystyle.css"></style>
  <style data-src="/src/external/font-awesome/css/font-awesome.min.css"></style>
  <style>
    :host {
      position: absolute;
      width: 10px;
      height: 10px;
      right: 0px;
      bottom: 0px;
      color: rgba(1,1,1,0.0);
      transition: color 150ms ease-in-out; 

    }
    
    :host(:hover) {
      cursor: nw-resize;
      color: rgba(1,1,1,0.9);
    }

    i {
      position: absolute;
      right: -6px;
      bottom: -4px;
      font-size: 20px;
      cursor: se-resize;
      z-index: 100;
      transform: rotate(-45deg);
    }
  </style>
  <i class="fa fa-chevron-down" aria-hidden="true"></i>
</template>

<script class="registrationScript">lively.registerTemplate()</script>



