<template id="lively-tab-view">
	<style>
	:host {
        display: flex;
        width: 100%;
        flex: 1;
        flex-direction: column;
	}

	#tab-bar {
		flex: 0;
		height: 2em;
    	line-height: 2em;
    	vertical-align: middle;
    	border: 1px solid #555;
	}

	#tab-bar span {
		cursor: pointer;
		padding-left: 10px;
		padding-right: 10px;
	}
	#tab-bar span.active {
		font-weight: bold;
	}

	::content .tab-view-inactive {
		display: none;
	}

	</style>

	<div id="tab-bar">
	</div>

	<content></content>
</template>

<script>
	(function() {
		var template = document.currentScript.ownerDocument.querySelector('#lively-tab-view');
		var clone = document.importNode(template.content, true);

        Promise.all([
            System.import('../templates/classes/TabView.js'),
            System.import('../src/client/morphic/component-loader.js')
        ]).then(modules => {
            var TabView = modules[0];
            var Loader = modules[1];
            
            Loader.register('lively-tab-view', clone, Object.create(TabView.prototype || TabView.default.prototype));
        });
    })();
</script>
