<link rel="import" href="../templates/halos/remove-halo.html" />
<link rel="import" href="../templates/halos/copy-halo.html" />
<link rel="import" href="../templates/halos/inspect-halo.html" />
<link rel="import" href="../templates/halos/drag-halo.html" />
<link rel="import" href="../templates/halos/grab-halo.html" />
<link rel="import" href="../templates/halos/export-halo.html" />
<link rel="import" href="../templates/halos/resize-halo.html" />
<template id="lively-halos">
    <style>
    :host {
      position: absolute;
      pointer-events: none;
      min-width: 90px;
    }
    .container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
    .row {
      display: flex;
      justify-content: space-between;
    }
    .halo {
      pointer-events: all;
      z-index: 9999;
      border-radius: 50%;
      min-width: 30px;
      width: 30px;
      height: 30px;
      background-color: #ccc;
      background-position: 50% 50%;
      background-size: 20px 20px;
      background-repeat: no-repeat;
    }
    </style>
    <div class="container">
      <div class="row" id="row1">
        <grab-halo class="halo"></grab-halo>
        <drag-halo class="halo"></drag-halo>
        <remove-halo class="halo"></remove-halo>
      </div>
      <div class="row" id="row2">
        <copy-halo class="halo"></copy-halo>
        <inspect-halo class="halo"></inspect-halo>
      </div>
      <div class="row" id="row3">
        <export-halo class="halo"></export-halo>
        <resize-halo class="halo"></resize-halo>
      </div>
    </div>
    <script type="lively4script" data-name="initialize">
    () => {
      System.import("../src/client/morphic/selecting.js")

      var $halos = $("lively-halos")
      $halos.hide();
      window.HaloService = {
        showHalos: function (target) {
          var $target = $(target);
          var offset = $target.offset();

          // viewport coordinates
          var scrollTop = Math.abs($(document).scrollTop());
          var scrollLeft = Math.abs($(document).scrollLeft());

          // make sure halo respects left and top viewport boundary
          var offsetTop = Math.max(offset.top - 30, scrollTop);
          var offsetLeft = Math.max(offset.left - 30, scrollLeft);
          var offsetTopDiff = offsetTop - offset.top;
          var offsetLeftDiff = offsetLeft - offset.left;
          offset.top = offsetTop;
          offset.left = offsetLeft;

          // make sure halo respects right and bottom viewport boundary
          var width = $target.outerWidth() - offsetLeftDiff + 30;
          var height = $target.outerHeight() - offsetTopDiff + 30;
          var offsetBottom = Math.min(offset.top + height, scrollTop + $(window).height());
          var offsetRight = Math.min(offset.left + width, scrollLeft + $(window).width());
          width = offsetRight - offsetLeft;
          height = offsetBottom - offsetTop;

          // set position and dimensions of halo
          $halos.show();
          $halos.offset(offset);
          $halos.outerWidth(width);
          $halos.outerHeight(height);
        },

        hideHalos: function () {
          $halos.offset({left:0, top: 0});
          $halos.hide();
        }
      }
    }
    </script>
</template>
<script class="registrationScript">
// This ugly piece of code will be auto generated, when exporting a template. Puh.
(function() {
  var template = document.currentScript.ownerDocument.querySelector('#lively-halos');
  var clone = document.importNode(template.content, true);

  System.import('../src/client/morphic/component-loader.js').then(loader => { loader.register('lively-halos', clone); });
})();
</script>
