<template id="lively-cloudscripting-item">
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style>
    .item {
      padding: 4px;
/*       cursor: pointer; */
    }
    
    .item:hover {
      background-color: #eee;
    }
    
    .selected {
      background-color: #2B65EC;
      color: #fff;
    }
    
    .selected:hover {
      color: #000;
    }
    
    .item h1 {
      font-size: 14px;
      margin: 0;
    }
    
    .item small {
      font-size: 12px;
      font-style: italic;
    }
    
    .status {
      display: inline-block;
      font-size: 30px;
      margin-right: 8px;
      width: calc(20% -8px);
      margin-top: -5em;
      padding-top: -3em;
    }
    
    .running {
      color: green;
    }
    
    .errored {
      color: red;
    }
    
    .warning {
      color: #edde3f;
    }
    
    .not-running {
      color: gray;
    }
    
    .add-action {
      cursor: pointer;
    }
    
    .clouditem-right {
      display: inline-block;
      width: 80%;
      margin: 0;
    }
    
    .action-list ul {
      list-style: none;
      padding-left: 0;
      margin: 2px 0;
    }
    
    .delete-action {
      cursor: pointer;
    }
  </style>

<div class="item">
  
  <div class="status">&#9679;</div>
  
  <div class="clouditem-right">
    <h1>Itemname</h1>
    <div class="action-list">
      <ul>
        <li>Action 1 <i class="fa fa-times delete-action" aria-hidden="true"></i></li>
        <li>Action 2 <i class="fa fa-times delete-action" aria-hidden="true"></i></li>
      </ul>
    </div>
    <div class="add-action">
      <i class="fa fa-plus" aria-hidden="true"></i><small> Add action</small>
    </div>  
  </div>
</div>

</template>
<script class="registrationScript">lively.registerTemplate()</script>