 <template id="lively-tab-view" data-class="TabView">
  <style>
  :host {
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
  }

  #tab-bar {
    display: flex;
    flex: 0;
    min-height: 2em;
    height: 2em;
    line-height: 2em;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    list-style: none inside;
    border-bottom: 2px #1ba1e2 solid;
  }

  #tab-bar li {
    display: block;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
  }
  #tab-bar li.active span {
    background-color: #1ba1e2;
    color: #ffffff;
  }

  #tab-bar li span {
    padding: 8px 24px;
    font-weight: bold;
  }

  #tab-content {
    display: flex;
    overflow-y: auto;
    flex: 1;
  }

  ::content .tab-view-inactive {
    display: none!important;
  }

  </style>

  <ul id="tab-bar">
  </ul>

  <div id="tab-content">
    <content></content>
  </div>
</template>

<script class="registrationScript">lively.registerTemplate()</script>
