<template id="lively-pdf" data-class="LivelyPdf">
  <style>
    #log {
      position: absolute;
    }
    #container {
      width: 100%;
      height: 100%;
      overflow: auto;
    }
  </style>
  <style  data-src="/src/external/pdfjs/web/viewer.css"></style>
  <pre id="log"></pre>

  <div id="container">
    <div id="viewerContainer"><div class="pdfViewer"></div></div>
    <!--
    <div id="text-layer" class="textLayer"></div>
    -->
  </div>
  </div>
</template>
<script class="registrationScript">lively.registerTemplate()</script>
