<script src="../node_modules/mocha/mocha.js" type="text/javascript" charset="utf-8"></script>
<script>mocha.setup("bdd")</script>
<template id="lively-testrunner" data-class="TestRunner">
    <style>
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }
    p {
      margin-top: 5px;
      margin-bottom: 5px;      
    }
    #content {
      overflow: auto;
    }
    
    </style>
    <div class="container">
      <h2>TestRunner</h2>
        <p>
          <button id="runButton">run</button> 
        </p>
        <div id="content">
        <content></content>
        </div>
    </div>
</template>
<script class="registrationScript">lively.registerTemplate()</script>

