<template id="lively-turtle-canvas">
  <canvas width="600" height="450">
    <content>
    </content>
  </canvas>
  
<script type="lively4script" data-name="initialize">
function() {
      this.canvas = this.shadowRoot.querySelector("canvas");
      this.context = this.canvas.getContext("2d");
      
      this.turtle = {
        pos: {x:0.0, y:0.0},
        heading: 0,
        pen: false,
        color: '#000000',
        
        // drawing functions
        left: (deg) => {this.turtle.heading = (this.turtle.heading - deg) % 360},
        right: (deg) => {this.turtle.heading = (this.turtle.heading + deg) % 360},
        
        forward: (dist) =>
        {
          var turtle = this.turtle;
          var pos = turtle.pos;
          
          var oldPos = {x:pos.x, y:pos.y};
          
          pos.x += dist * Math.cos(turtle.heading/180 * Math.PI);
          pos.y += dist * Math.sin(turtle.heading/180 * Math.PI);
          
          if (this.turtle.pen)
          {
            this.context.strokeStyle = turtle.color;
            this.context.beginPath();
            this.context.moveTo(oldPos.x, oldPos.y);
            this.context.lineTo(pos.x, pos.y);
            this.context.stroke();
          }
        },
        backward: (dist) => {this.turtle.forward(-dist)},
        
        penUp: () => {this.turtle.pen = false},
        penDown: () => {this.turtle.pen = true},
        setColor: (r, g, b) =>
        {
        	var total = Math.max(Math.min(b,0xFF),0) +
        	           (Math.max(Math.min(g,0xFF),0) << 8) +
        	           (Math.max(Math.min(r,0xFF),0) << 16) +
        	           0x1000000;
          this.turtle.color = '#' + total.toString(16).substr(1);
        },
        
        // direct state access
        getState: () =>
        {
          return {pos: {x: this.turtle.pos.x, y: this.turtle.pos.y},
                  heading: this.turtle.heading,
                  pen: this.turtle.pen,
                  color: this.turtle.color
          };
        },
        setState: (state) =>
        {
          if (state.pos != null && state.pos.x != null && state.pos.y != null)
          {
            this.turtle.pos = {x: state.pos.x, y: state.pos.y};
          }
          
          if (state.heading != null)
          {
            this.turtle.heading = state.heading;
          }
          
          if (state.pen != null)
          {
            this.turtle.pen = state.pen;
          }
          
          if (state.color != null)
          {
            this.turtle.color = state.color;
          }
        },
        getPos: () =>
        {
          return {x: this.turtle.pos.x, y: this.turtle.pos.y};
        },
        setPos: (px, py) =>
        {
          this.turtle.pos = {x: px, y: py};
        },
        getHeading: () =>
        {
          return this.turtle.heading
        },
        setHeading: (head) =>
        {
          this.turtle.heading = head;
        }
      };

      this.clearCanvas = (color = '#FFFFFF') =>
      {
        this.context.fillStyle = color;
        this.context.fillRect(0, 0, this.canvas.width, this.canvas.height);
      };
    }
  </script>
  <!--
  <script type="lively4script" data-name="execute">
    (code) =>
    {
      var canvas = this.canvas;
      var context = this.context;
      var turtle = this.turtle;
      
      return eval(code);
    }
  </script>
  -->
</template>
<script>
  lively.registerTemplate()
</script>
