<template id="lively-drawboard" data-class="LivelyDrawboard">
  <style>
  :host {
    width: 400px;
    height: 400px;
    touch-action: none;
    overflow: hidden;
    border: 1px solid gray;
  }

  #canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 800px;
    height: 600px;
    border: none;
    touch-action: none;
  }

  </style>
  <content></content>
  <canvas id="canvas" width="800" height="600" ></canvas>
  
</template>
<script class="registrationScript">lively.registerTemplate()</script>

 