<link rel="import" href="../templates/lively-file-browser-item.html" />
<template id="lively-file-browser">
  <style>
    * {
      box-sizing: border-box;
    }

    #container {
      backgorund-color: black;
      height: 100%;
    }

    nav {
      display: table;
      width: 100%;
      border-bottom: 1px solid #ddd;
      height: 40px;
    }

    nav .group {
      display: table-cell;
      padding: 1px 0 5px 0;
      white-space: nowrap;
      vertical-align: middle;
    }

    nav .group:not(:first-child) {
      padding-left: 10px;
    }

    nav .group.fluid {
      width: 100%;
    }

    nav button {
      border: none;
      background: transparent;
      padding: 4px;
      margin: 0;
      display: inline-block;
      border-radius: 3px;
      cursor: pointer;
    }

    nav button svg {
      width: 24px;
      height: 24px;
      display: block;
    }

    nav button svg path {
      fill: #777777;
    }

    nav button:hover, nav button:focus {
      background: #cde6f7;
      outline: none;
    }

    nav button:hover svg path,
    nav button:focus svg path {
      fill: #2a8dd4;
    }

    nav input {
      padding: 4px 5px;
      border: 1px solid #aaa;
      border-radius: 2px
    }

    nav input:focus {
      border-color: #86A9C1;
      background: #F0F9FF;
      outline: none;
    }

    #location {
      width: 100%;
    }

    #contents {
      height: calc(100% - 40px);
      width: 100%;
      padding: 0;
      margin: 0;
      overflow: auto;

      font-size: 85%;
    }

    #contents lively-file-browser-item {
      display: block;
      float: left;
      width: 90px;
      height: 105px;
      margin: 4px;
      border-radius: 8px;
      padding: 5px;
      cursor: default;
    }

    #contents lively-file-browser-item:hover {
      background-color: #cde6f7;
    }

    #contents lively-file-browser-item:active {
      background: #2a8dd4;
      color: white;
    }

  </style>
  <div id="container">
    <nav id="toolbar">
      <div class="group">
        <button id="up">
          <svg viewBox="0 0 24 24">
            <path class="content" d="M12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22M12,7L7,12H10V16H14V12H17L12,7Z" />
          </svg>
        </button>
      </div>
      <div class="group fluid">
        <input name="location" id="location" />
      </div>
      <!--
      <div class="group">
        <button id="prefs">Preferences</button>
      </div>
      -->
    </nav>
    <div id="contents">
    </div>
  </div>
</template>

<script>
  (function() {
    'use strict';

    class FileBrowser extends HTMLElement {
      initialize() {
        this.path = '/'

        let location = this._query('#location')
        location.addEventListener('keypress', (event) => {
          if(event.keyCode !== 13)
            return

          this.path = event.target.value
        })

        this._query('#up').addEventListener('click', (event) => {
          event.preventDefault()
          this.path = this.path + '/..'
        })
      }

      set path(value) {
        let source = value.split(/\/+/).filter((str) => str.length > 0)
        let target = []

        if(value.charAt(0) !== '/')
          target = target.concat(this._path)

        for(let token of source) {
          if(token === '..') {
            target.pop()
          } else if(target !== '' && target !== '.') {
            target.push(token)
          }
        }

        this._path = target
        this._update()
      }

      get path() {
        return '/' + this._path.join('/')
      }

      get url() {
        return 'https://lively4' + this.path
      }

      _query(selector) {
        return this.shadowRoot.querySelector(selector)
      }

      _update() {
        let path = this.path

        this._query('#location').value = path

        fetch('https://lively4' + path, {method: 'OPTIONS'}).then((response) => {
          if(response.ok) {
            return response.json()
          } else {
            throw new Error('Request failed: ' + response.status + ' ' + response.statusText)
          }
        }).then((json) => {
          if(Array.isArray(json['contents']) && json['type'] === 'directory') {
            return json
          } else {
            console.log(json)
            throw new Error('Invalid JSON response content. Not a directory?')
          }
        }).then((json) => {
          let contents = this.shadowRoot.querySelector('#contents')

          while(contents.firstChild)
            contents.removeChild(contents.firstChild)

          json['contents'].forEach((file) => {
            let item = document.createElement('lively-file-browser-item')

            item.type = file['type']
            item.name = file['name']
            item.size = file['size']

            item.addEventListener('click', (event) => {
              if(file['type'] === 'directory') {
                this.path = this.path + '/' + file['name']
              } else {
                let event = new Event("file-select")
                event.file = Object.assign({}, file, {
                  path: path + '/' + file['name'],
                  url: new URL('https://lively4' + path + '/' + file['name'])
                })

                this.dispatchEvent(event)
              }
            })



            contents.appendChild(item)
          })
        })
      }
    }

    let template = document.currentScript.ownerDocument.querySelector('#lively-file-browser');
    let clone    = document.importNode(template.content, true);

    System
      .import('../src/client/morphic/component-loader.js')
      .then((Loader) => {
        Loader.register('lively-file-browser', clone, FileBrowser.prototype);
      })
  })();
</script>
