<template id="lively-cloudscripting-item">
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style>
    .item {
      padding: 4px;
      display: flex;
/*       cursor: pointer; */
    }
    
    .item:hover {
      background-color: #eee;
    }
    
    .selected {
      background-color: #2B65EC;
      color: #fff;
    }
    
    .selected:hover {
      color: #000;
    }
    
    .item h4 {
      font-size: 14px;
      margin: 0;
    }
    
    .item small {
      font-size: 12px;
      font-style: italic;
    }
    
    .status {
      font-size: 30px;
      margin-right: 8px;
    }
    
    .running {
      color: green;
    }
    
    .errored {
      color: red;
    }
    
    .warning {
      color: #edde3f;
    }
    
    .not-running {
      color: gray;
    }
    
    .add-action {
      cursor: pointer;
      text-align: center;
      height: 100%;
    }
    
    .delete-action {
      cursor: pointer;
    }
    
    .clouditem-right {
      width: 100%;
    }
    
    .watcher-wrapper {
      border: 1px solid #aaa;
      padding: 2px;
      background-color: #997987;
    }
    
    .action-list {
/*       list-style: none; */
      padding-left: 0;
      margin: 2px 0 0 5px;
      border: 1px solid #aaa;
      background-color: #879979;
    }
    
    .delete-action {
      cursor: pointer;
    }
    
    button {
      font-size: 75%;
      margin-left: 1em;
    }
    
    h6 {
      position: relative;
/*       font-size: 30px; */
      z-index: 1;
      overflow: hidden;
      text-align: center;
      margin: 0;
    }
    h6:before, h1:after {
      position: absolute;
      top: 51%;
      overflow: hidden;
      width: 50%;
      height: 1px;
      content: '\a0';
      background-color: black;
    }
    h6:before {
      margin-left: -50%;
      text-align: right;
    }
  </style>

<div class="item">
  
  <div class="status">&#9679;</div>
  
  <div class="clouditem-right">
    <div class="watcher-wrapper">
      <h6>
        Watcher
      </h6>
      <h4>Itemname</h4>
      <button id="modify-configuration">
        Modify config
      </button>      
    </div>
    <div class="action-list">
      <h6>
        Actions
      </h6>
    </div>
    <div class="add-action">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </div>  
  </div>
</div>

</template>
<script class="registrationScript">lively.registerTemplate()</script>