<template id="lively-debugger" data-class="LivelyDebugger">
    <style data-src="/templates/livelystyle.css"></style>
    <style data-src="/src/external/font-awesome/css/font-awesome.min.css"></style>

    <style>
      button {
        margin-right: 2px;
      }

      select {
        border: 0;
      }

      .container {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
      }
      
      .two-columns {
        display: flex;
        flex-direction: row;
        flex: 1;
        height: 100%;
      }

      .column-left {
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      .column-right {
        width: 225px;
        flex: 0 0 225px;
        display: flex;
        flex-direction: column;
        overflow: scroll;
        border-left: 1px solid rgb(120, 118, 116);
      }

      #debugger-top {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid rgb(120, 118, 116);
      }
      
      #targetList {
        width: 100%;
        height: 100%;
        display: flex;
        width: 100%;
      }
      
      #scriptList {
        width: 100%;
      }
      
      #debuggerWorkspace {
        min-height: 50px;
      }

      #codeEditor {
        flex: 1;
        width: 100%;
        border-top: 1px solid rgb(120, 118, 116);
        border-bottom: 1px solid rgb(120, 118, 116);
      }
      
      #details {
        font-size: 12px;
        padding: 5px;
      }
      
      #details ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      
      #details ul li {
        cursor: pointer;
        border: 1px solid #ccc;
        border-bottom: 0;
        padding: 2px;
      }
      
      #details ul li:last-child {
        border: 1px solid #ccc;
      }
      
      #details ul li:nth-child(odd) {
        background-color: #f2f2f2;
      }
      
      #details ul li:hover {
        background-color: #ddd;
      }

      .hide {
        display: none;
      }
      
      #breakpointsButton .active {
        color: red;
      }
    </style>

    <div class="container">
      <div id="debugger-top">
        <div><select id="targetList"></select></div>
        <button id="debugButton" title="Attach debugger"><i class="fa fa-fw fa-bug" aria-hidden="true"></i></button>
        <button id="stopButton" title="Detach debugger" class="hide"><i class="fa fa-fw fa-stop" aria-hidden="true"></i></button>
        <button id="pauseButton" title="Pause" disabled><i class="fa fa-fw fa-pause" aria-hidden="true"></i></button>
        <button id="playButton" title="Continue" class="hide"><i class="fa fa-fw fa-play" aria-hidden="true"></i></button>
        <button id="stepOverButton" title="Step Over" disabled><i class="fa fa-fw fa-step-forward" aria-hidden="true"></i></button>
        <button id="stepIntoButton" title="Step Into" disabled><i class="fa fa-fw fa-arrow-down" aria-hidden="true"></i></button>
        <button id="stepOutButton" title="Step Out" disabled><i class="fa fa-fw fa-arrow-up" aria-hidden="true"></i></button>
        <button id="stepThroughButton" title="Step Through" disabled><i class="fa fa-fw fa-sign-in" aria-hidden="true"></i></button>
        <button id="multiStepButton" title="Perform multiple steps" disabled><i class="fa fa-fw fa-list" aria-hidden="true"></i></button>
        <button id="scriptableDebuggerButton" title="Open workspace to script debugger" disabled><i class="fa fa-fw fa-code" aria-hidden="true"></i></button>
        <button id="restartFrameButton" title="Restart current call frame" disabled><i class="fa fa-fw fa-repeat" aria-hidden="true"></i></button>
        <button id="breakpointsButton" title="Enable/disable all breakpoints" disabled><i class="fa fa-fw fa-flag" aria-hidden="true"></i></button>
        <button id="profilerButton" title="Run profiler" disabled><i class="fa fa-fw fa-flask" aria-hidden="true"></i></button>
        <button id="urlButton" title="Navigate to URL" disabled><i class="fa fa-fw fa-folder-open-o" aria-hidden="true"></i></button>
        <button id="reloadButton" title="Reload page and ignore cache" disabled><i class="fa fa-fw fa-refresh" aria-hidden="true"></i></button>
      </div>
      <div class="two-columns">
        <div class="column-left">
          <select id="scriptList"></select>
          <juicy-ace-editor id="codeEditor"></juicy-ace-editor>
          <juicy-ace-editor id="debuggerWorkspace"></juicy-ace-editor>
        </div>
        <div class="column-right">
          <div id="details">
            <b>Call Frames</b>
            <ul id="callFrameList"></ul>
            <b>Scope</b>
            <ul id="scopeList"></ul>
          </div>
        </div>
      </div>
    </div>
</template>

<script class="registrationScript">lively.registerTemplate();</script>