
<link rel="import" href="./lively-services-item.html" />

<template id="lively-services" data-class="Services" data-title="Services">
    <style data-src="/templates/livelystyle.css"></style>
    <style data-src="/src/external/font-awesome/css/font-awesome.min.css"></style>

    <style>
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
    }

    .column-left {
      width: 200px;
      flex: 0 0 200px;
      display: flex;
      flex-direction: column;
      border-right: 1px solid rgb(120, 118, 116);
    }

    .items {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow-y: scroll;
    }

    .services-menu {
      display: flex;
      align-items: flex-end;
    }

    button {
      margin-right: 2px;
    }

    .column-right {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .service-top {
      display: flex;
      flex-direction: row;
    }

    input {
      width: 40px;
      flex: 1;
      margin: 2px;
    }

    #log {
      flex: 1;
      width: 100%;
    }

    </style>
    <div class="container">
      <div class="column-left">
        <div class="items"></div>
        <div class="services-menu">
          <button id="addButton"><i class="fa fa-fw fa-plus" aria-hidden="true"></i></button>
          <button id="removeButton"><i class="fa fa-fw fa-minus" aria-hidden="true"></i></button>
          <button id="refreshButton"><i class="fa fa-fw fa-refresh" aria-hidden="true"></i></button>
          <button id="editButton"><i class="fa fa-fw fa-code" aria-hidden="true"></i></button>
          <button id="settingsButton"><i class="fa fa-fw fa-cog" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="column-right">
        <div class="service-top">
          <input id="entryPoint" type="text" value="Name" />
          <div class="service-actions">
            <button id="startButton"><i class="fa fa-fw fa-play" aria-hidden="true"></i></button>
            <button id="stopButton"><i class="fa fa-fw fa-stop" aria-hidden="true"></i></button>
            <button id="debugButton"><i class="fa fa-fw fa-bug" aria-hidden="true"></i></button>
          </div>
        </div>
        <juicy-ace-editor id="log"></juicy-ace-editor>
      </div>
    </div>
</template>

<script class="registrationScript">lively.registerTemplate()</script>
