<template id="lively-module-graph" data-class="LivelyModuleGraph">
<style>
    :host {
      width: 200px;
      height: 200px;
    }
    .background {
        stroke: white;
        stroke-width: 1px;
        fill: white;
    }

    .node {
        stroke: black;
        stroke-width: 1.5px;
        cursor: move;
        fill: lightgray;
    }

    .link {
        fill: none;
        stroke: #000;
        stroke-width: 3px;
        opacity: 0.7;
        marker-end: url(#end-arrow);
    }

    .label {
        fill: black;
        font-family: Verdana;
        font-size: 25px;
        text-anchor: middle;
        cursor: move;
    }
    </style > 
    <a href="#"><h1>Modules Graph</h1></a>
</template>
<script class="registrationScript">lively.registerTemplate()</script>

