 <template id="lively-menu" data-class="LivelyMenu">
    <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
    <style>
      :host {
        position: absolute;
        top: "200px";
        left: "200px";
        border: 20px;
        z-index: 200;
      }
      .container {
          width: 250px;
          padding: 5px;
          // border-radius: 5px;
          // background-color: rgb(238, 238, 238);
          background-color: white;
          border: 0.7px solid gray;
          margin: 0;
          padding: 0px;
      }
      ul {
        margin: 0;
      }
      ul li {
        font-size: 9pt;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 5px;
        padding-right: 5px;
        font: arial, sans-serif;
        cursor: pointer;
        
        margin: 0;
        list-style-type: none;
        color:  #1a1a1a;
      }
      ul li:hover {
          background-color: 	#778899;
          color: white;
      }
      ul li label {
        color: lightgray;
        float: right;
      }
      
      div.icon {
        clear: both;
        display: block;
        padding-top: 0px;
        width: 20px;
        height: 15px;
        float: left;
        overflow: hidden;
      }
      
      span.submenuindicator {
        font-size: 9px;
        color: darkgray;
      }
    </style>
    <ul class="container">
    </ul>
</template>
<script class="registrationScript">lively.registerTemplate()</script>

