<template id="lively-container">
    <style>
    #cancel, #save, #accept {
      visibility: hidden;
    }

    #container-path {
      width: 400px;
    }

    /*
    :host {
      width: 800px;
      height: 600px;
    }
    */
    </style>
    <div id="container-navigation">
      <button id="edit">edit</button>
      <input type="text" id="container-path" value="">
      <button id="cancel">cancel</button>
      <button id="save">save</button>
      <button id="accept">accept</button>
    </div>
    <div id="container-content">
      <!-- by default the content is hidden-->
    </div>
    <content></content>

    <script type="lively4script" data-name="initialize">
    () => {

      window.onpopstate = (event) => {
        var state = event.state
        if (state && state.followInline) {
          console.log("follow " + state.path)
          this.setPath(state.path)
        }
      };

      // #TODO very ugly... I want to hide that level of JavaScript and just connect "onEnter" of the input field with my code
      var input = this.getSubmorph("#container-path")
      $(input).keyup(event => {
        if (event.keyCode == 13) { // ENTER
          this.onPathEntered(input.value);
        }
      });
      this.registerButtons()
    }
    </script>
    <script type="lively4script" data-name="registerButtons">
    (names) => {
      // Just an experiment for having to write lesser code.... which ended up in having more code here ;-) #Jens
      Array.prototype.forEach.call(this.shadowRoot.querySelectorAll("button"), node => {
        var name = node.id
        console.log("register button " + name)
        $(node).click(() => {
          var funcName = name.replace(/^./, c => "on"+ c.toUpperCase())
          var func = this[funcName]
          if (func) {
            func.call(this)
          } else {
            alert("No callback: " +  funcName)
          }
        })
      })
    }
    </script>
    <script type="lively4script" data-name="onPathEntered">
    (path) => {
      this.followPath(path)
    }
    </script>

    <script type="lively4script" data-name="hideCancelAndSave">
    () => {
      this.getSubmorph("#cancel").style.visibility = "hidden"
      this.getSubmorph("#save").style.visibility = "hidden"
      this.getSubmorph("#accept").style.visibility = "hidden"

    }
    </script>
    <script type="lively4script" data-name="showCancelAndSave">
    () => {
      this.getSubmorph("#cancel").style.visibility = "visible"
      this.getSubmorph("#save").style.visibility = "visible"
      this.getSubmorph("#accept").style.visibility = "visible"
    }
    </script>
    <script type="lively4script" data-name="onEdit">
    () => {
      this.showCancelAndSave()
      this.editFile()
    }
    </script>
       <script type="lively4script" data-name="onCancel">
    () => {
      this.setPath(this.getPath())
      this.hideCancelAndSave()
    }
    </script>
    <script type="lively4script" data-name="onSave">
    (doNotQuit) => {
      return this.getSubmorph("#editor").saveFile().then( sourceCode => {
        lively.notify("saved page",this.getPath())
      }).catch(error => {
        console.log('failed to save', error)
        lively.notify("Could not saved page",this.getPath() +"\nMaybe next time you are more lucky?")
      })
    }
    </script>
    <script type="lively4script" data-name="onAccept">
    () => {
      this.onSave().then( sourceCode => {
        this.setPath(this.getPath());
        this.hideCancelAndSave();
      })
    }
    </script>
    <script type="lively4script" data-name="clear">
    () => {
      this.getSubmorph('#container-content').innerHTML = ''
    }
    </script>
    <script type="lively4script" data-name="appendMarkdown">
    (content) => {
      var fixLinks = (nodes) => {
        if (! nodes) return
        Array.prototype.forEach.call(nodes, node => {
          if (node.getAttribute) {
            var href = node.getAttribute("href")
            if (href) {
              console.log("fix " + href)
              // #TODO load inplace....
              var path
              if (href.match(/^\//)) {
                  path = href // ABSOLTUE paths
              } else if (!href.match(/!([A-Za-z]+):\/\/.+/)) { // ignore FULL URLS
                  path = this.getDir() + href // that leaves us RELATIVE paths
              }
              if (path) {
                console.log("fix "  + path)
                $(node).click(() => { this.followPath(path); return false; });

                // ALTERNATIVE to navigate it inline, but the link will not be followed....
                // var link = lively4url + "/draft/start.html?load=" + path
                // node.setAttribute("href", link)
              } else {
                console.log("ignore " + href)
              }
            }
            fixLinks(node.childNodes)
          }
        })
      }
      System.import('../src/external/showdown.js').then((showdown) => {
        var converter = new showdown.Converter();
        var htmlSource = converter.makeHtml(content)
        var html = $.parseHTML(htmlSource)
        fixLinks(html)
        console.log("html", html)
        html.forEach((ea) => this.getSubmorph('#container-content').appendChild(ea))
      })
    }
    </script>
     <script type="lively4script" data-name="appendHtml">
    (content) => {
      try {
        $.parseHTML(content).forEach((ea) =>  this.getSubmorph('#container-content').appendChild(ea))
      } catch(e) {
        console.log("Could not append html:" + content)
      }
    }
    </script>
    <script type="lively4script" data-name="getDir">
    () => {
         return this.getPath().replace(/[^/]*$/,"")
    }
    </script>
    <script type="lively4script" data-name="followPath">
    (path) => {
        window.history.pushState({ followInline: true, path: path }, 'view ' + path, window.location.pathname + "?load="+path);
        this.setPath(path)
    }
    </script>
    <script type="lively4script" data-name="getPath">
    () => {
         return this.getAttribute("data-path")
    }
    </script>
    <script type="lively4script" data-name="setPath">
    function (path) {
      this.setAttribute("data-path", path)
      this.clear()
      this.getSubmorph('#container-path').value = path
      if (path.match(/^https?:\/\//)) {
        var url = path
      } else {
        url = "https://lively4/" + path
      }
      console.log("set url: " + url)
      this.sourceContent = "NOT EDITABLE"
      $.get(url, (content) => {
        var format = path.replace(/.*\./,"")
        if (format == "html")  {
          this.sourceContent = content
          this.appendHtml(content)
        } else if (format == "md") {
          this.sourceContent = content
          this.appendMarkdown(content)
        } else if (format == "png") {
          this.appendHtml("<img src='" + url +"'>")
        } else if (format == "pdf") {
          this.appendHtml('<object style="width:21cm;height:29cm" data="'
            + url +'" type="application/pdf"></object>')
        } else {
          this.appendHtml("<pre>" + content +"</pre>")
        }
      }).fail(function(err){
          console.log("Could not load: " + path + " because of: " + err)
      })
    }
    </script>
    <script type="lively4script" data-name="editFile">
    () => {
      this.clear()
      var container=  this.getSubmorph('#container-content')
      lively.components.openIn(container,
        lively.components.createComponent("lively-editor")).then( comp => {
          console.log("comp: " + comp)

          container.style.width = "600px"
          container.style.height = "400px"
          comp.hideToolbar()
          comp.id = "editor"


          comp.shadowRoot.querySelector('juicy-ace-editor').doSave = text => {
            this.onSave()
          }

          comp.setURL("https://lively4/" + this.getPath())
          comp.setText(this.sourceContent); // directly setting the source we got
          // comp.loadFile() // ALT: Load the file again?
      })
      lively.components.loadUnresolved(container)
    }
    </script>




</template>
<script class="registrationScript">
// This ugly piece of code will be auto generated, when exporting a template. Puh.
(function() {
  var template = document.currentScript.ownerDocument.querySelector('#lively-container');
  var clone = document.importNode(template.content, true);

  System.import('../src/client/morphic/component-loader.js').then(loader => { loader.register('lively-container', clone); });
})();
</script>
