<template id="lively-toolbox">
    <style>
    .container {
        width: 120px;
        padding: 5px;
        border-radius: 5px;
        background-color: rgb(238, 238, 238);
    }
    </style>
    <div class="container">
        <form>
        </form>
    </div>
    <script type="lively4script" data-name="initialize">
      var dragging, grabbing, inspecting, deleting, copying;
      var baseUrl = "../src/client/morphic/";

      Promise.all([
        "dragging.js",
        "grabbing.js",
        "inspecting.js",
        "deleting.js",
        "copying.js"
      ]
      .map(name => { return System.import(baseUrl + name); }))
      .then((modules) => {
        dragging = modules[0];
        grabbing = modules[1];
        inspecting = modules[2];
        deleting = modules[3];
        copying = modules[4];

        this.createMorphicToolbox();
      }).catch(err => {
        console.log(err);
      });


      this.createMorphicToolbox = function() {
        var tools = [{
          name: "none",
          default: true
        }, {
          name: "Inspector",
          onActivate: inspecting.activate,
          onDeactivate: inspecting.deactivate
        }, {
          name: "Grabbing",
          onActivate: grabbing.activate,
          onDeactivate: grabbing.deactivate
        }, {
          name: "Dragging",
          onActivate: dragging.activate,
          onDeactivate: dragging.deactivate
        }, {
          name: "Deleting",
          onActivate: deleting.activate,
          onDeactivate: deleting.deactivate
        }, {
          name: "Copying",
          onActivate: copying.activate,
          onDeactivate: copying.deactivate
        }]

        initStylesheet();

        var container = $(this.shadowRoot).find(".container")[0];

        var form = $(this.shadowRoot).find("form")[0];
        container.appendChild(form);

        $(form).on("change", function(evt) {
          // deactivate the current tool, if it has a deactivation function
          var deactivate = container.currentTool.onDeactivate;
          if (typeof deactivate === "function") {
            deactivate();
          }
          // activate the new tool, if it has an activation function
          var activate = evt.target.tool.onActivate;
          if (typeof activate === "function") {
            activate();
          }

          container.currentTool = evt.target.tool;
        });

        // create a radio button for each tool
        tools.forEach(function(ea) {
          var radio = document.createElement("input");
          var id = "radio-button-" + ea.name;
          radio.type = "radio";
          radio.name = "tool-selection";
          radio.id = id;
          radio.value = ea.name;
          radio.tool = ea;

          if (ea.default) {
            radio.checked = true;
            container.currentTool = ea;
          }

          var label = document.createElement("label");
          label.setAttribute('for', id);
          label.innerHTML = ea.name;

          form.appendChild(radio);
          form.appendChild(label);
          form.appendChild(document.createElement("br"));
        });

        return container;
      }


      function initStylesheet() {
        $("<link/>", {
           rel: "stylesheet",
           type: "text/css",
           href: "../src/client/css/morphic.css"
        }).appendTo("head");
      }
    </script>
    <script type="lively4script" data-name="foo">
      // this is just a test of another script
      console.log("hello script");
    </script>
</template>
<script class="registrationScript">
// This ugly piece of code will be auto generated, when exporting a template. Puh.
(function() {
  var template = document.currentScript.ownerDocument.querySelector('#lively-toolbox');
  var clone = document.importNode(template.content, true);

  System.import('../src/client/morphic/component-loader.js').then(loader => { loader.register('lively-toolbox', clone); });
})();
</script>
