<template id="morphic-toolbox-template">
<style>
#morphic-toolbox {
    width: 120px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
}
</style>
<div id="morphic-toolbox" class="">
    <form class="">
        <input type="radio" name="tool-selection" id="radio-button-none" value="none">
        <label>none</label>
        <br>
        <input type="radio" name="tool-selection" id="radio-button-Inspector" value="Inspector">
        <label>Inspector</label>
        <br>
        <input type="radio" name="tool-selection" id="radio-button-Grabbing" value="Grabbing">
        <label>Grabbing</label>
        <br>
        <input type="radio" name="tool-selection" id="radio-button-Dragging" value="Dragging">
        <label>Dragging</label>
        <br>
    </form>
</div>
</template>