<template id="morphic-toolbox-template">
<style>
#morphic-toolbox {
    width: 120px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
}
</style>
<div id="morphic-toolbox" class="">
    <form class=""></form>
</div>
<script type="lively4script" name="initialize">
console.log("initializing toolbox");

this.tools = [{
    name: "none",
    default: true
}, {
    name: "Inspector",
    onActivate: activateInspector,
    onDeactivate: deactivateInspector
}, {
    name: "Grabbing",
    onActivate: activateGrabbing,
    onDeactivate: deactivateGrabbing
}, {
    name: "Dragging",
    onActivate: activateDragging,
    onDeactivate: deactivateDragging
}]

this.createMorphicToolbox = function() {
    console.log("creating toolbox");

    // we need better functions to access own subelements!
    // var container = $(this.shadowRoot).children("#morphic-toolbox")[0];
    var container = $(this).children("#morphic-toolbox")[0];
    var form = container.children[0];

    
    this.tools.forEach(function(ea) {
        var radio = document.createElement("input");
        var id = "radio-button-" + ea.name;
        radio.type = "radio";
        radio.name = "tool-selection";
        radio.id = id;
        radio.value = ea.name;
        radio.tool = ea;
        
        if (ea.default) {
            radio.checked = true;
            container.currentTool = ea;
        }

        var label = document.createElement("label");
        label.for = id;
        label.innerHTML = ea.name;
        
        form.appendChild(radio);
        form.appendChild(label);
        form.appendChild(document.createElement("br"));
    });

    $(form).on("change", function(evt) {
        var deactivate = container.currentTool.onDeactivate;
        if (typeof deactivate === "function") {
            deactivate();
        }
        var activate = evt.target.tool.onActivate;
        if (typeof activate === "function") {
            activate();
        }

        container.currentTool = evt.target.tool;
    });
}

function activateInspector() {
    console.log("using Inspector");
    $("body").on("click", handleInspect);
}

function deactivateInspector() {
    console.log("deactivate Inspector");
    $("body").off("click", handleInspect);
}

function activateGrabbing() {
    console.log("using Grabbing");
    console.log("- not implemented -");
}

function deactivateGrabbing() {
    console.log("deactivate Grabbing");
}

function activateDragging() {
    console.log("using Dragging");
    console.log("- not implemented -");
}

function deactivateDragging() {
    console.log("deactivate Dragging");
}

function handleInspect(e) {
    if (e.ctrlKey) {
        onMagnify(e);
    } else {
        if (window.that) {
            $(window.that).removeClass("red-border");
        }
    }
}

function onMagnify(e) {
    var target = e.target;
    var that = window.that;
    var $that = $(that);
    if (that && (target === that || $.contains(that, target))) {
        parent = $that.parent();
        if (!parent.is("html")) {
            target = parent.get(0);
        }
    }
    if (target !== that) {
        $that.removeClass("red-border")
        $(target).addClass("red-border");
    }
    window.that = target;
    console.log("Current element:", target, "with id:", $(target).attr("id"));
}


this.createMorphicToolbox();
</script>
</template>

<template id="blue-rect-template">
<style>
.blue-rect {
    background-color: blue;
    position: absolute;
    width: 100px;
    height: 100px;
}
p {
    color: white;
}
</style>
<div class="blue-rect">
    <p>Blue Rect</p>
</div>
<script type="lively4script" name="initialize">
    console.log("initializing rectangle");
</script>
</template>
