<template id="offset-parent-inner" >
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
:host {
  
}
#content {
  border: 3px solid palegoldenrod;
  background-color: beige;
}
</style>
<div id="content">
  <h3>
    component 'offset-parent-inner'
  </h3>
  <div>
  <button id="testButton">test my offset parents</button>
  </div>
  offsetParents:
  <ul id="offsetParents"></ul>
  allParents:
  <ul id="allParents"></ul>
</div>
</template>

