<template id="research-diary" data-class="ResearchDiary">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<style type="text/css">
  #container {
    overflow-x: auto;
    word-wrap: break-word;
  }
  
  :host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

#path-to-load {
  width: 100%;
}

th {
  background-color: grey;
}

th.triple-header {
  min-width: 10%;
  width:20%;
  max-width: 200px;
}

table {
  width: 100%;
}

table, thead, tbody, tr, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

tr:hover {
  background-color: lightgrey;
}

td i {
  color: grey;
}

#content-editor {
  height: 100%;
}

.todo {
  color: #b33630;
}

.todo:hover {
  background:  linear-gradient(#dc5f59, #b33630);
  color: white;
}

#delete-button {
  float: right;
  color: #b33630;
}

#delete-button:hover {
  background:  linear-gradient(#dc5f59, #b33630);
  color: white;
}

#tag-container {
  float: left;
}

#tag-container div {
  margin: 5px;
  float: left;
}

</style>
<div class="container-fluid">
  
</div>
</template>
<script class="registrationScript">lively.registerTemplate()</script>
