<template id="research-diary" data-class="ResearchDiary">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style type="text/css">
#content {
  overflow-x: auto;
  word-wrap: break-word;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
#nav {
  background-color: green;
  width: 150px;
}
#main {
  flex: 1;
  display: flex;
  flex-direction: row;
}
#editor {
  background-color: red;
  flex: 1;
}
#ace {
  height: 90%;
}
#viewer {
  background-color: yellow;
  flex: 0 0 25px;
}

.todo {
  /* float: right; */
  color: #b33630;
}
.todo:hover {
  background:  linear-gradient(#dc5f59, #b33630);
  color: white;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-button       {
  /* background-color: red; */
  }
::-webkit-scrollbar-track {
  position: absolute;
  background: #eee;
  /* background-color: yellow; */
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
}
::-webkit-scrollbar-track-piece  {
    /* background-color: blue; */
}
::-webkit-scrollbar-thumb {
  position: absolute;
    background: #ccc;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #bbb;
  border-radius: 2px;
/*  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}
::-webkit-scrollbar-corner       { 
  /* background-color: green; */
}
::-webkit-resizer                { 
  /* background-color: purple; */
  }
  :horizontal {}
:vertical {}
:decrement {}
:increment {}
:start {}
:end  {}
:double-button {}
:single-button {}
:no-button {}
:corner-present {}
:window-inactive {}
::selection {}
</style>
<div id="top">
  <button id="new" title="new">
    <i class="fa fa-plus" aria-hidden="true"></i> Create Today's Entry
  </button>
</div>
<div id="content">
  <div id="nav">
    <ul>
      <li>23.30.19</li>
      <li>23.30.19</li>
      <li>23.30.19</li>
    </ul>
  </div>
  <div id="main">
    <div id="editor">
      <juicy-ace-editor id="ace"></juicy-ace-editor>
    </div>
    <div id="viewer"></div>
  </div>
</div>
</template>
<script class="registrationScript">lively.registerTemplate()</script>
