<template id="semantic-source-code-navigator" >
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
:host {
  
}
#content {
/*   background-color: blue; */
  display: flex;
  flex-direction: column; 
  width: 100%;
  height: 100%;
}
  
  #main {
    flex: 0.66;
    background-color: blue;
  }
  #navigation {
    flex: 0.33;
    background-color: red;
    height: 33%
  }
  #editor {
    height: 100%;
    width: 100%;
  }
  
  span {
    color:red;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul li a {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 5px;
  }
  ul li a:hover {
    background-color: #ccc;
  }
  ul li.checked {
    background: #888;
    color: #fff;
  }
  
  #class-list, #function-list {
    display: none;
  }
  .column {
    font-size: 10pt;
    padding: 2px;
    display: none;
  }  
  .list {
    width: 33%;
    padding: 2px;
    vertical-align: top;
  }
  
</style>
<div id="content">
<!--   <lively-editor></lively-editor>
  <span>BAR</span>FOOO
	<content></content> -->
  <table id="navigation">
    <tr>
      <th class="column">Files</th>
      <th class="column">Top Level Functions</th>
      <th class="column">Methods</th>
    </tr>
    <tr>
      <td class="list">
        <ul id="file-list">
        </ul>
      </td>
      <td class="list">
        <ul id="class-list">
        </ul>
      </td>
      <td class="list">
        <ul id="function-list">
        </ul>
      </td>
    </tr>
  </table>
  <div id="main">
    <div id="editor">
      <lively-code-mirror id="code-mirror"></lively-code-mirror>
    </div>
  </div>
</div>
</template>


