.red-border {
  border-width: 1px;
  border-style: solid;
  border-color: red;
  box-sizing: border-box;
}

#morphic-toolbox {
  width: 120px;
  background-color: #eeeeee;
  padding: 5px;
  border-radius: 5px;
}
