.lively-slide.fullscreen-small {
  position:fixed;
  width: 1024px;
  height: 768px;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 10001;
  border: none;
}

.lively-slide.fullscreen-big {
  position:fixed;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 10001;
  border: none;
}

.lively-slide .title-frontpage {
  color: #2B547E;
  font-weight: bold;
  font-size: 26pt;
  width: calc(100% - 40px);
  top: 25%;
  text-align: center;
  position: absolute;
}

.lively-slide.fullscreen-big .title-frontpage {
  font-size: 44pt;
}

.lively-slide .authors {
  position: absolute;
  width: calc(100% - 40px);
  text-align: center;
  top: 300px;
  font-size: 20pt;
}

.lively-slide.fullscreen-big .authors {
  top: 500px;
  font-size: 32pt;
}

.lively-slide .credentials {
  position: absolute;
  width: calc(100% - 40px);
  text-align: center;
  top: 400px;
  font-size: 18pt;
}

.lively-slide.fullscreen-big .credentials {
  top: 700px;
  font-size: 28pt;
}

.lively-slide .notes {
  position: absolute;
  left: 100px;
  top: 120px;
}

.lively-slide.fullscreen-big .notes {
  position: absolute;
  left: 250px;
  top: 200px;
}

.lively-slide .notes li {
  font-size: 24pt;
  line-height: 1.5em;
  padding-left: 10px;
}

.lively-slide.fullscreen-big .notes-big li {
  font-size: 36pt;
  line-height: 2em;
}

.lively-slide.fullscreen-big .notes-small li {
  font-size: 32pt;
  line-height: 2em;
}

.lively-slide .title-1 {
  color: #2B547E;
  font-weight: bold;
  font-size: 36pt;
  position: absolute;
  top: 40px; 
  width: calc(100% - 40px);
  text-align: center;
}

.lively-slide.fullscreen-big .title-1 {
  font-size: 50pt;
  top: 75px; 
}