.lively-slide.ratio-4-3 {
  width: 800px;
  height: 600px;
}

.lively-slide.ratio-8-5 {
  width: 1280px;
  height: 800px;
}


.lively-slide.ratio-16-9 {
  width: 1280px;
  height: 720px;
}

/* BEGIN: Images */

.lively-slide .img-big {
  position: absolute;
  height: auto;
  /* Reset max width */
  max-width: 9999px;
}

.lively-slide.ratio-4-3 .img-big {
  left: 70px;
  top: 130px;
  width: 700px;
}

.lively-slide.ratio-16-9 .img-big {
  left: 100px;
  top: 120px;
  width: 1080px;
}
/* END: Images */

/* BEGIN: Positions */
.lively-slide.ratio-16-9 .h-1-2 {
  left: 100px;
  width: 500px;
  top: 150px;
  position: absolute;
}

.lively-slide.ratio-16-9 .h-2-2 {
  position: absolute;
  top: 150px;
  left: 670px;
  width: 580px;
  height: auto;
}

.lively-slide.ratio-16-9 .v-1-2 {
  position: absolute;
  top: 150px;
  left: 150px;
  width: 1080px;
  height: auto;
}

.lively-slide.ratio-16-9 .v-2-2 {
  position: absolute;
  top: 450px;
  left: 150px;
  width: 1080px;
  height: auto;
}

.lively-slide.ratio-16-9 .h-1-4 {
  position: absolute;
  top: 120px;
  left: 150px;
  width: 580px;
  height: auto;
}

.lively-slide.ratio-16-9 .h-2-4 {
  position: absolute;
  top: 120px;
  left: 700px;
  width: 580px;
  height: auto;
}

.lively-slide.ratio-4-3 .h-1-2 {
  left: 70px;
  width: 300px;
  top: 150px;
  position: absolute;
}

.lively-slide.ratio-4-3 .h-2-2 {
  left: 440px;
  width: 300px;
  top: 150px;
  position: absolute;
}
/* END: Positions */

.lively-slide .title-1 {
  color: #2B547E;
  font-weight: bold;
  font-size: 36pt;
  position: absolute;
  top: 40px; 
  width: calc(100% - 40px);
  text-align: center;
}

.lively-slide.ratio-4-3 .title-1 {
  font-size: 32pt;
}

.lively-slide.ratio-16-9 .title-1 {
  font-size: 36pt;
}

.lively-slide .title-frontpage {
  color: #2B547E;
  font-weight: bold;
  font-size: 26pt;
  width: calc(100% - 40px);
  top: 25%;
  text-align: center;
  position: absolute;
}

.lively-slide.ratio-4-3 .title-frontpage {
  font-size: 22pt;
}

.lively-slide.ratio-16-9 .title-frontpage {
  font-size: 32pt;
}

.lively-slide .authors {
  position: absolute;
  width: calc(100% - 40px);
  text-align: center;
  top: 300px;
  font-size: 20pt;
}

.lively-slide.ratio-16-9 .authors {
  top: 425px;
}

.lively-slide .credentials {
  position: absolute;
  width: calc(100% - 40px);
  text-align: center;
  top: 400px;
  font-size: 18pt;
}

.lively-slide.ratio-16-9 .credentials {
  top: 520px;
}

.lively-slide .notes {
  position: absolute;
  left: 100px;
  top: 120px;
}

.lively-slide.ratio-4-3 .notes {
  position: absolute;
  left: 70px;
  top: 130px;
}

.lively-slide.ratio-16-9 .notes {
  position: absolute;
  left: 150px;
  top: 130px;
}

.lively-slide.ratio-16-9 .notes li {
  font-size: 22pt;
  line-height: 1.5em;
}

.lively-slide .notes-big li {
  font-size: 24pt;
  line-height: 1.5em;
  padding-left: 10px;
}

.lively-slide.ratio-4-3 .notes-big li {
  font-size: 20pt;
}

.lively-slide.ratio-16-9 .notes-big li {
  font-size: 24pt;
}

.lively-slide.ratio-16-9 .example-run {
  left: 150px;
  bottom: 70px;
  position: absolute;
}

.example1, .example2, .example3 {
  font-size: 16px;
}

.mpm {
  position: absolute;
  width: 70%;
  left: 15%;
  top: 25%;
}

.hidden {
  display: none;
}

.details {
  position: absolute;
  bottom: 5%;
  width: 70%;
  left: 15%;
}
