<template id="github-issue">
  <style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
  <style data-src="/templates/livelystyle.css"></style>
  <style>
    #content {
      overflow: scroll;
      width: calc(100% -20px);
      height: 100%;
      padding: 10px;
    }
    #body {
    }  
  </style>
  <div id="content">
    <button id="browse">browse</button>
    <button id="debug">debug</button>
    <h2 id="title"></h2>
    <lively-markdown id="body"></lively-markdown>
  </div>
  <slot></slot>
</template>
