<template id="lively-halo-vivide-add-outport-item" >
    <style data-src="/src/external/font-awesome/css/font-awesome.min.css"></style>
    <style data-src="/src/components/halo/lively-halo-item.css"></style>
    <style data-src="/src/client/vivide/components/vivide.css"></style>
    <style>
      :host {
      background-color: lightgreen;
      box-sizing: border-box;
      border: 1px green solid;
      border-radius: 5px;
    }
    i {
      color: darkgreen;
    }
    </style>
    <span data-tooltip="Connect To A View"><i class="fa fa-plus" aria-hidden="true"></i></span>
</template>