<template id="d3-treemap">
  <style>
    :host {
      width: 200px;
      height: 200px;
    } 
    #svg {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
    }
  </style>
  <style>
    svg {
      font: 10px sans-serif;
    }

    #contents {
      position: abosolute;
      top: 0px;
      left: 0px; 
    }

    tspan {
       
      font: 8px sans-serif;
    }
    
    .small tspan {
        fill: none ;
    }
    
  </style>
  <svg id="svg"></svg>
  <div id="contents">
    <slot></slot>
  </div>
</template>
