<html>
  <h1>Halo Web Components</h1>
  <p>
    The Halo and it's Halo items are the primary tool for direct object manipulation in Lively Kernel.
  </p>

<lively-script><script>
  import ComponentCreator from "src/client/morphic/component-creator.js"
  ComponentCreator.createUI(this.parentElement)
</script></lively-script>

<lively-script><script>
  import ComponentCreator from "src/client/morphic/component-creator.js"
  ComponentCreator.listComponentsUI(this.parentElement)
</script></lively-script>
  
</html>
