<template id="lively-halo-vivide-add-outport-item" data-class="LivelyHaloVivideAddOutportItem">
    <style data-src="/src/external/font-awesome/css/font-awesome.min.css"></style>
    <style data-src="/src/components/halo/lively-halo-item.css"></style>
    <style data-src="/src/client/vivide/components/vivide.css"></style>
    <span data-tooltip="connect to another view"><i class="fa fa-plus" aria-hidden="true"></i></span>
</template>
<script class="registrationScript">
  lively.registerTemplate()
</script>
