<template id="lively-halo-vivide-open-script-editor-item" data-class="LivelyHaloVivideOpenScriptEditorItem">
  <style data-src="/src/external/font-awesome/css/font-awesome.min.css"></style>
  <style data-src="/src/components/halo/lively-halo-item.css"></style>
  <style data-src="/src/client/vivide/components/vivide.css"></style>
  <style>
    :host {
      background-color: lightgray;
      box-sizing: border-box;
      border: 1px gray solid;
      border-radius: 5px;
    }
    i {
      color: darkslategrey;
    }
  </style>

  <span data-tooltip="Open Script Editor"><i class="fa fa-wrench" aria-hidden="true"></i></span>
</template>
<script class="registrationScript">
  lively.registerTemplate()
</script>
