<template id="lively-halo-vivide-script-suggestion" >
  <style data-src="/src/external/font-awesome/css/font-awesome.min.css"></style>
  <style data-src="/src/components/halo/lively-halo-item.css"></style>
  <style data-src="/src/client/vivide/components/vivide.css"></style>
<style>
  :host {
    background-color: #E1B6F6;
    box-sizing: border-box;
    border: 1px #BC5EEA solid;
    border-radius: 5px;
  }
  i {
    color: #570C7C;
  }

  #rel-container {
    display: none;
    visibility: hidden;
    box-sizing: border-box;
    position: relative;
  }
  :host(:hover) #rel-container, :host(:focus-within) #rel-container {
    display: block;
    visibility: visible;
  }
  #container {
    position: absolute;
    top: 30px;
  }
  ul, input {
    padding: none;
    margin: none;
  }
  ul {
    border: solid 2px black;
    background-color: white;
  }
</style>
  <div id="rel-container">
    <div id="container">
      <input id="suggestion-search" type="text">
      <ul id="suggestion-list">
        
      </ul>
    </div>
  </div>
  <span data-tooltip="Script suggestions"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
</template>
