<template id="lively-halo-vivide-inport-connection-item" data-class="LivelyHaloVivideInportConnectionItem">
  <style data-src="/src/external/font-awesome/css/font-awesome.min.css"></style>
  <style data-src="/src/components/halo/lively-halo-item.css"></style>
  <style data-src="/src/client/vivide/components/vivide.css"></style>
  <style>
    :host {
      background-color: lightblue;
      box-sizing: border-box;
      border: 1px blue solid;
      border-radius: 5px;
    }
    i {
      color: darkblue;
    }

    .foreground {
      z-index: 10000000;
    }
    
    #overlay-container {
      position: relative; /* resets absolute position */
    }
    
    #overlay-target {
      border: 2px blue solid;
      background-color: lightblue;

      opacity: 0.5;
      position: absolute;
      width: 0px;
      height: 0px;
    }
    
    svg {
      position: absolute;
      overflow: visible;
    }
    svg path {
      stroke: blue;
      stroke-width: 2;
      fill: none;
    }

    :host(.broken) #overlay-container, :host(.broken) svg {
      display: none;
    }
    :host(.broken) span i {
      color: red;
    }
    
    #container {
      background-color: red;
      width: 100%;
      height: 100%
    }
    #container:hover {
      
    }
    
  </style>
    <span data-tooltip="Outputs to this target"><i class="fa fa-sign-in" aria-hidden="true"></i></span>
  <div id="container">
  </div>
  <div id="overlay-container">
    <div id="overlay-target" class="foreground"></div>  
  </div>
  <svg class="foreground">
    <path id="path-to-target" class="foreground"></path>
  </svg>
</template>
<script class="registrationScript">
  lively.registerTemplate()
</script>
