<template id="lively-halo-vivide-save-script-item" >
  <style data-src="/src/external/font-awesome/css/font-awesome.min.css"></style>
  <style data-src="/src/components/halo/lively-halo-item.css"></style>
  <style data-src="/src/client/vivide/components/vivide.css"></style>
<style>
    :host {
      background-color: #E1B6F6;
      box-sizing: border-box;
      border: 1px #BC5EEA solid;
      border-radius: 5px;
    }
    i {
      color: #570C7C;
    }
</style>
  <span data-tooltip="Save as script"><i class="fa fa-save" aria-hidden="true"></i></span>
<div id="content">
</div>
</template>
