<template id="lively-halo-vivide-outport-connection-item" >
  <style data-src="/src/external/font-awesome/css/font-awesome.min.css"></style>
  <style data-src="/src/components/halo/lively-halo-item.css"></style>
  <style data-src="/src/client/vivide/components/vivide.css"></style>
  <style>
    :host {
      background-color: lightgreen;
      box-sizing: border-box;
      border: 1px green solid;
      border-radius: 5px;
    }
    i {
      color: darkgreen;
    }
    
    .foreground {
      z-index: 10000000;
    }
    
    #overlay-container {
      position: relative; /* resets absolute position */
    }
    
    #overlay-target {
      border: 2px green solid;
      background-color: lightgreen;

      opacity: 0.5;
      position: absolute;
      width: 0px;
      height: 0px;
    }
    
    svg {
      position: absolute;
      overflow: visible;
    }
    svg path {
      stroke: green;
      stroke-width: 2;
      fill: none;
    }

    :host(.broken) #overlay-container, :host(.broken) svg {
      display: none;
    }
    :host(.broken) span i {
      color: red;
    }
    
  </style>
  <span data-tooltip="Remove This Connection"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
  <div id="overlay-container">
    <div id="overlay-target" class="foreground"></div>  
  </div>
  <svg class="foreground">
    <path id="path-to-target" class="foreground"></path>
  </svg>
</template>