<template id="lively-halo-vivide-open-script-editor-item" data-class="LivelyHaloVivideOpenScriptEditorItem">
    <style data-src="/src/external/font-awesome/css/font-awesome.min.css"></style>
    <style data-src="/src/components/halo/lively-halo-item.css"></style>
    <style data-src="/src/client/vivide/components/vivide.css"></style>
    <span data-tooltip="open script editor"><i class="fa fa-wrench" aria-hidden="true"></i></span>
</template>
<script class="registrationScript">
  lively.registerTemplate()
</script>
