:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

#buttons {
  display: inline-flex;
  height: 30px;
}

#examples-list {
  float: right;
  margin-right: 30px;
  height: 30px;
}

button {
  display: flex;
  padding: 4px;
  margin: 2px;
  border: 1px solid #d5d5d5;
  background: linear-gradient(#fcfcfc, #eee);
  border-radius: 2px;
  font-size: 10pt;
  color: #404040;
  cursor: pointer;
}

button > .text {
  margin-left: 0.5ch;
}

#status-bar {
  padding: 4px;
  border-top: 1px solid rgb(221, 221, 221);
  background-color: rgb(247, 247, 247);
  font-family: monospace;
  color: #333;
}

#status {
  padding: 0 2px;
}

#status.error {
  background-color: hsla(344, 54%, 63%, 0.2);
  border-color: hsla(344, 54%, 63%, 0.6);
  color: rgb(151, 45, 46);
}

#status.warning {
  background-color: rgba(249, 225, 84, 0.6);
  border-color: hsl(30, 100%, 20%);
  color: hsl(30, 100%, 20%);
}

.icon {
  font-family: "FontAwesome";
  display: inline-block;
  cursor: pointer;
  opacity: 0.8;
  min-width: 16px;
  text-align: center;
  margin-top: 2px;
}

.icon.exchange::before {
  content: "\f0ec";
}

.icon.object-group::before {
  content: "\f247";
}

.icon.plus::before {
  content: "\f067";
}

.icon.minus::before {
  content: "\f068";
}
